[2015-08-27 17:47] MSReporter opened #1 "[MSR] Test issue."
# A test issue entry
Reported using the in-game GUI.

Bug reported by 'PotcFdk' (STEAM_0:1:30490065).

[2015-08-27 17:48] edunad commented on #1
SPAMMMMMM

[2015-08-27 17:49] Noiwex commented on #1
Reported
On Aug 27, 2015 8:48 PM, "FailCake" <notifications@github.com> wrote:

[2015-08-27 17:51] MSReporter opened #2 "[MSR] Test issue 2 (label test)."
# Test issue 2
This should automatically set the 'usersubmitted' label.

Bug reported by 'PotcFdk' (STEAM_0:1:30490065).

[2015-08-27 17:51] #1 closed

[2015-08-27 17:51] #2 closed

[2015-08-29 00:08] MSReporter opened #3 "help its on my desk"
oh jesus oh christ it looks like the devil dry humped the biggest wasp queen he could find and the child was born within a 1 mile radius of chernobyl please help soon its getting closer and OH GOD BUZZING

Bug reported by 'Giggle' (STEAM_0:1:30437746).

[2015-08-29 00:09] MSReporter opened #4 "Errors w/ tf2 weapons...even though I own TF2"
Exactly what the description says. I see giant ERRORs on the TF2 SWEPs, even though I own TF2.

Bug reported by 'PatMartins |G4P| #Doom4Hype' (STEAM_0:1:10764898).

[2015-08-29 00:10] #3 closed

[2015-08-29 00:11] notcake commented on #4
Have you tried validating your TF2 cache?
Also screenshot the checkbox menu of games to mount in the Garry's Mod menu for us.

[2015-08-29 00:13] MSReporter opened #5 "World deletion bug with tesla guns and core"
World disappears when you take two tesla guns by the core and set self destruct on both of them at the same time.

Bug reported by '<color=33,91,51>Flex' (STEAM_0:0:58178275).

[2015-08-29 00:18] PotcFdk commented on #5
![screenshot by Flex](http://i.imgur.com/U43qjLa.png)

[2015-08-29 01:05] MSReporter opened #6 "Classroom screen broken"
Player [8][Flex] ERR: Screen error (Entity [941][lua_screen], classroom): (ERR) lua/lua_screens/screens/classroom.lua:41: attempt to call field 'Get' (a nil value)

Bug reported by '<color=33,91,51>Flex' (STEAM_0:0:58178275).

[2015-08-29 01:50] PotcFdk commented on #6
Fixed.

[2015-08-29 01:50] #6 closed

[2015-09-01 16:55] MSReporter opened #7 "Names with expressions in them don't display in chat properly"
Example:
![Example of name not displaing properly](http://i.imgur.com/rv4B519.png)

Bug reported by '<color=0,[sin(t())*255],0>Flex' (STEAM_0:0:58178275).

[2015-09-01 16:55] PotcFdk commented on #7
That's intended, markup in nicknames was annoying.

[2015-09-01 16:55] #7 closed

[2015-09-04 19:25] MSReporter opened #8 "Hooks worth looking into according to profiler."
autorun/tod.lua:814           				sampled      2 times. Took 0.30s
glib/garrysmod/servers/playermonitor.lua:35 sampled      3 times. Took 0.15s
autorun/spellsys.lua:136      				sampled      4 times. Took 0.19s
fast_addons/player_grab.lua:123 			sampled      4 times. Took 0.19s
autorun/csweapons.lua:333     				sampled      3 times. Took 0.15s
weapons/tf_weapon_skullcutter.lua:389 		sampled      2

[2015-09-05 11:05] danielga commented on #8
`weapons/tf_weapon_skullcutter.lua:449 sampled 2 times. Took `

@PotcFdk, do we have a report length limit?

[2015-09-05 14:27] PotcFdk commented on #8
The only things that limit the report length are:
* the GitHub API
* the maximum size of a net message

[2015-09-09 21:15] MSReporter opened #9 "Allow devs to send people out of RP"
Can't send people out of RP due to "You can't just leave RP like that" goto restriction

Bug reported by '<color=33,91,51>Clare' (STEAM_0:0:58178275).

[2015-09-13 13:02] notcake opened #10 "Make name enforcement use YUV color space for distance calculations instead of HSV."

[2015-09-15 20:20] Python1320 commented on #8
Stared at the hooks, not much I can do without major rewrites. Some could maybe just be removed or recoded to not use think hooks over all players, etc

[2015-09-15 20:20] #8 closed

[2015-09-15 20:20] Python1320 commented on #9
We could also code the vote/rate out of rp

[2015-09-15 20:21] Python1320 commented on #4
Validate TF2

[2015-09-15 20:21] #4 closed

[2015-09-18 21:31] notcake opened #11 "Fix gQuery not supporting S('classname')"
S('classname') should be equivalent to S('.classname')

[2015-09-18 22:21] notcake commented on #11
D:<
:dragon_face:

[2015-09-22 02:24] MSReporter opened #12 "Remove unused hooks on disconnect"
Remove hooks from devs that are on the server after they disconnected and a certain time has elapsed (just incase of retries)

Bug reported by '<color=33,91,51>Flex' (STEAM_0:0:58178275).

[2015-09-22 14:43] PotcFdk commented on #12
I personally don't think that we need this and that it would cause a lot of unnecessary trouble.

[2015-09-22 17:50] edunad commented on #12
Lazy Potcfdk :3

[2015-09-22 18:00] PotcFdk commented on #12
This isn't about laziness.

[2015-10-01 00:36] MSReporter opened #13 "Throwbar entity disobeys godmode"
Entity for throwbar when thrown will kill people no matter what

Bug reported by '<color=128,200,200>Flex' (STEAM_0:0:58178275).

[2015-10-01 00:44] LUModder commented on #13
Fixed, invalid now, please close.

[2015-10-01 01:26] #13 closed

[2015-10-02 21:10] MSReporter opened #14 "global sed memory overflows"
When using sed with the global modifier, recursive patterns can cause extremely long frames and out of memory errors.

Bug reported by 'Lixquid' (STEAM_0:1:22847820).

[2015-10-03 14:33] PotcFdk commented on #14
@Lixquid how can I reproduce it?

[2015-10-03 23:53] MSReporter opened #15 "Area Control still works if entity is removed with context menu"
As title says.

Bug reported by '<color=150,100,150>Flex' (STEAM_0:0:58178275).

[2015-10-08 00:01] MSReporter opened #16 "Steam emoticons break chathud messages"
This might apply to many things, but take this as an example:
`Last seen today at 00:52. (01:07:14 ago)`
The :07: is not rendered in the chat.

Bug reported by 'PotcFdk' (STEAM_0:1:30490065).

[2015-10-08 01:21] LUModder commented on #16
:07: seems to be the only broken one

[2015-10-10 16:40] PotcFdk opened #17 "Improve the god mode experience"
As seen [here](http://steamcommunity.com/groups/metastruct/discussions/0/483366528902405708/)

[2015-10-13 00:52] MSReporter opened #18 "!goto doesn't work for nicknames that use markup"
For those people that use multiple <color> (me) and ^ tags

Bug reported by '<color=0,255,0>F<color=0,255,64>l<color=0,255,128>e<color=0,255,196>x' (STEAM_0:0:58178275).

[2015-10-25 01:39] PotcFdk opened #19 "Possible aowl / prop protection bugs"
Giggle: should i reset the server if aowl is half-responsive
Giggle: prop ownership is acting up
Giggle: and certain 'aowl' commands arent working
Giggle: noticed things were fucked up when random players could grab other people's shit
Giggle: regardless of friend settings
Giggle: or being a dev

No idea what this is about, but it doesn't seem right and somebody should maybe investigate.

[2015-10-25 03:20] LUModder commented on #19
Something weird has to be killing CPPI/aowl if this happens, yeah, restart will fix it, but why is it happening is the real question.

[2015-10-25 15:48] Python1320 commented on #19
If it starts becoming a problem I'll re-enable error logging.

[2015-10-25 23:56] MSReporter opened #20 "PAC indicator always spinning when no awesomium"
it's always there and it bugs me

Bug reported by '<color=255,255,255>Napstablook' (STEAM_0:0:58178275).

[2015-10-26 00:01] notcake commented on #20
It's your own damn fault for fucking with awesomium.

[2015-10-26 00:03] meepdarknessmeep commented on #20
im gay :-1:

[2015-10-26 11:23] Python1320 commented on #20
Disable pac ogg (and/or webaudio, not sure which one) and urltex modifiers using their cvars (pac_enable_urltex or something) so they won't try loading.

[2015-10-26 11:23] #20 closed

[2015-10-26 11:25] Python1320 commented on #17
task 1: Send to hell buyable item
task 2: damage reflection or similar

[2015-10-26 11:26] Python1320 commented on #16
there's no current way to signal which part of messages should have emoticons parsed. Originally I had single or double number emoticons banned for this specific reason.

[2015-10-26 11:27] Python1320 commented on #15
can you verify this? could be there was a secondary area control

[2015-10-26 11:29] Python1320 commented on #12
hooks don't have an owner. Too much work for too little gain. Slap the devs who leave their annoying hooks on the server when leaving.

[2015-10-26 11:29] #12 closed

[2015-10-26 11:30] Python1320 commented on #9
Use aowl spawn for now, that works for some reason :s

[2015-10-26 11:30] #9 closed

[2015-10-26 16:22] PotcFdk commented on #16
Maybe they should be rebanned.

[2015-11-01 02:51] LUModder opened #21 "Drop all flash PlayX providers to HTML5"
The big 2
- SoundCloud: https://developers.soundcloud.com/docs/api/html5-widget
- YouTube: drop jwplayer and force everything to use html5 (will break anything disallowed for embedded playing but whatever)

Other's don't really need to be fixed because no one uses them really and files and streaming already use bass.

[2015-11-01 03:00] PotcFdk commented on #21
Pinging @ArcticFqx

[2015-11-01 03:06] LUModder commented on #21
Might as well add Twitch to the list of ones to fix but I don't know if they've even updated their embedded player

[2015-11-01 12:14] MSReporter opened #22 "Chatbubbles err"
Player [23][Qidrokun] ERR: [Hook] PostDrawTranslucentRenderables -> "Chatbubbles" failed: lua/autorun/chatbubbles.lua:72: Tried to use a NULL entity!

Bug reported by 'Python1320' (STEAM_0:0:13073749).

[2015-11-01 19:58] LUModder commented on #22
Pinging @Tenrys since he made them

[2015-11-01 21:10] MSReporter opened #23 "postpone winter"
Postpone winter to december by popularity vote.

Also it's still 10C in finland during the day and it doesn't even go below zero during the night.

Bug reported by 'Python1320' (STEAM_0:0:13073749).

[2015-11-01 21:54] Tenrys commented on #22
fixed by kraken as he remade everything

[2015-11-01 21:55] Tenrys commented on #21
AFAIK awesomium isn't ready for HTML5 features.

[2015-11-01 21:57] Tenrys commented on #18
I don't even get what you mean

[2015-11-01 21:58] Tenrys commented on #16
That seems like a stupid way to handle the problem.

[2015-11-01 22:05] Tenrys commented on #16
I think I've got a solution.

[2015-11-01 22:27] PotcFdk commented on #23
I agree.

[2015-11-01 22:28] #22 closed

[2015-11-01 22:32] Tenrys commented on #16
Fixed.

[2015-11-01 23:00] #16 closed

[2015-11-02 00:11] LUModder commented on #18
People who use multiple markup tags for each letter are unable to be gone to

[2015-11-02 00:19] Tenrys commented on #18
i'll do it later

---- Flex wrote ----

People who use multiple markup tags for each letter are unable to be gone to

---
Reply to this email directly or view it on GitHub:
https://github.com/Metastruct/issues/issues/18#issuecomment-152879746

[2015-11-02 21:56] ArcticFqx commented on #21
When it comes to audio and video, only webm with vp8 encoded video or ogg with theora encoded video and vorbis audio is supported on gmod awesomium. This is not available on all Youtube videos. The way it is set up, it already plays most videos where embedding is disallowed on html5. Twitch uses h264 and aac, so you are stuck with flash there, same goes for any other streaming webpages.

[2015-11-02 22:17] notcake commented on #21
ffmpeg-as-a-service? :V

[2015-11-02 22:40] ArcticFqx commented on #21
oh god no, rip bandwidth on serverbox

[2015-11-04 16:51] MSReporter opened #24 "Scoreboard - Tooltip on Ping/AFK Column"
The Tooltip Text on the Ping/AFK Column (last Column) does not change according to the information it shows (Ping or AFK Time), it only states "Ping" no matter what it shows.

Bug reported by '<color=255,120,0>Google' (STEAM_0:1:66459838).

[2015-11-04 18:45] LUModder commented on #24
Error spam at all of IsAFK being null?

On Wed, Nov 4, 2015 at 8:51 AM, Meta Construct Issue Submitter <
notifications@github.com> wrote:

[2015-11-04 23:47] MSReporter opened #25 "Tremble broken"
[15:46] lua/metastruct/logics/sh_restrictions.lua:81: Tried to use a NULL entity!
  1. __newindex - [C]:-1
   2. SetAllowNoclip - lua/metastruct/logics/sh_restrictions.lua:81
    3. unknown - lua/minigames/games/tremble/sv_tremble.lua:336

People can't noclip if a game is made and it breaks

Bug reported by 'Flex' (STEAM_0:0:58178275).

[2015-11-06 22:25] MSReporter opened #26 "[Usermessage] Unhandled message 'msitems.NPCShopSay'"
I've no idea where its coming from but I just found this in my Console.

Bug reported by '<color=255,120,0>Google' (STEAM_0:1:66459838).

[2015-11-06 22:58] GurgleOS commented on #26
[Usermessage] Unhandled message 'msitems.NPCShopSay' (randomly)
[Usermessage] Unhandled message 'gauth_notification' (directly after I joined the Server)

[2015-11-06 23:13] PotcFdk commented on #26
Pinging @notcake for the latter message.

[2015-11-07 00:40] notcake commented on #26
E_WONTFIX | E_PENDING_ANTITRUST_LAWSUIT

[2015-11-08 16:58] MSReporter opened #27 "afkmera still shows nametag when away if disabled"
pinging @Tenrys to fix

Bug reported by 'Flex' (STEAM_0:0:58178275).

[2015-11-08 16:58] MSReporter opened #28 "je ne peux pas jouer sa lag trop au départ apres sa va bien"
la réponse est dans le titre

Bug reported by 'Herogamer' (STEAM_0:0:1755655664).

[2015-11-08 17:17] PotcFdk commented on #28
I tried to fix the french and then translate it: "I can not play, it's too laggy initially. After that, it's fine."
I think he meant the spawn lag.
Obligatory @Python1320 ping.
Closing this; reopen if necessary.

[2015-11-08 17:17] #28 closed

[2015-11-08 19:20] MSReporter opened #29 "Remove dropping/getting only ^2 amt of coins when high amt coins"
I never got why this existed. Why give/drop in power of 2's when you have a high amount of coins?

Bug reported by 'Flex' (STEAM_0:0:58178275).

[2015-11-10 04:20] MSReporter opened #30 "Command to print all ^ name colors to console"
20:18 - kekekek: I wish there was a command that printed all of the name colors in console

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2015-11-12 18:32] MSReporter opened #31 "Sliders - Physics Crash"
Trying to create a triangle with sliders between each of the (frozen) props and then attempting to individually unfreeze two of the corners with the physgun causes a physics crash.

Steps:
1. Create a plate
2. Create a second plate
   3 Center the face of one plate to the face of the other plate, wither with the Precision tool or Precision Alignment tool.
3. Offset the second plate from the first

[2015-11-14 18:50] MSReporter opened #32 "Fishingmod format error"
[Cmd] 'fishing_mod_request_init' failed for Player [6][Michael Freedom]: lua/fishing_mod/sv_player_stats.lua:97: attempt to concatenate local 'version' (a nil value)
stack traceback:
	lua/fishing_mod/sv_player_stats.lua:97: in function 'LoadPlayerInfo'

Bug reported by 'Python1320' (STEAM_0:0:13073749).

[2015-11-14 19:35] MSReporter opened #33 "Gimbals"
Gimbals change aiming coordinates depending on target movement.

Bug reported by '<color=0,200,255>Bio' (STEAM_0:1:63054980).

[2015-11-14 20:18] Python1320 commented on #32
Basically the file was empty, no idea why.

[2015-11-15 17:51] #32 closed

[2015-11-15 19:25] LUModder commented on #30
Assigning myself to this, feel free to close

[2015-11-16 00:07] MSReporter opened #34 "Erros on Join - lua/plylab/storage.lua:64: bad argument #1 to 'Read' (number expected, got no value)"
[16:04] Player [15][Flex] ERR: lua/plylab/storage.lua:64: bad argument #1 to 'Read' (number expected, got no value)
  1. Read - [C]:-1
   2. load - lua/plylab/storage.lua:64
    3. load - lua/plylab/storage.lua:52
     4. init - lua/plylab/plylab.lua:21
      5. unknown - lua/autorun/plylab.lua:52

[16:04] Player [15][Flex] ERR: markdown module not found, aborting creating XCF wiki!

[16:04] Playe

[2015-11-16 01:04] #30 closed

[2015-11-16 01:05] PotcFdk commented on #34
Does anyone even use that thing? Maybe I should officially abandon that project.

[2015-11-16 03:28] LUModder commented on #34
plylab is only used for labels under nametags but that's it (if that's what you're referring to)

[2015-11-17 03:01] LUModder commented on #33
Wire issue, report on Wire's github instead

[2015-11-17 16:21] #33 closed

[2015-11-18 02:11] MSReporter opened #35 "Font bugs"
Don't tell us there's an error creating the font and just fallback
[18:06] Player [3][ZS] ERR: There was an error creating the font!

times that about 20

This person had probles with chat not updating, PAC editor not working and scoreboard text not showing

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2015-11-18 02:12] LUModder commented on #35
example 1:
[http://i.imgur.com/62amgTb.png]()

[2015-11-19 00:50] MSReporter opened #36 "Whitelist/blacklist for goto"
It'd be nice to have a whitelist/blacklist system of who can goto you. Yes, togglegoto exists, but it still allows people on your steam friends to goto you and it'd just be easier to impliment a list and not have togglegoto exist.

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2015-11-19 08:07] edunad commented on #36
I added a hook for you to allow or disallow the teleporting, that might help

[2015-11-22 19:04] PotcFdk opened #37 "Weapons can be spawned in the lobby with partymode = off"
\<AvastAntiPony> [...] there is in the top a unmarked lobby field
\<AvastAntiPony> so you can spawn weapons into lobby

![screenshot](https://i.imgur.com/dqpEgeD.jpg)

[2015-11-22 20:28] LUModder commented on #37
Can't find the file for it, but the area needs to be raised to about 16316 or higher

[2015-11-26 19:43] MSReporter opened #38 "Polyweld can select players with area select"
It tried to remove player if undone but that's already fixed

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2015-11-26 22:27] Python1320 commented on #38
fixed

[2015-11-26 22:27] #38 closed

[2015-12-05 20:27] MSReporter opened #39 "Add "No IRC users" to scoreboard"
As title says

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2015-12-05 20:28] PotcFdk commented on #39
Only @Python1320 knows how the scoreboard works.

[2015-12-06 15:02] notcake commented on #11
Fixed in srvaddons r11190.

[2015-12-06 15:03] #11 closed

[2015-12-06 15:06] notcake commented on #10
Done in srvaddons r11248.

[2015-12-06 15:06] #10 closed

[2015-12-06 17:28] TW1STaL1CKY commented on #17
I know this is a bit late, but I started working on something to do with this.
Not much at this time

[2015-12-08 09:09] edunad commented on #39
I messed with the scoreboard on meta3 to add easter, its not hard, its easy to add / remove stuff

[2015-12-08 14:23] LUModder commented on #39
Plus I've overhauled it for my old server, I guess I'll be assigned to it

[2015-12-11 14:52] MSReporter opened #40 "disable votekick"
its worse than nothing

Bug reported by 'snip' (STEAM_0:1:20654783).

[2015-12-11 15:07] LUModder commented on #40
Why not up the minimum votes to 10?

[2015-12-11 15:09] PotcFdk commented on #40
Explain how it's worse than nothing. Abuse of the kick command should result in bans.

[2015-12-12 03:15] MSReporter opened #41 "Fonts in name with blacklist"
Bring back font markup in names but blacklist big fonts

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2015-12-12 13:30] PotcFdk commented on #41
I'm against this proposal.

[2015-12-12 13:34] danielga commented on #41
I don't see the point in allowing tiny or Comic Sans names.
So, that's a no from me.

[2015-12-12 14:04] edunad commented on #41
Meh, i don't mind

[2015-12-13 06:45] MSReporter opened #42 "some bug when #2 is ded"
idfk if i told it before... fix the fucking bug!

[ERROR] lua/autorun/client/ircrelay-external-metastruct-scoreboard-crosschat.lua:45: attempt to index a nil value
  1. deluser - lua/autorun/client/ircrelay-external-metastruct-scoreboard-crosschat.lua:45
   2. func - lua/autorun/client/ircrelay-external-metastruct-scoreboard-crosschat.lua:63
    3. unknown - lua/includes/extensions/net.lua:58

Bug

[2015-12-13 08:11] MSReporter opened #43 "some bug in irc chat"
when i do .movie cmd this came URLError: <urlopen error timed out> (file "/usr/lib/python2.7/urllib2.py", line 1197, in do_open) fix it!

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2015-12-13 13:34] MSReporter opened #44 "web bowser"
i hate when im trying to play a video and when i close it the console says this "[HTML] event.layerX and event.layerY are broken and deprecated in WebKit. They will be removed from the engine in the near future."

and i can't stop the video... FIX IT!

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2015-12-13 14:43] #43 closed

[2015-12-13 14:47] PotcFdk commented on #42
Should be fixed, please tell me if it happens again.

[2015-12-13 14:47] #42 closed

[2015-12-13 22:08] LUModder commented on #44
Hey look, something we can't fix because of how outdated Awesomium is...

[2015-12-13 23:18] PotcFdk commented on #44
I don't think this is entirely unfixable. What kind of videos is this even about? PlayX? YouTube?
Obligatory @ArcticFqx ping.

[2015-12-14 15:42] MSReporter opened #45 "hal1320: slap command is broken"
beh the slap is ded AttributeError: 'Config' object has no attribute 'admins' (file "/home/hal1320/sopel/sopel/config/__init__.py", line 166, in __getattr__)

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2015-12-14 17:25] MSReporter opened #46 "keep talking and nobody expoldes"
beh when is mitterdoo fixed the bomb error? bec snip and mike is playing it.. plus the console is spamming like shit.. like sound is missing and this http://i.imgur.com/Shnkuzj.jpg

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2015-12-14 18:25] PotcFdk commented on #46
I have no idea what this is about. @mitterdoo? Can you fix whatever he needs to have fixed?

[2015-12-14 19:59] LUModder commented on #46
I knew I shouldn't of told Bjoern of !bug

[2015-12-14 20:49] MSReporter opened #47 "the party mode command is broken"
it is your fault, flex

Bug reported by '<color=255,0,0>Knotcake' (STEAM_0:1:19269760).

[2015-12-14 21:10] PotcFdk commented on #47
-- cake

[2015-12-14 22:21] LUModder commented on #47
I'll fix it when I get home

[2015-12-14 22:30] PotcFdk commented on #25
@TheFreezebug maybe?

[2015-12-14 22:34] notcake commented on #47
thank you based flexen

[2015-12-14 22:36] LUModder commented on #25
Lixquid and @Tenrys were the last this work on it

[2015-12-14 23:18] PotcFdk commented on #25
So let's also ping @Lixquid and hope one of them fixes it :rainbow:

[2015-12-14 23:43] mitterdoo commented on #46
should no longer be spamming the console anymore. i'm not sure what could be causing it to be spammed in the first place because the line that prints to console should only be called once.

[2015-12-15 01:27] MSReporter opened #48 "nil function being called in ply:IsAdmin()"
[Hook] HUDPaint -> "FlexHUD" failed: lua/aowl/aowl.lua:2000: attempt to call method 'IsFullyAuthenticated' (a nil value)
stack traceback:
	lua/aowl/aowl.lua:2000: in function 'IsAdmin'

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2015-12-15 09:15] PotcFdk commented on #48
@notcake!

[2015-12-15 13:29] MSReporter opened #49 "scoreboard error..."
this what happed if i open the scoreboard..
[ERROR] lua/aowl/aowl.lua:2000: attempt to call method 'IsFullyAuthenticated' (a nil value)
  1. IsAdmin - lua/aowl/aowl.lua:2000
   2. f - lua/fast_addons/client/scoreboard.lua:2046
    3. RefreshTags - lua/fast_addons/client/scoreboard.lua:2123
     4. RefreshTags - lua/fast_addons/client/scoreboard.lua:2880
      5. unknown - lua/fast_addons/client/sc

[2015-12-15 14:14] LUModder commented on #49
Reported in #48

[2015-12-15 16:42] #49 closed

[2015-12-15 19:10] Tenrys commented on #27
iirc that got fixed

[2015-12-15 19:54] #48 closed

[2015-12-15 23:37] PotcFdk commented on #27
Reopen/comment if not fixed.

[2015-12-15 23:37] #27 closed

[2015-12-16 05:52] Lixquid commented on #25
I've literally never touched the base game.

The base game's pants, which is why I rewrote it.

My rewrite is also pants, which is why I never pushed it.

[2015-12-17 23:50] MSReporter opened #50 "Add "load from url" to lua editor"
* Add "From URL" to open or load button
* Praise pastebin and hastebin links as raw data (maybe other paste sites too)

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2015-12-18 00:39] LUModder commented on #50
Might as well assign myself to it since I'm working on it.

[2015-12-18 01:47] LUModder commented on #50
Added via srvaddons commit 11504, please close.

[2015-12-18 12:10] #50 closed

[2015-12-21 15:22] MSReporter opened #51 "AOWL - Command abuse"
The command 'aowl weldlag' is public.
It should be restricted to developers, because it can make lag/spam in the chat.

Players can spam : 'aowl weldlag 0'

Myrage2000.

Bug reported by '<color=0,144,255>Myrage2000' (STEAM_0:1:45897995).

[2015-12-21 16:47] LUModder commented on #51
Fixed via srvaddons commit 11512

[2015-12-21 16:48] #51 closed

[2015-12-21 19:59] MSReporter opened #52 "M3ta map easter egg triggers broken"
AllowAll() and DisallowAll() are causing the triggers to break making it so you're constantly set to In Easter

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2015-12-22 11:24] MSReporter opened #53 "Redeem - Code parsing"
This affects the !redeem menu.
This isn't a huge problem, but I'm reporting it anyway.

When you enter a code including a '/' or a '\' and pressing 'redeem', the menu is still waiting for a callback.
This code is never called in this case :

net.Receive (Tag, function ()
	local type = net.ReadString ()
	if type == GIFTCODE_OPENMENU then
		return OpenDialog ()
	elseif type == GIFTCODE_RD_SUCCS then

[2015-12-22 11:30] MSReporter opened #54 "Exploiting certain strings"
https://facepunch.com/showthread.php?t=1345164
It's working with player names. You can call yourself !name #VAC_ConnectionRefusedDetail
and then you're name is changed to 'You cannot connect to the selected server, because it is running in VAC (Valve Anti-Cheat) secure mode.
This Steam account has been banned from secure servers due to a cheating infraction.'

It's very simple to fix :
if string.s

[2015-12-22 11:42] MSReporter opened #55 "MSA computer - KeyCode"
Players can't use the msa computer when it's locked.
This is currently done by checking if the computer is locked before calling StartKeyCodeI()

If the computer is locked, players can still 'lua_run_cl StartKeyCodeI()' to use it.
The net.Receive("KeyCodeSvR",function(len,ply) end) doesn't check again if the computer is locked.

Bug reported by 'Myrage2000' (STEAM_0:1:45897995).

[2015-12-22 16:55] PotcFdk commented on #53
Should be fixed now, thanks.

[2015-12-22 16:55] #53 closed

[2015-12-22 16:56] edunad commented on #52
I will re-work on these, someone remover those functions

[2015-12-22 18:32] notcake commented on #54
That fix is dumb

[2015-12-22 23:34] MSReporter opened #56 "Network easylua values for crosslua"
As title says

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2015-12-23 00:45] Python1320 commented on #56
this, here, these, we, me? ????

[2015-12-23 02:49] LUModder commented on #56
And names, entity ids (ex _1) and probably some others, this, here and there don't really need to be networked because it's not gonna give out good results.

[2015-12-23 16:56] danielga commented on #54
And this is not even an exploit.

[2015-12-23 21:26] PotcFdk commented on #45
Fixed by merging https://github.com/sopel-irc/sopel-extras/pull/75

[2015-12-23 21:26] #45 closed

[2015-12-24 00:04] #39 closed

[2015-12-24 00:04] #23 closed

[2015-12-24 04:41] MSReporter opened #57 "Wiremod keyboard/tool selector menu issue"
Pressing P while using the wiremod keyboard opens the tool selector menu, the kb never responds to the keystroke

Bug reported by 'pic' (STEAM_0:0:104811679).

[2015-12-24 04:41] LUModder commented on #57
Not a Meta related issue. Report to wire's github.

[2015-12-25 01:03] MSReporter opened #58 "NPCs have certain properties added twice"
Example: https://my.mixtape.moe/feroid.png

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2015-12-26 02:51] MSReporter opened #59 "1337 keycode doesn't log what players say in IRC"
As title says

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2015-12-26 12:05] ghost commented on #59
-ops-

[2015-12-28 01:58] MSReporter opened #60 "server gotoing should let you leave rp"
when are we gonna fix these :v

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2015-12-28 02:15] PotcFdk commented on #34
That specific error should be fixed now, but I don't know what the future of PlyLab is going to look like.

[2015-12-28 02:15] #34 closed

[2015-12-28 02:38] PotcFdk commented on #60
Should be ok now.

[2015-12-28 02:38] #60 closed

[2015-12-28 02:45] LUModder commented on #47
Fixed

[2015-12-28 02:46] #47 closed

[2015-12-28 21:46] Cynosphere opened #61 "gmod-csweapons errors on player join"
[13:44] Player [30][Midori] ERR: lua/weapons/weapon_csbase.lua:44: attempt to index a nil value
1. Initialize - lua/weapons/weapon_csbase.lua:44
   1. unknown - lua/weapons/weapon_basecsgrenade.lua:5

[2015-12-28 21:51] Cynosphere commented on #61
13:50 - Python1320: pretty sure it was because I spawned base cs grenade

[2015-12-28 21:51] #61 closed, assigned to nobody

[2015-12-29 00:30] #57 closed

[2015-12-29 00:30] #54 closed

[2015-12-29 00:31] Cynosphere commented on #41
I guess this isn't being added

[2015-12-29 00:31] #41 closed

[2015-12-29 00:33] Cynosphere commented on #46
I'm assuming this is fixed

[2015-12-29 00:33] #46 closed

[2015-12-29 00:38] Cynosphere commented on #24
Fixed in srvaddons 11547

[2015-12-29 00:38] #24 closed

[2015-12-29 00:46] Cynosphere commented on #55
The var for lockthis needs to be networked.

[2015-12-29 00:52] Cynosphere commented on #59
Fixed via srvaddons 11548

[2015-12-29 00:52] #59 closed

[2015-12-29 15:43] ghost commented on #54
Yes It's an exploit because you can have a longer name that you normally can have.

[2015-12-29 15:48] ghost commented on #54
@myrage2000
if you still want to call it an "exploit"
just block this single string, boom fixed

[2015-12-29 15:50] ghost commented on #54
Not fixed because there is a lot of those strings starting with '#'
It's part of source language thing

[2015-12-29 16:00] PotcFdk commented on #54
It can certainly be annoying... uh... do we want this fixed, @Python1320 @notcake @danielga?

[2015-12-29 16:29] ghost commented on #54
@myrage2000
so what if there's more than one
most strings that aren't closed captions are actually small

[2015-12-29 19:19] MSReporter opened #62 "19:17 - YoungGamerLink: You know what fuck this server im stuck forever"
2015-12-29 19:17 UTC+0000
YoungGamerLink: You know what fuck this server im stuck forever

hostname material

Bug reported by '<color=255,0,0>Knotcake' (STEAM_0:1:19269760).

[2015-12-29 19:48] danielga commented on #54
Ban # from names, problem solved!!1!

[2015-12-29 19:50] notcake commented on #54
That would be discriminatory against '#'. We should ban all punctuation from names uniformly.

[2015-12-29 20:26] MSReporter opened #63 "World entities can be manipulated from the context menu"
Using the context menu and right clicking on world entities, non-admins can manipulate them. Such abilities include driving (and possibly more, like removing them).

Bug reported by 'Knotty' (STEAM_0:0:19576364).

[2015-12-29 20:29] ghost commented on #63
The dreaded elevator is the only one I found.

[2015-12-29 20:36] Cynosphere commented on #63
Need a list of more that can do this

[2015-12-29 23:01] danielga commented on #63
The wall chargers in RP also are affected.

[2015-12-29 23:13] ghost commented on #54
we should just ban names

[2015-12-29 23:24] danielga commented on #54
Henceforth, everybody shall be refered to by their associated numbers. These numbers will start from 1 and will be assigned incrementally to the ingame hours ordered list of players.

[2015-12-30 02:33] Cynosphere commented on #54
So Python's always number 1, huh?

[2015-12-30 17:26] MSReporter opened #64 "Banned player chat can be seen through crosschat"
Apperently this exists for some reason...

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2015-12-30 17:44] Tenrys commented on #64
can i close issues already
fixed

[2015-12-30 17:45] Tenrys commented on #55
uh what? never knew it could be locked?

[2015-12-30 17:47] #64 closed, assigned to nobody

[2015-12-30 17:48] Cynosphere commented on #55
Well of course, it's only locked for players

[2015-12-30 17:50] #62 closed, assigned to Cynosphere

[2015-12-31 15:37] Python1320 commented on #63
elevator was supposed to be such a thing. Wall chargers not so much, but they're Lua-generated so they don't enjoy world protection.

[2015-12-31 20:19] MSReporter opened #65 "Metastruct Fireworks discriminate against UTC+0830"
The people in North Korea won't get fireworks at the right time because of you.

https://www.timeanddate.com/time/time-zones-interesting.html

Bug reported by '<color=255,0,0>Knotcake' (STEAM_0:1:19269760).

[2015-12-31 21:11] danielga commented on #65
[How about... NO!](https://www.youtube.com/watch?v=lITBGjNEp08)

[2016-01-01 00:27] Python1320 commented on #65
Don't forget chinese new year

[2016-01-01 00:51] Cynosphere commented on #65
I don't think Meta is whitelisted in the NK intranet.

[2016-01-01 00:52] Cynosphere opened #66 "Hide blocked markup in names"
It's annoying to see hsv tags in names.

[2016-01-01 03:23] Tenrys commented on #66
If you want them to show up in chat, enable some cvar I added a while ago.
But yes, I should make it hide if it's disabled.

[2016-01-01 12:07] PotcFdk commented on #65
What @LUModder said.

[2016-01-01 12:07] #65 closed, assigned to nobody

[2016-01-01 12:09] PotcFdk commented on #66
What's the point in having hsv tags in your name when they don't work? Why not simply remove them from your nick?

[2016-01-01 16:46] Tenrys commented on #66
The thing is some people put them in their names to have them show up in nametags, regardless of whether you can see them in chathud or not.

[2016-01-01 17:15] Tenrys commented on #66
I'm working on making nametags work with the convar I made a while ago for name decorations in ChatHUD.

[2016-01-02 21:43] MSReporter opened #67 "shadowban feature pls"
for trolls
coh and chatsystem need modification
shadowbanned users should see their own messages in chat

Bug reported by '<color=255,0,0>Knotcake' (STEAM_0:1:19269760).

[2016-01-02 22:14] notcake commented on #67
also can we somehow shadow their prop physics so it only happens on their client? :v

[2016-01-02 22:32] PotcFdk commented on #67
Will this turn into an alternate reality for banned people where they think everything's alright, but to other players, they simply stop existing?

[2016-01-02 22:34] edunad commented on #67
@PotcFdk if that is the case, i demand a blackhole sucking the player in when you ban him

[2016-01-02 22:40] bmwalters commented on #67
![:thumb:](http://i.imgur.com/Ljy1vG2.png)

[2016-01-02 22:43] danielga commented on #67
Pure Lua vphysics simulation, lvphysics.
The shitty port of the shitty physics engine!

[2016-01-02 22:45] Techbot121 commented on #67
watch it become more stable than vphysics.

[2016-01-02 22:49] bmwalters commented on #67
:+1:

[code]

[2016-01-03 00:01] Cynosphere opened #68 "Chatbubbles unrenders itself and demo screen when they're next to eachother"
@Tenrys ping

[2016-01-03 03:56] Cynosphere opened #69 "tod renders everything black on non gm_construct_m maps"
Dunno why it does this. I know that's a main reason why we removed tod on server 2 cause it wasn't playing nice with m3ta maps but it'd be nice to have it back.

[2016-01-03 13:51] edunad commented on #69
One of the big ussues why we disabled tod on m3ta, was that, it messed up shadows on textures  and the only way to fix that (if i recall) was to run reloadmaterials on clients, or spawn a light and removing it

[2016-01-03 16:28] Tenrys commented on #66
done

[2016-01-03 17:28] Cynosphere commented on #69
I'm singleplayer testing this on a different map and I don't have the black bug but this happens and it wont fix itself

![](https://my.mixtape.moe/pqttso.png)

[2016-01-03 21:10] MSReporter opened #70 "GAuth bugs on join"
[13:09] Player [19][Flex] ERR:
    gauth/gauth.lua:301: Tried to use a NULL entity!
         1: GetFriendStatus (NULL, "Tried to use a NULL entity!") [[C]: -1]
         2: (_ = { table: 0x6968e198 }, ply = NULL, userId = "STEAM_0:1:86968752", isLocalPlayer = false) [gauth/gauth.lua: 301]
         3: xpcall (function (message)) [[C]: -1]
         4: DispatchEvent (self = { table: 0x680f3ee0 }, even

[2016-01-03 21:19] #66 closed, assigned to nobody

[2016-01-03 21:48] Cynosphere commented on #69
So no one's gonna fix it, huh?

[2016-01-03 21:49] edunad commented on #69
Already said you get textures issues. Just look at PACS in meta build zone, messed up

[2016-01-03 21:54] Cynosphere commented on #69
I never see any PAC issues in build area

[2016-01-03 22:18] edunad commented on #69
Ligthing issues in general

[2016-01-03 23:57] MSReporter opened #71 "Adv Teleporter Errors"
[15:56] lua/entities/gmod_advteleporter.lua:221: attempt to index a nil value
1. GetOwnerPlayer - lua/entities/gmod_advteleporter.lua:221
   1. CheckFriendship - lua/entities/gmod_advteleporter.lua:232
   2. Teleport - lua/entities/gmod_advteleporter.lua:261
      1. unknown - lua/entities/gmod_advteleporter.lua:332

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-01-04 18:38] ghost commented on #70
Check if the player is valid before using it in that function ?

[2016-01-04 21:00] MSReporter opened #72 "!goto doesn't work for certain nicks"
Apparently it happens when there are markup tags in the nick.

Bug reported by 'PotcFdk' (STEAM_0:1:30490065).

[2016-01-04 21:00] notcake commented on #72
Here be dragons :dragon_face:

[2016-01-04 22:05] MSReporter opened #73 "Cinema lights are broken on gm_construct_m_128"
They won't turn dark when a video starts.

Bug reported by 'PotcFdk' (STEAM_0:1:30490065).

[2016-01-04 22:34] Cynosphere commented on #72
I already reported this forever ago but no one fixed it

[2016-01-07 19:20] zxz41 commented on #36
I know this issue is old. But I agree with having so that you can blacklist/whitelist atleast one or more people, instead of completely disabling it. Why haven't this been implemented yet?

[2016-01-07 19:36] notcake commented on #36
We apologize for any inconvenience caused.

This is now our top priority and both the Metastruct localization and product testing teams have been reassigned to work on this.

[2016-01-07 19:54] zxz41 commented on #73
@PotcFdk Running `ent_fire light TurnOff` seemed to work. Likely lua side. Can't do much about it myself.
http://i.imgur.com/wlpbsam.jpg
(Ignore the colored stuff)

[2016-01-07 19:58] Cynosphere commented on #36
Do you guys not see who's assigned to this? I'll work on it in my free time

[2016-01-07 19:58] zxz41 commented on #69
What map

[2016-01-07 20:06] notcake commented on #36
Flex you still haven't submitted last week's TPS reports.

[2016-01-07 20:57] PotcFdk commented on #73
@Python1320 the entity classes seem to be off. Have they changed in the vmf?

[2016-01-08 02:50] Cynosphere commented on #69
Map I was using was Genesis but it does it with most maps

[2016-01-08 03:30] Cynosphere opened #74 "SCAP blocker?"
Dunno if anyone wants to do this, but like a block on all or based on like friends broadcast of SCAPs you can receive. Would be useful if someone just decided to spam you with useless SCAPs and they won't stop.

EDIT: I mainly posted this as if people see this as needed/wanted or not

[2016-01-08 03:31] Cynosphere commented on #72
Yeah, #18 was when I reported it

[2016-01-08 03:35] Cynosphere commented on #35
No one has been able to replicate this so

[2016-01-08 03:35] #35 closed

[2016-01-08 03:38] Cynosphere commented on #19
Has this been able to be recreated or happen again since?

[2016-01-08 03:39] Cynosphere commented on #15
Dunno if it bug has been recreated

[2016-01-08 03:41] Cynosphere commented on #44
Dunno if it's happened again, reopen if it has

[2016-01-08 03:41] #44 closed

[2016-01-08 03:41] Cynosphere commented on #40
No explanation was given on this and I doubt there will be at all

[2016-01-08 03:41] #40 closed

[2016-01-08 04:06] Cynosphere opened #75 "m3ta mapdata misaligned"
Apperently FailCake moved the whole lobby upwards so all the gotos, the core and all that is broke.

[2016-01-08 13:17] Zeni44 commented on #74
It would be good to have something like that.

http://pastebin.com/uQKW8S7R
I got this to hide the scap popup. It doesnt block it but atleast it keeps that text off your screen ( except the chat message one )

EDIT: I made a new scap block version.
http://pastebin.com/xdTfVw0t
It completely blocks scap now, no more messages.

[2016-01-08 13:50] #72 closed, assigned to nobody

[2016-01-08 15:08] PotcFdk commented on #75
Every dev can fix this, not just @edunad.

[2016-01-08 15:10] edunad commented on #75
Don't fix it yet, python or who ever did it, when adding the flatgrass moved the map even more, breaking all the m3ta screens, ill keep working on the map soon, and try to add the build zone

[2016-01-08 16:41] ghost commented on #73
I remember the keycode 'lightsout' in the MSA computer did something on the theater lights, no ?

[2016-01-08 16:43] Cynosphere commented on #74
Yeah but I was thinking disabling even sending to that person and when you hover over the disabled button it says "%s has disabled receiving scaps (from you)"

[2016-01-08 17:15] PotcFdk commented on #73
That's unrelated to this issue. I know what's causing it, but I don't know why things were changed the way they were changed.

[2016-01-08 17:16] PotcFdk commented on #74
Why do we have to make every single feature toggleable? It seems a bit annoying to me.

[2016-01-08 17:22] Cynosphere commented on #74
Because people decide to abuse it and it can get really annoying to just have random SCAPs sent to you that aren't related to anything. togglegoto was invented to not be annoyed by other players so yeah. It's something we can't fully stop but at least temporarily stop.

[2016-01-08 18:13] PotcFdk commented on #74
Why is it something that "we can't fully stop"? Shouldn't SCAP spam be handled just the same way chat spam is?

[2016-01-08 20:05] zxz41 commented on #74
Because it's what the community wants.
EDIT: And Metastruct already (still) lack a lot of fine tuned blacklisting and blocking (from personal experience)

[2016-01-08 20:15] zxz41 commented on #67
Is this actualy being worked on, or is it a joke? And if so can we close it.

[2016-01-08 20:18] zxz41 commented on #73
I don't see how it is completely unrelated to this issue. It could have been messing up the lights. Did you find out why they were changed?

[2016-01-08 21:55] PotcFdk commented on #67
It will be closed when internal discussions end.

[2016-01-08 21:58] PotcFdk commented on #73
@zxz41 As I already pointed out [here](https://github.com/Metastruct/issues/issues/73#issuecomment-169802950), the entity classes seem to have changed. This is a recent observation that I made when I last played a video in the cinema and looked up the function source ingame. The MSA computer has nothing to do with this.
I am not actively working on this bug.

[2016-01-08 23:56] danielga opened #76 "Meta Construct is cancerous..."
...and nothing good or productive has ever come out of it.

We're also the gayest server in all of Garry's Mod.

We need solutions to fix this deeply rooted problem in our community.
Maybe a code of conduct.

[Source](https://facepunch.com/showthread.php?t=1500597&p=49483625&viewfull=1#post49483625)

[2016-01-08 23:57] SwadicalRag commented on #76
:+1:

[2016-01-08 23:58] kalis0x commented on #76
You should unban hvhgod :8ball:

[2016-01-08 23:58] SpencerSharkey commented on #76
:100:

[2016-01-09 00:05] kalis0x commented on #76
:1234:

[2016-01-09 00:09] edunad commented on #76
You should update the post with the reason of hes ban (if he was, in fact, banned)

[2016-01-09 00:20] marcogravbrot commented on #76
We should put him in an alternate universe!

[2016-01-09 00:28] zxz41 commented on #76
Except all the security patches and chatsounds and whatnot

[2016-01-09 00:30] zxz41 commented on #76
^

[2016-01-09 00:31] zxz41 commented on #73
@PotcFdk oh right. My fault

[2016-01-09 00:36] Cynosphere commented on #76
-snip being serious on a joking matter based issue-

[2016-01-09 00:36] danielga commented on #76
This is not proper behavior @LUModder. I'll have you removed at once if you keep it up.

[2016-01-09 01:23] ghost commented on #76
:hankey:

[2016-01-09 01:51] SwadicalRag commented on #76
#SkidLivesMatter

[2016-01-09 01:57] MSReporter opened #77 "Area control errors"
[17:56] [Hook] PlayerSpawnVehicle -> "ACtrl" failed: lua/entities/sent_areacontrol/shared.lua:23: attempt to index local 'pl' (a nil value)
stack traceback:
    lua/entities/sent_areacontrol/shared.lua:23: in function 'func'
    lua/includes/modules/hook.lua:96: in function <lua/includes/modules/hook.lua:87>
    [C]: in function 'xpcall'
    lua/includes/modules/hook.lua:129: in function 'Call'

[2016-01-09 03:34] kalis0x commented on #76
#TylerWearingMemesMatter

[2016-01-09 08:14] brandsjek commented on #76
just got my mail server back up, i just see my inbox spammed with this... what is this about? looks like the OP is butthurt because he was banni'd?

[2016-01-09 17:08] MSReporter opened #78 "Banned users can send SCAPs"
banned users can still use scaps .-. FIX IT! plus add some cmd to toggle player to send scaps bec ppl is spamming today .--.

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-01-09 17:47] Avernakis8 commented on #78
Doth you mean me spammi? kek

[2016-01-09 20:08] LUModder commented on #78
#74

[2016-01-09 20:08] Cynosphere commented on #78
i didn't read it fully

[2016-01-09 20:09] Cynosphere commented on #78
also #74 for the latter of "stop spamming"

[2016-01-10 00:18] MSReporter opened #79 "two methods of having an invisible name"
These won't allow you to have no name at all but they still look invisible in chat.

1st Method (probably the most known):
- have a single color tag in your name

2nd Method (only displays invisible in chat)
- start by adding a ^color code (^1-9) in your name
- add an invisible character
- add an invalid ^ code (^ followed by a letter, e.g. ^G)

100% unplayable devs pls fix

Bug reported by 'Ghost

[2016-01-10 00:19] ghost commented on #79
*reported by me
also what the fuck the 2nd method got butchered, can someone edit that please

[2016-01-10 09:40] ghost commented on #78
Yeah I had the same problem yesterday.
A banned player kept sending me scaps.

[2016-01-10 13:30] edunad commented on #74
We could just implement a cooldown on scap sending. Perhaps 2 mins cooldown after sending a scap?

[2016-01-10 13:35] PotcFdk commented on #74
Nah, that could be quite annoying. A cooldown for scaps with multiple recipients, perhaps?

[2016-01-10 13:39] edunad commented on #74
You could apply the cooldown to that user you just sent instead of a global one

[2016-01-10 13:42] notcake commented on #74
"Block future SCAPs from this user this session" button on the SCAP image window?

[2016-01-10 13:47] Zeni44 commented on #74
Couldnt they just rejoin to avoid it ?
Would be pretty annoying though to block that person every session.
Make it forever instead of current session.

[2016-01-10 13:53] notcake commented on #74
No it'd be a Steam ID block for the duration of the blocking user's session.

[2016-01-10 14:04] edunad commented on #74
@notcake i like your solution (hes not threating to eat me, totally) , my only concern would be if you missclicked, how could you unblock?

[2016-01-10 14:34] notcake commented on #74
rip

[2016-01-10 15:29] Flippylosaurus commented on #78
BANNI FOR SPAMMI

//
Deze mail is - indien anders aangegeven - vertrouwelijk en alleen
bedoeld voor de ontvanger
(reply@reply.github.com).
Indien u deze mail per abuis heeft ontvangen, gelieve de mail te
vernietigen en de verzender (hillebrand@flippylosaurus.eu) per direct te
contacteren.

This mail is - if not mentioned otherwise - confidential and only meant
for the recipient
(reply@reply.github

[2016-01-10 15:31] Flippylosaurus commented on #78
BANNI FOR SPAMMI

On 01/09/2016 06:47 PM, Beauty-Bomber wrote:

[2016-01-10 15:38] zxz41 commented on #74
Couldn't you/we just make a blacklist in the data folder that contains the player ID followed by what to block? For now it could just be blocked with `!block failcake,scap` and `!unblock failcake,all` and later on get it's own tab in the chat window? (or whatever that goes)

The blacklist txt file could look something like this

[code]

A few other functions like `GROUP:banned=all` and `TAG:pirate

[2016-01-10 16:05] Cynosphere commented on #74
@zxz41 So pretty much extend out friends broadcast to be more than just allow and block but for everything else in between too

[2016-01-10 16:06] notcake commented on #74
Flex call it safe_space.lua

[2016-01-10 16:06] Zeni44 commented on #74
Wouldnt it be better though to block over the scap menu with a button ( like @notcake said ) and not chat since players are going to be like
"Y U BLOCK ME"
Except if you add <code>return ""</code> at the end of the code

[2016-01-10 16:06] notcake commented on #74
BUT TOASTY THAT SAFE SPACE ISN'T SAFE AND PADDED ENOUGH. REALITY CAN STILL SHINE THROUGH.

[2016-01-10 18:30] edunad commented on #52
This got fixed by python with a revert

[2016-01-10 18:30] #52 closed

[2016-01-10 22:59] Cynosphere opened #80 "Pointless drama needs to stop"
I know this isn't a technical issue and all, but it needs to be addressed because I know I and other devs are tired of seeing/hearing it. The pointless arguments need to stop. Yes, I am the cause of it mostly, but I will stop if people stop bringing it up.

Key people: Lixquid, Henke, Toasty

[2016-01-10 23:00] notcake commented on #80
tl;dr of drama please

[2016-01-10 23:01] Cynosphere commented on #80
Henke thinks I'm spreading lies. Lixquid annoying other players with certain scripts he works on or tests and people call him out on it and he just argues about it. Toasty just makes stupid pointless comments on the drama

[2016-01-10 23:11] danielga commented on #76
The joke is dead. Everybody go home.

[2016-01-10 23:11] #76 closed, assigned to nobody

[2016-01-10 23:14] danielga commented on #80
This should have been posted on the Metastruct Steam forums. They're kinda shit but everybody on Metastruct is on Steam so there's nobody that can say "I couldn't post anything because I don't have an account!!! And I'm not going to make one just to _insert expletive here_!!!". But ok, we'll see.

[2016-01-10 23:26] Cynosphere commented on #80
I put it on here because I more wanted devs to comment on it and the people I mentioned I know have a github account.

[2016-01-10 23:59] PotcFdk opened #81 "Allow commenting on issues via in-game GUI"

[2016-01-11 05:00] SwadicalRag commented on #76
you're ded

[2016-01-11 11:42] Lixquid commented on #80
Useless Issue, keep your personal issues out of the technical issues repository.

[2016-01-11 11:42] #80 closed, assigned to nobody

[2016-01-11 14:07] Cynosphere commented on #80
It's not really personal issues when the whole server knows about it :v

[2016-01-11 15:31] Zeni44 commented on #80
Excuse me? I see you and Lix arguing again and you are blaming me for apparently telling something and also respond with "Fuck you Toasty" so I responded back with fu.
That was literally the only "stupid pointless comment" I can remember.
But well this is closed now.

[2016-01-11 15:37] zxz41 commented on #80
@LUModder @ToastyEngineer
**Stop complaining here.** This is meant for technical issues. As @Lixquid said

For any other issues related to drama etc. Contact a high tier dev on Metastruct, @PotcFdk on IRC **OR** post it on http://steamcommunity.com/groups/metastruct/discussions/1/

Just make sure to do it in the next ~48 hours (or else they'll concider it "not related" (based on own experiences) e

[2016-01-11 15:46] Cynosphere commented on #80
@zxz41 Stop back seat moderating.

[2016-01-11 15:48] Zeni44 commented on #80
^

[2016-01-11 15:58] Lixquid commented on #80
The issue is closed. All parties should take this discussion elsewhere.

[2016-01-11 22:01] Tenrys commented on #79
this doesn't really matter though does it?

[2016-01-11 22:33] Cynosphere commented on #79
Does and it doesn't, its a hassle to get someone's ent ID for a ban if
they're using a blank name, even more if two people are.

[2016-01-12 08:15] Lixquid commented on #79
However, people using names that contain no Latin script, like Russian
players, also have "untargetable" names, completely by accident. It's
pretty much an impossible problem to force someone to have a targetable
name at all times without some serious code.

A better alternative for devs is to turn on Dev mode for the scoreboard,
and use the EntID syntax (`_123`).
On 11 Jan 2016 10:33 pm, "Flex" n

[2016-01-12 08:47] PotcFdk commented on #79
I personally have an issue with those people because you can't talk to them. Even Player[number] would be better than an invisible name. It just feels so annoying to see chat messages without any name.

[2016-01-12 08:49] Lixquid commented on #79
I have no opinion about community guidelines regarding blank names; I can
see why they'd be annoying. My stance is only that a programmatic solution
would be difficult.
On 12 Jan 2016 8:47 am, "PotcFdk" notifications@github.com wrote:

[2016-01-16 04:22] Cynosphere opened #82 "PAC banning"
Since PAC stealing has been on the rise lately, and that Caps' global ban system has been abandoned, some other well known people that do PAC have been discussing a way to just ban people from PAC. People might find it unfair that people are getting banned form the server just for stealing PACs. I know it won't be a perfect system as people will find ways around it if they care enough, but it's so

[2016-01-16 11:43] PotcFdk commented on #82
I guess @CapsAdmin (hopefully (?)) wouldn't be against adding an interface to PAC that would allow for external addons to decide whether a player can use the system or not. If I understood it correctly, he removed the old system because it came with PAC and wasn't really designed to be disabled by server owners either. Then, in that case, we could build/curate a "Metastruct PAC Stealer" block list

[2016-01-16 15:43] MSReporter opened #83 "Adv. Duplicator Area Copy is broken"
y advdupe2 no work

Bug reported by '<color=119,146,0>UnKnao' (STEAM_0:1:33890317).

[2016-01-16 17:10] Cynosphere commented on #83
AFAIK, Area Copy has been buggy saying "invalid head entity for ghosts". I suspect it's the area_dupe file in fast_addons maybe but I haven't tried to use Adv Dupe 2 on other servers than Meta and mine.

[2016-01-17 00:15] Cynosphere opened #84 "Steam ID bans should print a ban message with last seen name of steamid"
We have to rely on people getting Bad Example achievement, EPOE or IRC to see if the ban went through or not for players not online.

[2016-01-17 01:06] MSReporter opened #85 "ply:SetNick() doesn't work on banned players yet they can do !name"
why is this possible

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-01-17 06:22] SpiralP commented on #85
fixed

[2016-01-17 06:22] #85 closed, assigned to nobody

[2016-01-18 21:32] MSReporter opened #86 "Advdupe 2 doesnt work after a lag out"
advanded duplicator 2 always says duplicator is busy after a big lag out ( prevents me from chatting too), the only way it resets is if the server crashes or restarts

Bug reported by '<color=119,146,0>UnKnao' (STEAM_0:1:33890317).

[2016-01-18 21:37] PotcFdk commented on #86
Is #83 related?

[2016-01-18 23:36] Cynosphere commented on #86
Shouldn't a retry fix this?

[2016-01-19 00:04] PotcFdk commented on #86
That's not a fix, that's a workaround.

[2016-01-19 23:50] Cynosphere commented on #83
[This might of fixed area copy, untested though](https://github.com/garrynewman/garrysmod/commit/277f36ca2698debd013c5526bb6ebeaf43d293fa)

[2016-01-20 14:56] MSReporter opened #87 "uuh plate bug?"
when i spawn a 32x32 plate this happes http://i.imgur.com/smu9Sjv.jpg is this a bug or woot? or it's just to prevent players to spam them? how can i spawn my private box .-.

FIX IT FILEX!

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-01-20 15:05] #87 closed, assigned to nobody

[2016-01-20 15:06] Cynosphere commented on #87
It was probably spam restricted for a reason

[2016-01-20 15:26] MSReporter opened #88 "Precache limit in SrvInfo needs updating"
nvm it's fixed after server restarted... maybe just check if there's any bug that triggered it? btw i never seen the model could reach to 102% O.o http://i.imgur.com/ZY0Rb2B.jpg

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-01-20 15:38] Cynosphere commented on #88
Precache got upped to 4096 in latest update but SrvInfo hasn't been updated

[2016-01-20 17:32] Tenrys commented on #83
How could a removed unneeded local variable fix anything?

[2016-01-24 22:09] Cynosphere opened #89 "Sitting on certain map objects that remove themselves remove players"
Not related to anything on a Meta map, but still a general bug. Mainly maps with trains (like rp_city17_district47), if you sit on the moving train, once it's through the tunnel, it removes itself and your player.

[2016-01-26 01:31] Cynosphere opened #90 "Mapdata needs more sit nodes and some need to be fixed"
One's to fix:
![](http://i.imgur.com/IeTTRug.jpg)
One's to add:
- Corner benches
- Bench next to bathroom/suana enterence
- Spawn benches
- Demoscreen benches

[2016-01-26 03:02] Cynosphere opened #91 "Add npc mapdata nodes to m3ta"
http://pastebin.com/6HbreU3P

Credit to @mrpotatofactory

[2016-01-26 03:04] Cynosphere commented on #91
It's missing angles for the sit nodes but that isn't hard

[2016-01-26 19:14] MSReporter opened #92 "tooglegoto"
man fix the togglegoto ffs it's been ded for a few days .-.

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-01-26 20:45] ghost commented on #91
dead

[2016-01-26 20:57] PotcFdk commented on #91
@TrenchFroast could you please not bump bug reports anymore?

[2016-01-26 21:54] moonexpr commented on #91
This list isn't complete btw
I'll go ahead and upload a longer list that expires in a week

[2016-01-26 22:08] Cynosphere commented on #91
Its a start at least for people to add on to

[2016-01-27 01:06] moonexpr commented on #91
Temporary Map Data:
http://pastebin.com/VNnhhbbR

Handy Command:
http://pastebin.com/Bee39sHb

[2016-01-27 02:02] Cynosphere commented on #92
Not descriptive enough... makes me want to impliment a blacklist to the issue reporter...

[2016-01-27 02:02] #92 closed, assigned to nobody

[2016-01-27 02:03] Cynosphere commented on #69
Seriously, no one CBA to fix this still? I'd love to use this on FlexBox instaed of laggy, pirated Simple Weather :v

[2016-01-27 06:08] PotcFdk commented on #69
Stop stealing stuff and making people feel like they should be helping you with that, even.
Jesus. Even marking this as "priority". Can it get any more selfish?

[2016-01-27 14:06] MSReporter opened #93 "the togglegoto... and banni bug?"
ok sorry if i suck at the bug reporter... all i ment players can goto to players even they toogled it.. fix it tho..

plus is banned players allowed to use the inventory? bec the french minebag keep using poison while im dragged him to the rp to steal all coins from him .-. (i know the fucking coins are still useless! FFS)

suck that toasty! happy now?!?

Bug reported by '^7Bjoern90 (DEN)' (STEAM_

[2016-01-27 14:09] Cynosphere commented on #93
You didn't have to make a new issue for it, you could of reopened the other one...

[2016-01-27 14:09] #93 closed, assigned to nobody

[2016-01-27 14:11] Cynosphere commented on #69
Don't fix a bug that's existed for 2+ years then... I don't really care if you're gonna act like that about it :v

[2016-01-27 14:29] PotcFdk commented on #93
See #92

[2016-01-27 14:37] Tenrys commented on #69
aren't you a developer? fix it yourself if it bothers you that much.

[2016-01-27 15:21] Cynosphere commented on #69
I'd fix it if I knew what was wrong

[2016-01-27 15:31] CassiaPurple commented on #69
Could it possibly be something in the code that controls the lighting based on the position of the sun? That's just based off initial observation also idk why I even give advice I don't lua.

_edit_
Also could the normal meta maps have special light maps that is only there and the other maps don't have them and the code uses them

If I knew how to lua I would attempt to figure it out myself

[2016-01-28 02:29] ghost commented on #91
@PotcFdk woah sorry i didn't know a 1 day bug report was considered dead

[2016-01-28 03:24] Cynosphere commented on #91
@TrenchFroast stop being stupid, it isn't a bug either

[2016-01-28 11:33] PotcFdk commented on #91
@TrenchFroast Neither is this issue dead nor is that relevant to the fact that you shouldn't post comments when they don't add anything new. It just annoys people with unnecessary e-mails.

[2016-01-28 18:41] ghost commented on #91
omfg why just stop
i didnt know posting a mindless message would cause such a shitstorm
now just stop because youre giving me unnecessary notifications

also to point something out the "anymore" there was completely uncalled for because i don't go ahead and post a four character comment on every single new issue do i

[2016-01-29 17:34] MSReporter opened #94 "Scoreboard - Time Column Icon Bug"
Scoreboard adds the vcard icon (time column) to IRC, Other Servers, etc. even though they don't have a value.

Screenshot:
![](http://puu.sh/mOi4W/73b1e4834d.jpg)

Bug reported by '<color=255,120,0>Google' (STEAM_0:1:66459838).

[2016-01-29 18:04] Cynosphere opened #95 "msreporter - add markdown buttons"
`Originally: msreporter - gsub image links to have ![](url)`
~~Make it so images embed into the issues instead of links~~
Add buttons to the submitter gui for markdown

[2016-01-29 18:08] Tenrys commented on #95
Can't you use markdown in-game?

[2016-01-29 18:14] danielga commented on #95
How would you know a link is to an image? I can tell you right now imgur doesn't care about extensions. List of image hosts? Still doesn't sound very helpful. Mime types? Requires a GET from the server for each request. I don't see this being automated. Markdown _should_ be supported on the ingame submitter (but I might be talking out of my ass). Can't expect people to know Markdown though.

[2016-01-29 18:36] Cynosphere commented on #95
Do what chathud image URL does for links

[2016-01-29 18:48] Tenrys commented on #95
Which is?

[2016-01-29 18:50] Cynosphere commented on #95
AFAIK its extension based except for some sites like steam images

[2016-01-30 14:05] PotcFdk commented on #95
@danielga Markdown does work in the issue submitter.
@Tenrys It's basically a whitelist.

[2016-01-30 17:16] Cynosphere commented on #95
Maybe we should just add markdown buttons to the UI instead that do that action

[2016-01-30 21:08] Tenrys commented on #95
Great idea.

[2016-01-30 21:11] Tenrys opened #96 "Export old to-do list content here?"
Should we move some of the most important issues / to-do items from [the old to-do list we had that nobody used](http://metastruct.org/todo/) here?

[2016-01-30 21:13] PotcFdk commented on #96
@Python1320 is that page still in use?

[2016-01-30 22:13] Cynosphere commented on #96
The page still works, you just have to log into SSO first, but yeah, it's a good idea to port everything over.

[2016-01-30 22:31] Tenrys commented on #96
I know it does, it's just because nobody uses it and it has more visibility and is more relevant here.

[2016-01-30 22:37] Cynosphere opened #97 "fix inventory items duplication"
Not really much was given on this bug. But I'm assuming it had to do with disconnecting and stuff. Close if it has been fixed already

[2016-01-30 22:38] Cynosphere opened #98 "death with propeller engine makes the engine run forever with annoying sounds"
Whenever someone died with the propeller engine on and flying, the noise would continually run. Close if already fixed

[2016-01-30 22:39] Cynosphere opened #99 "GVote prints to EPOE for non-admins with autologin on"
As title says

[2016-01-30 22:40] notcake commented on #99
Intentional, wontfix.

[2016-01-30 22:40] Cynosphere opened #100 "you can spamdrop weapons too quick"

[2016-01-30 22:40] #99 closed, assigned to nobody

[2016-01-30 22:41] Cynosphere opened #101 "booting players exploit not fixed"
Needs more info if it's not already fixed

[2016-01-30 22:42] Cynosphere commented on #96
I've started to move stuff over

[2016-01-30 22:43] Cynosphere opened #102 "flashlight crysis style menu"

[2016-01-30 22:44] Cynosphere opened #103 "shift+z undo menu"

[2016-01-30 22:44] Cynosphere opened #104 "easy prop options on right click somehow"

[2016-01-30 22:46] Cynosphere opened #105 "more custom sounds"
[code]

[2016-01-30 22:47] Cynosphere opened #106 "findlag toolbox"

[2016-01-30 22:48] Cynosphere opened #107 "add room for 18+ content with a separate chat channel"
I know this was being worked on not that long ago.

[2016-01-30 22:49] Cynosphere opened #108 "chat: paste link -> choose between open/send"

[2016-01-30 22:50] Cynosphere opened #109 "lua_editor: serverside pastebin with history?"

[2016-01-30 22:51] Cynosphere opened #110 "sprops workshop subscribe link (and other WS addons)"
Might import my addons spawnmenu tab if we can agree on that.

[2016-01-30 22:55] Cynosphere opened #111 "network cross-server ranks and player colors"
It could be hard for new players to know who's a dev without going to the other server

[2016-01-31 16:39] Lixquid commented on #98
I believe that's intentional.

[2016-02-01 15:57] MSReporter opened #112 "when will snow end"
ay i wonder when the snow in meta gonna be removed? i miss the grass

( i know i can change the texture ffs but the snow walk sound is still there heul)

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-02-01 15:58] Lixquid commented on #112
You're right.

It is a stupid way to ask.

[2016-02-01 16:04] Cynosphere commented on #112
March

[2016-02-01 16:04] #112 closed, assigned to nobody

[2016-02-03 01:01] MSReporter opened #113 "Add ban button on SCAP view window"
send me scap spam now motherfuckers

Bug reported by '<color=255,0,0>Knotcake' (STEAM_0:1:19269760).

[2016-02-03 01:34] PotcFdk commented on #113
Shouldn't SCAP just be considered part of the chat / game? In that case, spamming it should be bannable, just like normal chat or prop spam.

[2016-02-03 01:55] Cynosphere commented on #113
i agree it's a total waste

(yes lets make it bannable)

[2016-02-05 17:21] MSReporter opened #114 "banned people can send scaps"
someone got banned for spamming scap and is still sending them even though they are banned

Bug reported by 'snip' (STEAM_0:1:20654783).

[2016-02-05 20:02] CassiaPurple commented on #114
Please do something about it I was playing yesterday and was being spammed by the person in question who got banned

[2016-02-05 21:30] ghost commented on #114
wasnt there already an issue about this

[2016-02-05 22:43] CassiaPurple commented on #114
No but there was one about adding the ability to disable scap altogether

[2016-02-05 23:38] Lixquid commented on #114
Duplicate of #78

[2016-02-05 23:38] #114 closed, assigned to nobody

[2016-02-06 03:01] Cynosphere commented on #78
Fixed both banned players from sending SCAPs and added SCAP blocking commands + disabling of SCAP

[2016-02-06 03:01] #78 closed, assigned to nobody

[2016-02-06 03:01] Cynosphere commented on #113
Added command for it

[2016-02-06 03:01] #113 closed, assigned to nobody

[2016-02-06 06:35] CassiaPurple commented on #114
Oh it was a duplicate oop

[2016-02-06 16:09] MSReporter opened #115 "scapblock command is wonky"
if you dont type any arguments it will select someone fixed but seemingly random

Bug reported by '^8Ghosty' (STEAM_0:0:62588856).

[2016-02-06 16:11] ghost commented on #115
It isn't "wonky", it selects the first player found.

[2016-02-06 16:12] ghost commented on #115
if you feed it 0 arguments it shouldnt work at all, not get the first player found

[2016-02-06 16:54] #115 closed, assigned to Cynosphere

[2016-02-06 18:19] MSReporter opened #116 "coins_drop error"
[10:19] [Cmd] 'coins_drop' failed for Player [6][Matwey]: lua/coinsys/sv.lua:157: attempt to compare nil with number
stack traceback:
    lua/coinsys/sv.lua:157: in function <lua/coinsys/sv.lua:155>
    [C]: in function 'xpcall'
    lua/includes/modules/concommand.lua:78: in function <lua/includes/modules/concommand.lua:73> (Func @lua/coinsys/sv.lua:155-167) Args='"'0'"'

Bug reported by '<color=0

[2016-02-06 18:41] Zeni44 commented on #116
Adding `if args[2] == nil then return end` to coins_drop shouldnt be too hard right

[2016-02-06 19:01] Cynosphere commented on #116
how would you know if you cant even see the code :v

[2016-02-06 19:22] Zeni44 commented on #116
"attempt to compare nil with number"
Someone used the command without entering a valid second argument so it errored since it didn't know how much to drop.
Just add a line which checks if the second argument isn't nil, fixed.

[2016-02-06 19:49] Cynosphere opened #117 "replace elevator music"
https://www.youtube.com/watch?v=BtHkC3mSWes

i think this would be better

[2016-02-06 19:50] edunad commented on #117
https://www.youtube.com/watch?v=SbIaYZEUF1M

[2016-02-06 21:14] ghost commented on #116
how do _you_ know it's the second argument, i dont think coins_drop even has a second argument

[2016-02-06 21:44] Cynosphere commented on #116
It reads a second argument for no reason even though it shouldn't have one.

[2016-02-06 22:10] KabusDev opened #118 "scap_disabled"
Should Induce the name of the player who sent it to you, isn't exactly hard to add.

[2016-02-06 22:12] Cynosphere commented on #118
cba

[2016-02-06 22:13] PotcFdk commented on #118
@LUModder

What the fuck. Why do you even bother to comment?

[2016-02-07 02:19] Tenrys commented on #118
and disable the notification altogether too

[2016-02-07 19:26] Avernakis8 commented on #117
https://www.youtube.com/watch?v=8avMLHvLwRQ kek
or this https://www.youtube.com/watch?v=ERahqrn3Ah4 or even this
https://www.youtube.com/watch?v=iMbe6C9dLyI

lal

[2016-02-07 19:45] notcake commented on #117
I vote https://www.youtube.com/watch?v=IEz39AxRv6g for elevator music
it's pretty calming and soothing

[2016-02-07 20:44] brandsjek commented on #117
Lel no, just put the fucking Daft Punk thing pack, fuck copyright

Or - use Lionel Richie's "Hello, is it me you're looking for?"

Op 7-2-2016 om 20:45 schreef !cake:

[2016-02-07 22:33] MSReporter opened #119 "Coins can't be dropped using the Inventory"
Using the Inventory to drop coins ends up with "Please enter a positive amount of coins to drop", even if you enter a positive number.

Bug reported by '<color=255,120,0>Google' (STEAM_0:1:66459838).

[2016-02-07 22:39] ghost commented on #88
Looks like it has been fixed.
![alt text](http://puu.sh/mZEAR/1b852802a5.jpg)

[2016-02-07 22:41] SpiralP commented on #88
we still restart after 2048 though because after, models start to appear differently on client than what they are on server
not sure if this has been fixed yet though, nothing about it has been in the update logs

[2016-02-07 22:49] bjoern90 commented on #119
he ment in #2 .-.

[2016-02-07 22:56] MSReporter opened #120 "coin pot"
when i spawn the pot it keeps spawned undergound.. but can you guys fix it?

btw this is the last time i use the reporter i swear.

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-02-08 01:22] Lixquid commented on #120
What the hell is a "coin pot".

[2016-02-08 01:26] Cynosphere commented on #120
DarkRP money pot, which was modified for coinsys

[2016-02-08 19:37] TW1STaL1CKY commented on #120
Fixed
can't close this thread myself though

[2016-02-08 21:06] #120 closed, assigned to nobody

[2016-02-08 23:36] TW1STaL1CKY commented on #117
What even is it now? Source?

[2016-02-09 15:29] MSReporter opened #121 "multiple urls in one hotlink"
instantly crashes the game

Bug reported by 'snip' (STEAM_0:1:20654783).

[2016-02-09 15:39] Cynosphere commented on #121
why would you even?

[2016-02-10 20:11] MSReporter opened #122 "bad lighting and messed up respawn on m_151"
lightning in lobby messed up/too dark, respawn point messed up

Bug reported by 'snip' (STEAM_0:1:20654783).

[2016-02-10 21:27] Cynosphere commented on #122
Screenshot of lighting?

[2016-02-12 12:26] moonexpr commented on #91
Posting sitting angles in a few hours.

[2016-02-13 18:11] MSReporter opened #123 "QBox bugs"
[10:11] Player [22][Ducky Canard] ERR: gamemodes/sandbox/entities/effects/selection_ring.lua:12: Tried to use a NULL entity!
1. SetCollisionBounds - [C]:-1
   1. unknown - gamemodes/sandbox/entities/effects/selection_ring.lua:12
   2. Effect - [C]:-1
      1. unknown - gamemodes/sandbox_modded/entities/effects/selection_indicator2/init.lua:18

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:581

[2016-02-13 18:12] Cynosphere commented on #123
Players that got this error crashed soon after.

[2016-02-13 18:37] Cynosphere commented on #123
Okay it happens when CBaseEntityList::AddNonNetworkableEntity: no free slots!

[2016-02-13 22:01] MSReporter opened #124 "deal or no deal"
physgun driving http://i.imgur.com/IjJXSx4.jpg

Bug reported by 'snip' (STEAM_0:1:20654783).

[2016-02-13 22:39] PotcFdk commented on #124
@mitterdoo?

[2016-02-13 23:08] mitterdoo commented on #124
on it

[2016-02-13 23:16] #124 closed, assigned to nobody

[2016-02-13 23:33] Cynosphere commented on #14
s/./anything/g
This reproduces it.

[2016-02-14 00:25] PotcFdk commented on #14
I think I will just roll back to an older version. I initially wanted more control for stuff like case insensitivity, but instead it broke patterns and some other things.

[2016-02-14 00:30] #14 closed

[2016-02-14 22:22] Python1320 opened #125 "Game coordinator"
Who wants to make?
## Requirements
### Whitelist system
- no sitting
- no jetpack
- no using items
- no spawning stuff
- no flying
- no noclip
- no bunnyhop
- no autobunnyhop
- no pac
- no boxify
- no cake jump thing
- no revive
- no tp
- etc

...unless allowed specifically

This is required for rp area, dm area, jumpgame, falling platforms, dond, tremble, etc minigames we have.

[2016-02-14 23:42] ghost commented on #125
i'd totally make one because unlike what some people think i have experience with glua
(no, this is not me being a narcissitic know-it-all prick)

[2016-02-14 23:49] notcake commented on #125
u spelt narcissistic wrong

[2016-02-14 23:50] ghost commented on #125
good catch :+1:

[2016-02-14 23:54] notcake commented on #125
u spelt "I can't spell" wrong

[2016-02-15 00:45] ghost commented on #125
you spelled "you" and "spelled" wrong
_i don't care if you can say "spelt", fuck it we'll do it live_

[2016-02-15 00:52] notcake commented on #125
im spelling wrong intentionally
unlike u

[2016-02-15 01:38] Cynosphere commented on #125
I'll take the risk

[2016-02-15 01:42] notcake commented on #125
Flex will make Metastruct great again. :+1:

[2016-02-15 01:55] ghost commented on #125
oh no non-devs cant have a dream ;~;

[2016-02-15 01:57] Cynosphere commented on #125
![](http://i.imgur.com/FF1Qd1K.png)

[2016-02-15 08:16] edunad commented on #125
MInigames i made use a function to disable all this shizzle stuff (some of them don't work anymore tough).
`
function plymeta:RestrainPlayer()

[code]

`

And

`
function plymeta:ReleasePlayer()

[code]

`

Hooks :
`
hook.Add("NetData",Tag,function(pl,name,io)

[code]

`

Note : ply:IsPlaying() is custom made, and the code tags seem to hate me.
And you can probably add something to check the
    s

[2016-02-15 10:45] danielga commented on #125
A warning has been issued because of shitposting. Please refrain from continuing the shitposting.

[2016-02-15 11:45] PotcFdk commented on #125
I just realized that I have an unfinished WIP MetaWorks module (called NodeCapabilityManager) that would have done exactly this, in a generalized way (i.e. "node" is not just players but can also include "things" of other types, such as scripts, achievements, servers, files, ...; also, each "capability context" can specify its own "context descriptor" that includes "director levels" that the "dire

[2016-02-15 23:28] MSReporter opened #126 "remove ability to sh webaudio"
its getting annoying trying to listen to my music stream visualizer and people are sh-ing chatsounds near me

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-02-15 23:32] notcake commented on #126
https://blogs.msdn.microsoft.com/oldnewthing/20110310-00/?p=11253

[2016-02-15 23:37] PotcFdk commented on #126
What cake said is true for most things that happen in Garry's Mod.
You're either going to have to get a solution implemented in Garry's Mod or just join the war.

[2016-02-16 00:22] danielga commented on #126
My temporary solution when people were being cunts was to make 'sh' work only on the issuer. I think it's a good compromise because, the way it is right now, it's a very intrusive command.

[2016-02-16 08:49] Lixquid commented on #126
I think the main opposition to that is that irritating sounds then need to
be sh'd by everyone, leading to a colossal flood of sh whenever something
happened.

Basically there's no real systemic solution to this so the best course of
action is to administrate bad players.
On 16 Feb 2016 12:22 a.m., "Daniel" notifications@github.com wrote:

[2016-02-18 18:51] ghost commented on #126
i have a _hacky_ way to make streams not do this: by checking if they are paused and if they are then just resume them

if you might ask how to intentionally pause them, youve got to make it not resume if a variable is not set, then just unset that variable once you want to resume it

[2016-02-20 12:16] MSReporter opened #127 "Chat Bubble shows private Messages"
Players can see private Messages like /pm and so on in the Chatbubble.

Bug reported by '<color=255,120,0>Google' (STEAM_0:1:66459838).

[2016-02-20 13:48] ghost commented on #127
u wot m8
what about /pm??? that isnt even a command???

[2016-02-20 15:33] ghost commented on #127
Close please. (It looked as if there is a /pm Command because someone used it and no Chat Message popped up)

[2016-02-20 16:14] #127 closed, assigned to nobody

[2016-02-20 16:15] Cynosphere commented on #127
pm is overwritten by GCompute anyways.

[2016-02-20 19:46] Tenrys commented on #127
no, pm as a command doesn't exist. pm2 does, because cake thought about the actual private messaging command that could exist by the name pm, but it doesn't.

[2016-02-20 23:24] Cynosphere commented on #127
It does exist as an alias for pm2 afaik as long as there's NOT a pm command

[2016-02-20 23:24] #123 closed, assigned to nobody

[2016-02-21 11:21] ghost commented on #127
no it doesnt

[2016-02-22 14:33] Cynosphere commented on #127
Worked for me when I tested it so

[2016-02-29 17:33] Mikeai opened #128 "Chatsounds Pre-proccessor errors"
Not sure if anyone else is getting this issue, but when running the pre-proccessor for chatsounds, it yells at me about non-lowercase paths in Lixquid's chatsounds folder, if there is a fix to this I yet know, do inform me of it

[2016-02-29 17:55] Cynosphere commented on #128
One of @TrenchFroast's commit's removed all the lowercase chatsounds for Lix :v

[2016-02-29 17:57] Cynosphere commented on #128
also this is the wrong issues to be posting this

[2016-02-29 17:57] #128 closed, assigned to nobody

[2016-02-29 18:31] ghost commented on #128
@LUModder because git went retardation mode for me, not my fault
thank based microsoft for very good file handling

[2016-03-11 00:46] Cynosphere opened #129 "remove fwp"
csweapons is superior to my bad sweps

[2016-03-11 16:41] Python1320 commented on #129
https://github.com/metastruct/gmod-csweapons/ is still missing all shotguns and other weapons.

[2016-03-15 19:31] ghost opened #130 "lua/metastruct/items/gui/inventory.lua:174: attempt to index local 'item' (a nil value)"
When I open my Inventory on Server 2 that happens:

[Cmd] 'items_toggle_inventory' failed for Player [1][Google]: lua/metastruct/items/gui/inventory.lua:174: attempt to index local 'item' (a nil value)
stack traceback:
    lua/metastruct/items/gui/inventory.lua:174: in function 'UpdateInventory'
    lua/metastruct/items/gui/inventory.lua:233: in function 'UpdateInventory'
    lua/metastruct/items/

[2016-03-15 19:33] ghost opened #131 "MSReporter seems to be broken?"
lua/autorun/server/msreporter.lua:36: attempt to index local 'resp' (a nil value)
1. unknown - lua/autorun/server/msreporter.lua:36

Error happened when I tried to submit #130

[2016-03-15 19:35] ghost commented on #119
Can be closed, works now.

[2016-03-15 20:28] #119 closed, assigned to nobody

[2016-03-15 20:30] #129 closed, assigned to nobody

[2016-03-16 14:11] PotcFdk commented on #131
Seems to have been a temporary API error.
I improved the error handling, so that you get a friendly-ish warning.

[2016-03-16 14:11] #131 closed, assigned to PotcFdk

[2016-03-17 15:12] ghost opened #132 "SCAP Friends only"
What about an option to allow scaps only from friends?

[2016-03-17 18:06] LUModder commented on #132
Dibs

[2016-03-17 18:55] Techbot121 commented on #132
I didn't touch the SCAP code yet, but this should be fairly easy to implement.

[2016-03-17 20:18] Cynosphere commented on #132
Considering I already implemented blocking this won't be hard

[2016-03-22 13:48] MSReporter opened #133 "NoFocus invisible panel doesn't work."
I remember reporting this to @Python1320 - what's the current state?
This is pretty annoying if you alt-tab out due to your mouse getting stuck in the center of the screen.

Bug reported by 'PotcFdk' (STEAM_0:1:30490065).

[2016-03-22 13:49] PotcFdk commented on #131
I noticed that the web relay was broken, too.
The !bug command should be working again. Sorry about that.

[2016-03-22 14:06] PotcFdk commented on #26
Is this still relevant?

[2016-03-22 14:08] PotcFdk commented on #37
We're on _151 now, has this been fixed?

[2016-03-22 14:08] PotcFdk commented on #70
Still relevant?
@notcake have you taken a look at this?

[2016-03-22 14:11] PotcFdk commented on #83
I'd say you better report this [here](https://github.com/wiremod/advdupe2).

[2016-03-22 14:11] #83 closed, assigned to nobody

[2016-03-22 14:16] PotcFdk commented on #107
Note: MetaWorks provides an AgeVerification interface that asks a player to confirm their age with a GUI and all. So if you need the player verification part of the code, I can provide it.

[2016-03-22 14:19] PotcFdk commented on #108
What exactly does this mean? Can somebody explain?

[2016-03-22 14:19] PotcFdk commented on #111
Pinging @Python1320 (who wrote the communication thing)

[2016-03-22 14:29] Cynosphere commented on #37
Have not tested yet

[2016-03-22 14:32] PotcFdk commented on #130
I don't get it:

[code]

[2016-03-22 14:34] PotcFdk commented on #121
What do you mean? How do I reproduce this?

[2016-03-22 14:34] Cynosphere commented on #108
Apperently someone forever ago in the old todo thought of an idea of when you paste a link in chat you can choose to open it or send it for some reason.

[2016-03-22 14:36] Cynosphere commented on #37
Only works if you aim at the rounded wall while up here, anywhere in the core room wont spawn it

[2016-03-22 14:41] Cynosphere commented on #121
I attempted to reproduced this:
First go I froze for a second sending it (self pm)
Second go I pasted a lot more and I finally froze beyond return

[2016-03-22 15:00] PotcFdk commented on #121
What do you mean? Just sending somthing like http://example.org/examplehttp://example.org/example?

[2016-03-22 15:02] PotcFdk commented on #108
Seems pretty pointless to me. Re-open if you can think of a good reason on why this should be a thing or if what @LUModder said is not what this issue was about.

[2016-03-22 15:02] #108 closed, assigned to nobody

[2016-03-22 15:04] Cynosphere commented on #121
Pretty much, but like times that by 100

[2016-03-22 15:06] ghost commented on #26
I don't think so, I haven't noticed it at least.

[2016-03-22 15:08] #26 closed

[2016-03-22 15:32] PotcFdk commented on #84
Implemented.

[2016-03-22 15:32] #84 closed, assigned to PotcFdk

[2016-03-22 15:37] PotcFdk commented on #116
Apparently fixed by @Python1320 in r11726 / r11882

[2016-03-22 15:37] #116 closed, assigned to nobody

[2016-03-22 21:40] notcake commented on #70
Fix ETA: heat death of universe.

[2016-03-23 15:23] PotcFdk opened #134 "Propeller engine and jetpack disappear after equipping"
Mar 23 10:19:01 <ShadowBlood>  bug: propeller engine and jetpack dissapear after equipping, will stay on for a couple seconds before dissapearing from the user's inventory

25.03.16 [03:01:31] <ShadowBlood> (UPDATE) bug: the glitch with propeller engine & jetpack also happens with the coin detector and coin magnet

[2016-03-25 15:10] Techbot121 commented on #133
fixed by python appearently with r12000+

[2016-03-25 15:10] #133 closed, assigned to nobody

[2016-03-27 15:12] Cynosphere opened #135 "[SCAP] Add Snapchat style text overlay"
cause why not

[2016-03-27 15:16] PotcFdk commented on #135
Can you maybe post an example of how this might look like?

[2016-03-27 17:52] ghost commented on #135
@PotcFdk it's a thing that overlays text on images like this:
![thing](https://cloud.githubusercontent.com/assets/11893927/14066834/0be113b8-f44d-11e5-9569-13e1903ed4c0.png)
i don't think this is possible using only functions available in vanilla glua, unless you use really hacky methods...

[2016-03-27 17:54] Cynosphere commented on #135
Well if it's SCAP, you just draw it over

[2016-03-27 18:38] MSReporter opened #136 "Button-holding exploit on DonD buttons"
Other people who aren't playing DonD can hold the buttons down, which disallows the person playing from making a Deal or No Deal choice until the button holder lets go.

Bug reported by 'TW1STaL1CKY' (STEAM_0:0:33106902).

[2016-03-27 18:49] PotcFdk commented on #136
Pinging @mitterdoo

[2016-03-27 18:53] mitterdoo commented on #136
working on a quick fix
done

[2016-03-27 18:59] #136 closed, assigned to mitterdoo

[2016-03-27 21:04] MSReporter opened #137 "remove language strings from kill feed"
good god i just saw VAC_ConnectionRefusualDetail in the kill feed

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-04-02 01:45] MSReporter opened #138 "Achievement names/descriptions not showing up right"
![](https://my.mixtape.moe/ejykle.png)
![](https://my.mixtape.moe/zfexvb.png)

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-04-02 01:47] ghost commented on #138
![](http://puu.sh/o2NWq/a576671354.jpg)

[2016-04-02 01:47] MSReporter opened #139 "Make fishingmod ragdolls into props"
Ragdolls make things laggier, especially when the server is already lagging

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-04-02 23:10] ghost commented on #118
Added the name of the player to the notification.

[2016-04-02 23:10] #118 closed, assigned to nobody

[2016-04-03 00:38] ghost commented on #29
Does not exist anymore.

[2016-04-03 00:38] #29 closed

[2016-04-03 00:53] ghost commented on #55
Fixed.

[2016-04-03 00:53] #55 closed

[2016-04-03 01:02] ghost commented on #58
Seems to be fixed.

[2016-04-03 01:02] #58 closed

[2016-04-03 01:05] ghost commented on #73
Does this still matter since we are on a new version now?

[2016-04-03 01:09] ghost commented on #88
Already fixed.

[2016-04-03 01:09] #88 closed, assigned to nobody

[2016-04-03 01:09] #96 closed, assigned to nobody

[2016-04-03 01:11] ghost commented on #100
Is it because the chat is being spammed with the command by the user, otherwise I don't think we need this?

[2016-04-03 01:16] ghost commented on #37
Fixed by Python1320.

[2016-04-03 01:16] #37 closed

[2016-04-03 13:25] #122 closed, assigned to nobody

[2016-04-03 14:28] PotcFdk commented on #37
You gotta ping @Python1320 so he gets all the dingdings in his mail account. Maybe he'll remember to close the issues he fixes. :stuck_out_tongue:

[2016-04-03 14:37] ghost commented on #37
@PotcFdk: I asked him to fix it when I posted this since he was in Hammer.

[2016-04-03 20:29] Python1320 commented on #139
clientside lagdoll but serverside entity would be interesting

[2016-04-06 03:25] MSReporter opened #140 "e2 breaking"
e2 starts breaking down and stops working on the server after a while reason unknown and holos straight up stop working

Bug reported by '<color=87,6,121>KaosHeaven ' (STEAM_0:0:69785433).

[2016-04-06 03:28] Cynosphere commented on #140
Pretty sure MetaMan's reasoning of "desyncing" or something with CurTime after the server has been up for so long without restarting might be causing this

[2016-04-06 18:56] CassiaPurple commented on #140
possibly
it would be helpful if we could get some sort of fix (another note it only happens on meta)

[2016-04-06 19:05] notcake commented on #140
We have notified our DevOps team and have dispatched a team of ninjaneers to investigate the problem.

[2016-04-06 20:45] CassiaPurple commented on #140
@notcake lol thanks again cake

[2016-04-08 07:37] edunad commented on #140
Break my e2, ill break your legs :+1:

[2016-04-08 07:41] danielga commented on #140
break my legs, i'll break your face :+1:

[2016-04-08 08:27] CassiaPurple commented on #140
Break my face, I'll break your dick :+1:

[2016-04-08 15:57] ghost commented on #140
@Kaosheaven what if said person doesn't have a dick :^)

[2016-04-08 16:23] CassiaPurple commented on #140
then fingers idk

[2016-04-08 22:27] Cynosphere commented on #140
:+1: :^)

[2016-04-09 19:02] Cynosphere opened #141 "Vehicles can't take damage in rp + players invincible"
kinda annoying

[2016-04-09 19:47] MSReporter opened #142 "disable weapons in zen"
this can get annoying real fast

Bug reported by '^8Ghosty' (STEAM_0:0:62588856).

[2016-04-10 01:13] MSReporter opened #143 "Map hole in doorway near edge of build"
we need to fix this
![](http://i.imgur.com/79qcHFb.jpg)

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-04-10 01:15] notcake commented on #143
SWAT teams and sniffer dogs have been deployed to deal with the situation.

[2016-04-10 10:46] Lixquid commented on #143
And it would have been a nice bug report if not for the unnecessary second
line
On 10 Apr 2016 2:15 a.m., "!cake" notifications@github.com wrote:

[2016-04-10 16:10] MSReporter opened #144 "Heaven Televator broke"
[09:10] [ms] Telev ERROR false lua/metastruct/elevator/sv_init.lua:252: Tried to use a NULL entity! dead

Bug reported by '<color=0,150,130>Flex <color=200,200,100>:cake:[Bday]:cake:' (STEAM_0:0:58178275).

[2016-04-10 16:11] ghost commented on #144
I blame the devil.

[2016-04-10 16:35] Cynosphere commented on #142
fixed in mapdata 2614

[2016-04-10 16:35] #142 closed, assigned to Cynosphere

[2016-04-10 21:14] Cynosphere opened #145 "Turrets on Locked players cause fps lag"
Assuming it's the blood effect

[2016-04-11 15:55] Cynosphere commented on #19
Verbal just had this happen again with prop protection so, it has been recreated but not 100% knowing what causes it.

[2016-04-11 22:33] MSReporter opened #146 "Banned people can drop items"
I just had to extend someone's ban cause of it

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-04-12 12:08] PotcFdk commented on #94
Reopen if this is still a thing. I've never seen this.

[2016-04-12 15:36] MSReporter opened #147 "rp bug"
http://i.imgur.com/qOAwgHh.jpg >safezone. i still get the 10 secs spawn protection...

and we still spawn into a place outside of the rp area... http://i.imgur.com/naMosJT.jpg

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-04-12 16:14] Cynosphere commented on #147
Yes, the safezone resets your spawn protection when you enter and kills the timer, so you won't get the message saying that spawn protection was removed. I was going to move the spawns into the safezone anyways but haven't gotten to it

[2016-04-12 16:15] #147 closed, assigned to nobody

[2016-04-12 16:16] Cynosphere commented on #94
Feature not a bug, if you click on the time icon it switches to account age

[2016-04-12 16:19] PotcFdk commented on #94
@LUModder The bug is that the icon shows even though the player has no value.

[2016-04-12 16:23] Lixquid commented on #94
Confirmed still exists.

![](http://i.imgur.com/UyZQC9u.png)

[2016-04-12 16:27] PotcFdk commented on #94
@LUModder Next time, please read the bug report correctly.

[2016-04-12 16:29] PotcFdk commented on #138
It's caused by some fuckup in the net library. @Python1320 please keep me updated.

[2016-04-12 16:47] PotcFdk commented on #138
@Python1320 reverted it in r12129 - seems to be fixed now.

[2016-04-12 16:47] #138 closed, assigned to PotcFdk

[2016-04-12 19:12] Cynosphere commented on #146
fixed in mapdata r2620

[2016-04-12 19:12] #146 closed, assigned to Cynosphere

[2016-04-12 23:27] MSReporter opened #148 "Remove rp autoheal from banned players"
forgot to tell the banned players get autohealed fast... how about remove them so we can keel em faster?

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-04-13 07:02] PotcFdk commented on #148
I don't see the point.

[2016-04-13 15:04] Cynosphere commented on #148
People like to farm banned people for coins in RP and with the new autoheal system it kinda breaks it a bit.

[2016-04-15 17:50] MSReporter opened #149 "Hours aren't counted cross-server"
ex: person who has 25 hours that was on #2 all the time doesnt have the hours #1

I honestly think this is both good and bad cause it means people that idle for hours on #2 dont have it on #1 but it's also a pain that it doesnt transfer

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-04-15 19:25] PotcFdk commented on #149
I thought it was synced in some way? @Python1320?

[2016-04-15 19:57] Cynosphere commented on #149
It's only scoreboard synced, but not fully

[2016-04-16 18:21] ghost commented on #149
It is synced while meta2 is online but only on the scoreboard.

[2016-04-16 19:47] ghost opened #150 "Deal or No Deal"
lua/entities/mitt_dond_screen.lua:643: attempt to index a nil value
1. GetPlayCount - lua/entities/mitt_dond_screen.lua:643
   1. StartGame - lua/entities/mitt_dond_screen.lua:743
   2. StartGame - lua/entities/mitt_dond_entry.lua:126
      1. unknown - lua/entities/mitt_dond_entry.lua:178

[2016-04-16 20:26] Cynosphere commented on #150
More info:
- Allows playing more than once due to a missing function
- Spams chat when AFK timer runs down

[2016-04-16 20:36] #150 closed, assigned to mitterdoo

[2016-04-17 10:27] MSReporter opened #151 "metastruct/logics/cl_zonehooks.lua:10: attempt to call method 'IsInZone' (a nil value)"
[12:26] Player [36][Flamebird] ERR: lua/metastruct/logics/cl_zonehooks.lua:10: attempt to call method 'IsInZone' (a nil value)
1. AddConditionalHook - lua/metastruct/logics/cl_zonehooks.lua:10
   1. unknown - lua/metastruct/logics/cl_buildrp.lua:97
   2. include - [C]:-1
      1. IncludeClientFile - lua/metastruct/helpers.lua:47
      2. unknown - lua/metastruct/preinit.lua:47
      3. include - [

[2016-04-17 11:56] #151 closed, assigned to nobody

[2016-04-17 15:55] Cynosphere opened #152 "Remount game content"
Would be nice to have EP2, Portal and CSGO props back

[2016-04-18 19:26] MSReporter opened #153 "Fix the crane's magnet removal server crash"
i wish you guys could remove the crane.. bec if the magnet's gone the server'll die.. btw who want to use that tho? .-.

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-04-19 15:03] Vuthakral commented on #153
I use it :disappointed: :dragon_face:

(I wouldn't really care if it were removed though)

[2016-04-19 16:52] CassiaPurple commented on #152
yea
i agree with this im really missing cs:go props as well as ep2
made a lot of detailed buildings and stuff using those props

[2016-04-21 11:16] Tenrys commented on #153
think about better issue titles in the future please

[2016-04-23 19:19] #144 closed, assigned to Python1320

[2016-04-24 02:09] Cynosphere opened #154 "metastruct.org domain is dead"
We either need to
1. renew it
2. move everything over to metastruct.net

![](https://my.mixtape.moe/bmxcfj.png)

[2016-04-26 13:18] Cynosphere commented on #154
So no one's gonna do anything about it and just let the server not be updated at all?

[2016-04-26 20:07] PotcFdk commented on #154
What is missing?

[2016-04-26 20:31] Cynosphere commented on #154
- SSO
- Rocket/GServ
- SVN repos
- MSDNAA (or whatever it is)
- Webchat

[2016-04-26 22:34] PotcFdk commented on #154
SVN repos don't have anything to do with this.

[2016-04-26 22:35] Cynosphere commented on #154
But they do because they're linked to `svn.metastruct.org`

[2016-04-26 22:35] PotcFdk commented on #154
Then relocate them to `svn.metastruct.net`
For everything else, @Python1320 shall be used

[2016-04-27 16:35] #77 closed, assigned to nobody

[2016-04-27 16:36] Python1320 commented on #153
fixed

[2016-04-27 16:36] #153 closed, assigned to nobody

[2016-04-27 17:38] Python1320 commented on #152
readded

[2016-04-27 17:38] #152 closed, assigned to nobody

[2016-04-27 17:40] Python1320 commented on #145
For clients only?

[2016-04-27 17:41] Python1320 commented on #130
does this still happen?

[2016-04-27 17:42] Python1320 commented on #140
Give example E2 that breaks so we can test after a day of uptime

[2016-04-27 18:43] Cynosphere commented on #145
Yeah only clients

[2016-04-27 18:47] CassiaPurple commented on #140
Sure thing but idk if you'll be around when I get home (currently using forkhub on my phone so I don't really have anything on me)

[2016-04-27 19:56] ghost commented on #130
No.

[2016-04-27 19:56] #130 closed, assigned to nobody

[2016-04-30 01:22] MSReporter opened #155 "Title's broken"
i can't set my title.. when im using the console cmd it gives meh this error

[Titles] Adding title (delay: 4.0s): gone to paris in 8 days
[Titles] Sending... [Cmd] 'titles_add' failed for Player [25][^7Bjoern90 (DEN)]: lua/autorun/pl_title.lua:129: attempt to get length of upvalue 'tdat' (a boolean value)
stack traceback:
    lua/autorun/pl_title.lua:129: in function '_Transmit'
    lua/autorun/p

[2016-04-30 04:44] Cynosphere commented on #155
@Python1320 ping

[2016-04-30 04:46] Cynosphere commented on #154
Python said he said he CBA to set up everything and gave us a temp rehash solution

[2016-04-30 05:39] PotcFdk commented on #154
This issue isn't fixed according to your list of issues.

[2016-04-30 15:27] #155 closed, assigned to nobody

[2016-05-05 09:08] MSReporter opened #156 "AFK Lock unsits you"
i always sitting while watching videos but after i go afk in 2:30 mins i stand up for no reason.. maybe it's a bug?

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-05-05 12:29] MSReporter opened #157 "crane error code"
[Hook] Think -> "MSAvehiclecontrol" failed: lua/autorun/client/msavehicles_init_entity.lua:22: attempt to call method 'IsMSAVehicle' (a nil value)
stack traceback:
    lua/autorun/client/msavehicles_init_entity.lua:22: in function 'MSAvehcontrol'
    lua/autorun/client/msavehicles_init_entity.lua:119: in function 'func'
    lua/includes/modules/hook.lua:96: in function <lua/includes/modules/hook.l

[2016-05-05 14:10] Cynosphere commented on #156
So I guess we need to not have locking if sitting

[2016-05-05 18:13] KabusDev opened #158 "voice input"
rec thing is fucking low quality as shit and is aliasing on my screen, bring back old voice visualizer thing

[2016-05-05 20:30] Cynosphere commented on #148
I'm assuming no one is going to do this

[2016-05-05 20:30] #148 closed, assigned to nobody

[2016-05-06 14:15] #157 closed, assigned to PotcFdk

[2016-05-06 14:18] PotcFdk commented on #19
Still relevant? It's been a while.

[2016-05-06 14:45] Cynosphere commented on #19
Hasn't happened since last month so, I doubt it.

[2016-05-06 14:59] PotcFdk commented on #19
Reopen if it happens again.

[2016-05-06 14:59] #19 closed

[2016-05-07 01:15] MSReporter opened #159 "[DOND] AFK kicked players can play again"
I dunno if something was changed or if it applies to everyone too no matter if you've played or not

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-05-07 03:15] mitterdoo commented on #159
the game allows a player two do-overs in case something goes wrong (server crash/player disconnect/afk) before the money they're walking away with is revealed (accepted offer/end of game). if the game is allowing more than 3 games to a player, please post a comment and i will look into it.

[2016-05-07 16:37] MSReporter opened #160 "image hud is crashing people"
It's been happening to offten and too randomly

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-05-09 04:06] Lixquid commented on #159
Looks like Working As Intended.

Reopen if confirmed bug.

[2016-05-09 04:06] #159 closed, assigned to mitterdoo

[2016-05-15 08:21] MSReporter opened #161 "crane bug"
http://i.imgur.com/i1hD3ja.jpg

[Hook] Think -> "MSAvehiclecontrol" failed: lua/autorun/client/msavehicles_init_entity.lua:22: attempt to call method 'IsMSAVehicle' (a nil value)
stack traceback:
    lua/autorun/client/msavehicles_init_entity.lua:22: in function 'MSAvehcontrol'
    lua/autorun/client/msavehicles_init_entity.lua:173: in function 'func'
    lua/includes/modules/hook.lua:96: in funct

[2016-05-15 11:42] Tenrys commented on #161
what the fuck did you do.

[2016-05-15 12:16] Techbot121 commented on #161
This happens because the Crane doesn't have the Vehicle metatable functions, which the MSAvehiclecontrol looks up I think.

[2016-05-15 12:21] Techbot121 commented on #161
The MSAvehicle stuff used to be on BitBucket but now I have no idea where they are. @PotcFdk ??

[2016-05-15 13:00] PotcFdk commented on #161
Weird, I thought this was fixed. I'll check this out.

[2016-05-15 13:02] PotcFdk commented on #161
Fixed.

[2016-05-15 13:02] #161 closed, assigned to PotcFdk

[2016-05-15 15:35] Cynosphere commented on #161
I swear this was a duplicate bug...

Yeah #157

[2016-05-15 15:37] PotcFdk commented on #161
Seems like in #157 I fixed a related serverside issue. This time, we should be okay, though.

[2016-05-15 15:50] Cynosphere commented on #161
Was antipenetration of the magnet fixed so it doesn't get frozen?

[2016-05-15 15:58] PotcFdk commented on #161
That's not in the scope of this issue.

[2016-05-15 15:59] Cynosphere opened #162 "Prevent anti-penetration from freezing crane magnet"
Example of what happens

![](https://my.mixtape.moe/emhijd.png)

[2016-05-15 17:37] Python1320 commented on #162
fixed

[2016-05-15 17:37] #162 closed, assigned to nobody

[2016-05-15 17:41] Python1320 commented on #158
fixed I think

[2016-05-15 17:41] #158 closed, assigned to Python1320

[2016-05-15 17:52] Python1320 commented on #156
disabled afk locking. too many drawbacks.

[2016-05-15 17:52] #156 closed, assigned to nobody

[2016-05-15 17:53] Python1320 commented on #145
Locking has nothing to do with that then. Disabled afk locking so considering this "fixed".

[2016-05-15 17:53] #145 closed, assigned to nobody

[2016-05-15 18:02] Python1320 commented on #121
Can't reproduce when chatsounds is disabled.

[2016-05-16 17:01] Python1320 commented on #140
holos are fixed. DO tell if there's something else.

[2016-05-16 17:01] #140 closed, assigned to nobody

[2016-05-18 07:47] MSReporter opened #163 "Scoreboard: IRC user merging doesn't work for other servers"
When a player is in-game, he doesn't show up in the IRC tab but instead has an IRC icon/badge thing.
This does not happen when a player is playing on another server

Bug reported by 'PotcFdk' (STEAM_0:1:30490065).

[2016-05-20 16:40] MSReporter opened #164 "elevators"
THE FUCKING ELEVATORS KEEPS SENDING US TO HELL OR NEXT TO MSA FUCKING FUCK!!!!!!!!!

yeh i mad atm. and the devs are lazy as fuck.

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-05-20 17:29] danielga commented on #164
I'm mad about the fact that you think you're entitled to our free time!!!

[2016-05-20 18:27] notcake commented on #164
bro do u even lift

[2016-05-20 19:07] danielga commented on #164
bro do u even meme

[2016-05-21 01:23] Lixquid commented on #164
Can we ban baby bjoern from bug reporter yet
On 20 May 2016 8:07 p.m., "Daniel" notifications@github.com wrote:

[2016-05-21 01:27] notcake commented on #164
fite me irl lixquid

[2016-05-21 01:30] danielga commented on #164
you're not getting rid of me that easily

[2016-05-21 01:31] Cynosphere commented on #164
unproductive issue, no steps for recreation

reopen if it's a serious bug

[2016-05-21 01:31] #164 closed, assigned to nobody

[2016-05-22 13:53] MSReporter opened #165 "name changer bug?"
when ever a user changes the name i see a double message about it http://i.imgur.com/Lp33Sed.jpg

but in irc you can see it triple message .-.

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-05-22 14:09] Techbot121 commented on #165
I just looked it up, there are two functions that use two separate hooks `player_info_changed` and `NameChange` both call `chat.AddText`.

Now the question is which one to get rid of.

[2016-05-22 18:15] Zeni44 commented on #165
I also noticed it printing 3 times in IRC. Is that intended?
Or was that a bug on my end

[2016-05-22 21:35] PotcFdk commented on #165
IRC seems to be unaffected, not sure what @ToastyEngineer is talking about.

[2016-05-22 21:41] ghost commented on #165
@PotcFdk sometimes (sometimes) it displays 3 equal nick change messages in a row

[2016-05-24 05:38] SpiralP commented on #111
was a flag in cfg, teams are now shown

[2016-05-24 05:38] #111 closed, assigned to nobody

[2016-05-24 05:55] SpiralP commented on #18
fixed in https://github.com/Metastruct/luadev/commit/bf2f85ed0293e0c2890199d49e7de4f10c9b98d0

[2016-05-24 05:55] #18 closed

[2016-05-24 05:58] SpiralP commented on #15
tested 'Remove contraption' and 'Remove' from context menu, stops disallowing things once removed like it should

[2016-05-24 05:58] #15 closed

[2016-05-24 06:09] SpiralP commented on #71
probably fixed in r12348 and a few other revisions

[2016-05-24 06:09] #71 closed, assigned to nobody

[2016-05-24 06:10] SpiralP commented on #68
https://a.uguu.se/T4cbhc6R0yKV.png looks okay

[2016-05-24 06:10] #68 closed, assigned to Tenrys

[2016-05-24 06:49] SpiralP commented on #56
fixed in https://github.com/Metastruct/luadev/commit/3331317f7e87867d21752e77964abc8314987f0b and r12401
now it should complete entity names and returns more than one value :8ball:

[2016-05-24 06:49] #56 closed

[2016-05-24 07:05] SpiralP opened #166 "miku"
oy @PotcFdk can we remove your precious mikus addons now that we have outfitter?

[2016-05-24 11:25] Techbot121 commented on #166
![](http://techbot.xyz/ShareX/screenshots/2016/05/24/miku_%C2%B7_Issue_%23166_%C2%B7_Metastructissues_-_Google_Chr_13-22_1047.png)
![](http://techbot.xyz/ShareX/screenshots/2016/05/24/13-25_1049.png)

[2016-05-24 12:06] danielga commented on #166
😂

[2016-05-24 13:19] Cynosphere commented on #160
hasnt happened recently, reopen if needed

[2016-05-24 13:19] #160 closed, assigned to nobody

[2016-05-24 13:22] Cynosphere commented on #143
Assuming this has been fixed in either 164 or 175

[2016-05-24 13:22] #143 closed, assigned to nobody

[2016-05-24 13:24] Cynosphere commented on #137
Apperently this was already fixed

[2016-05-24 13:24] #137 closed, assigned to Cynosphere

[2016-05-24 13:26] #117 closed, assigned to nobody

[2016-05-24 13:27] Cynosphere commented on #121
I'm assuming it had to do with the underline links had before the fonts update

[2016-05-24 13:27] #121 closed, assigned to nobody

[2016-05-24 23:30] MSReporter opened #167 "divide cross server in scoreboard"
now that the ranks are networked it's now annoying to tell who's on which server

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-05-26 15:43] MSReporter opened #168 "[Scoreboard] Be able to sort by X but keep team headers"
Sorting kinda just blends the teams together and it gets really annoying with IRC and connecting players blending with

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-05-28 13:37] MSReporter opened #169 "coin old bug?"
sometimes i see then when a coin is over 3k worth http://i.imgur.com/hCH7Ra0.jpg   maybe fix it so i can see there's more worth than 3k?

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-05-28 18:54] MSReporter opened #170 "Blink weapon exploitable"
why did you guys add the dbot_blink thing? there's two player is abusing it in rp area. could you guys just kill it or ban it from the rp area? the reason is players keeps getting spawn protection when they're using it .--.

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-05-28 19:54] Cynosphere commented on #170
Also can be used to get outside lobby bounds

[2016-05-30 18:34] Cynosphere commented on #166
I don't get why we should be forced to have these on here honestly. Just slows down download times and adds unneeded trash (litterally) to our games. Please just let Outfitter take this over

[2016-05-31 07:14] SpiralP commented on #166
I've recently seen a few people using the ragdoll forms of the miku so I guess it's not entirely useless

[2016-05-31 13:05] Cynosphere commented on #166
@SpiralP Yeah but it's only for sexposes and for "le funny scaps" of them

[2016-05-31 19:01] Cynosphere commented on #169
Apperently fixed (requested by submitter)

[2016-05-31 19:01] #169 closed, assigned to nobody

[2016-05-31 19:20] Techbot121 commented on #166
imo the only useful thing on that might be the hair bones.

[2016-06-07 22:27] TW1STaL1CKY commented on #170
...why even have this SWEP? It works differently to aowl's tp too so... why?

[2016-06-07 23:50] Tenrys commented on #170
Plus it's just terrible. The HUD for it is horrid and it's just poof when you teleport.

[2016-06-08 01:51] Cynosphere commented on #170
DBot just wanted to spread his tryhardness to meta tbh

[2016-06-08 04:03] Tenrys commented on #170
what do you mean, Python was the one to add it

[2016-06-08 04:04] Cynosphere commented on #170
DBot probably begged him to add it

[2016-06-08 04:07] Tenrys commented on #170
I don't think so, he probably looked up for a "blink" SWEP on the workshop and used that one, as it is the term used on the scoreboard, by Python himself.

[2016-06-08 04:07] Tenrys commented on #170
Well this signature just inserted itself.

On Wed, Jun 8, 2016 at 6:05 AM +0200, "Flex" <notifications@github.com<mailto:notifications@github.com>> wrote:

DBot probably begged him to add it

-
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/Metastruct/issues/issues/170#issuecomment-224481807>, or mute the thread<https://github.com/n

[2016-06-10 02:03] MSReporter opened #171 "gun in lobby"
somehow we can't use the guns from the gun room in lobby .-. idk who killed it.

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-06-10 02:04] aminpeck commented on #171
Python1320 did that on purpose bud.

[2016-06-10 02:05] Cynosphere commented on #171
It would be nice if Python added checks for restrictions at the most, party mode I don't care much about.

[2016-06-15 16:45] MSReporter opened #172 "Left Click vehicle exit conflicts with crane"
cant use magnet

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-06-22 00:00] PotcFdk commented on #73
I don't think so. If there's any current issue with cinema lights, please re-open.

[2016-06-22 00:00] #73 closed, assigned to nobody

[2016-06-22 00:01] PotcFdk commented on #165
Is this still happening? I haven't been observing this further.

[2016-06-22 13:15] MSReporter opened #173 "coin loss bug"
when ppl joins the server they can lost all the coins by simply collect 1 coin with 1 in vaule and they'll lost all the dosh .-. i feel sorry for qidikun bec i did it to him .-. sorry pal if you're reading this...

Bug reported by '^7Bjoern90 (DEN)' (STEAM_0:1:42844056).

[2016-06-23 00:40] MSReporter opened #174 "Some VGUI text elements render black text when they shouldn't"
This happens in a lot of places, for example when you type !tasks, go to any achievement. You will notice that the description is black/dark, even though it should be white-ish.

The relevant code line is:

`ADesc:SetTextColor(Color(240,240,240,255))`

The code didn't change, but apparently something else must have changed the behavior.
Adding a `print(ADesc.SetTextColor, ADesc:GetTextColor())` di

[2016-06-23 00:40] PotcFdk commented on #174
@Python1320 maybe?

[2016-06-23 04:19] Lixquid commented on #173
Upside down bjoern strikes again .-.

[2016-06-23 04:23] Lixquid commented on #173
Also would it kill you to use some semblance of the English language in bug reports, we need to know what the steps are to reproduce the problem and affected areas, not who you "feel sorry for bec you did it to them".

[2016-06-23 19:15] Tenrys commented on #173
Should be fixed by now, please tell if not.

[2016-06-23 19:15] #173 closed, assigned to nobody

[2016-06-23 19:16] Tenrys commented on #173
I'm not sure Bjoern even knows where the hell his bug reports go, or if he has an account here, so it's probably better to tell him that directly instead of here.

[2016-06-23 19:24] ghost commented on #173
there appears to be a bjoern90 github account but i'm not quite sure if it's him

[2016-06-24 14:39] Tenrys commented on #174
Fixed, it was an issue in Metastruct's skin.

[2016-06-24 14:39] #174 closed, assigned to nobody

[2016-06-24 14:46] Tenrys commented on #171
Closed, I suppose that's not an issue, except if that's the case even in party mode

[2016-06-24 14:46] #171 closed, assigned to Python1320

[2016-06-24 14:49] Tenrys commented on #154
I would really want this fixed, I can't "qu rehash" server 1 myself due to some dumb issue with my ISP.

[2016-06-24 14:50] Tenrys commented on #132
Is this done @LUModder ?

[2016-06-24 14:52] Tenrys commented on #69
I think that's fixed, I saw a commit made not too long ago to make it work with maps that don't have an env_sun entity. You could try it it out and give us results?

[2016-06-24 14:55] Tenrys commented on #101
What does "booting" mean exactly?

[2016-06-24 14:55] #98 closed, assigned to nobody

[2016-06-24 14:58] Tenrys commented on #89
I remember seeing this get fixed. Please re-open if this is still an issue.

[2016-06-24 14:58] #89 closed, assigned to nobody

[2016-06-24 15:02] Tenrys commented on #74
@LUModder added this a while ago I think?

[2016-06-24 15:02] #74 closed, assigned to Cynosphere

[2016-06-24 15:03] Tenrys commented on #67
Did they end yet?

[2016-06-24 15:03] Tenrys commented on #63
I don't recall this being an issue anymore.

[2016-06-24 15:03] #63 closed, assigned to Tenrys

[2016-06-24 15:04] Tenrys commented on #36
I think you've had a bit of free time since then @LUModder

[2016-06-24 15:05] Tenrys commented on #25
Fixed since then I think

[2016-06-24 15:05] #25 closed

[2016-06-24 15:10] Tenrys commented on #63
Also nice, assigning ME in particular even though there were other developers capable of fixing it.

[2016-06-24 15:17] bmwalters commented on #67
Nope.

[2016-06-24 15:18] Tenrys commented on #94
Fixed.

[2016-06-24 15:18] #94 closed, assigned to Tenrys

[2016-06-24 15:27] Cynosphere commented on #132
Forgot about it :v

[2016-06-26 16:45] MSReporter opened #175 "Coin Request for E2 spams EPOE"
People have figured out a way to just give one coin to it and spam it thug triggering EPOE's safeguards and causing lag

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-06-27 09:19] ghost commented on #140
yus. der is something else.
When lights from lightCreate() are parented and then the parented to object is destroyed the light counter does not decrease so it thinks I'm at max lights but really I have no lights spawned, it might be the same as the holos not spawning glitch.
Also, it should verify if the light is real else it will try to use a null entity sometimes.
for(I = 1,50){
holoCreate(I,ent

[2016-06-29 15:27] Cynosphere commented on #5
Fixed via mapdata commit 2743

[2016-06-29 15:27] #5 closed

[2016-06-29 15:29] Tenrys commented on #170
deleted

[2016-06-29 15:29] #170 closed, assigned to Cynosphere

[2016-07-02 18:13] ghost opened #176 "RP Flag"
It would be nice to know if a person is in RP by looking at the scoreboard.
I teleported to a guy I thought was making lag and scared him because he was in RP. XD
It could look like this or worse I don't care.
http://i.imgur.com/DS4mhhy.png huehuehue.

[2016-07-02 18:31] notcake commented on #176
I vote for a weed icon

[2016-07-02 21:50] knoxed commented on #176
I thought you couldnt teleport to people in RP unless you were in RP too?

[2016-07-02 22:46] Cynosphere commented on #166
vote was made to remove custom player models in favor for outfitter, why isn't this done yet?

[2016-07-02 23:13] ghost commented on #176
No you can't teleport to anyone in RP.

[2016-07-03 02:01] SpiralP commented on #166
:cat: :cat2: :joy_cat:

[2016-07-03 08:54] ghost commented on #141
Spawn an invisible prop of the same model but slightly bigger and without collisions to everything but can still be hit by bullets and wait for that to explode. :boom: :bamboo:

[2016-07-06 14:23] ghost opened #177 "MSA name overlap"
This isn't much of a problem but why not use a horse shoe shape for this: http://i.imgur.com/wKMop88.jpg instead of the circle shape.
Two lines would work too.
Or just filter the colour codes.

[2016-07-06 14:41] Cynosphere commented on #177
might as well release the steps to doing the exploit to get into msa then if you're going to complain about the screen

[2016-07-06 16:23] Zeni44 commented on #177
[e2 intensifies]

[2016-07-06 17:39] Cynosphere commented on #177
wasn't e2, it's with sitting and being able to crouch walk between brushes and empty space

[2016-07-06 23:10] ghost commented on #177
Wrong again, LUA MODDER.ಠ_ಠ

[2016-07-06 23:14] Cynosphere commented on #177
ffs that's not even the origin of my name, and it's not wrong, that's how it's done to get into MSA, sitting on bookcase, getting stuck in wall, crouch walking, move over to the other wall, sit on the edge of it, unsit, boom in the back of msa

[2016-07-06 23:31] KabusDev opened #178 "tod lighting on props"
apparently this didnt used to be a problem but certain props dont follow tod lighting,
resulting in a fullbright look
examples
build:
![](http://i.imgur.com/1dW1eBU.jpg)

zen:
![](http://i.imgur.com/iFCIfHj.jpg)
![](http://i.imgur.com/sQ3cLAA.jpg)

is there a fix for this that i dont know of hammer wise or is this something to do with tod?

`Flex edit: embeded images`

[2016-07-07 09:41] ghost commented on #177
That isn't how I did it is what I meant, but it doesn't matter all that matters is there is a mistake.

[2016-07-07 10:09] PotcFdk commented on #177
It does matter though; I'd appreciate it if you submitted your way as a separate issue.

[2016-07-07 22:43] ghost opened #179 "MSA Exploit"
How to get in to MSA:
[1] spawn the E2 chip.
[2] sit on plate that spawns
[3] press x
[4] get off while the chairs around it are fizzing out (in the last moments of them fizzing out)
[5] wonder how i found this out
[6] look at all the classified information that isn't there

Here have a code.
@name fizz
@persist T:entity Pos:vector Array:array
runOnKeys(owner(),1)
if(first()){
T=propSpawn("models/

[2016-07-08 20:03] MSReporter opened #180 "TP to some one in rp zone"
I know how to tp to someone in an RP soon if you're in a building area. it's easy all you have to do is kill yourslef stay dead and double click a player on a tap the tab menu and then you're there. thanks -blueangel512

Bug reported by '[NN] blueangel512' (STEAM_0:1:116947843).

[2016-07-08 20:47] Cynosphere commented on #180
also can be done for reviving in rp where you just go somewhere, die and then do .back

[2016-07-09 13:13] MSReporter opened #181 "Tv gui"
if you are lissoning to tv then type vgui_cleanup 1 then the song brakes and screan go even if its not your tv.

Bug reported by '[NN] blueangel512' (STEAM_0:1:116947843).

[2016-07-09 13:28] #75 closed, assigned to nobody

[2016-07-09 13:30] #91 closed, assigned to nobody

[2016-07-09 13:31] #106 closed, assigned to Cynosphere

[2016-07-09 16:12] Techbot121 commented on #181
Translation:

If you're using PlayX and then use vgui_cleanup 1 the current video stops even if it's not your own.

Seems like a clientside "issue" not sure if playx_enabled 0 then back to 1 fixes it but maybe have a command like !fixplayer to reload playx players you're subscribed to.

[2016-07-09 16:46] Cynosphere commented on #181
Will try to add playx and mediaplayer to the blacklist for vgui_cleanup

[2016-07-09 18:33] ghost commented on #181
Blacklisted it.

[2016-07-09 18:33] #181 closed, assigned to nobody

[2016-07-09 19:09] TW1STaL1CKY commented on #176
Done, "In RP" on the scoreboard is represented by a gun icon now.

(I can't close issues help)

[2016-07-09 19:11] #176 closed, assigned to nobody

[2016-07-10 05:26] Tenrys commented on #181
also add socketdev panel?

[2016-07-10 05:27] Cynosphere commented on #181
yes please add socketdev

[2016-07-10 11:37] ghost commented on #181
why does it use a panel and not a think hook

[2016-07-10 12:24] ghost commented on #181
Done.

[2016-07-11 23:49] MSReporter opened #182 "Outfitter: Console spam when "Only load outfits from friends" is enabled"
http://i.imgur.com/GeS0T4t.jpg

If a non-friend is using an outfit and you have "Only load outfits from friends" enabled, it prints the lines shown in the image every second per player in range.

Bug reported by 'TW1STaL1CKY' (STEAM_0:0:33106902).

[2016-07-12 21:26] Python1320 commented on #75
mapdata offsets should be relative to a landmark, but a system for this is still pending :(

[2016-07-13 22:36] ghost opened #183 "Picker2 or Drones glitch, Drones drone on after being deleted and leave little flexes behind"
I had picker2 on and noticed a drone shape cluster of flexes. I spawned like 100 drones and removed them and they weren't even being recycled.
http://i.imgur.com/WGjFvYJ.jpg
The problem up close: http://i.imgur.com/DQNXQY2.jpg

Average FPS for all clients didn't seem to change though[.](url)

[2016-07-14 10:56] MSReporter opened #184 "bag dance"
If you type !dance then when your danceing you press C then you screan goes all fucked up xD

Bug reported by '<color=10,10,250>BlueAngel512' (STEAM_0:1:116947843).

[2016-07-14 16:33] Cynosphere commented on #184
issue reporting level: bjoern

honestly these reports are as useless

[2016-07-14 16:33] Cynosphere commented on #182
looks like left over debug printing

[2016-07-14 16:34] #183 closed, assigned to nobody

[2016-07-14 16:34] Cynosphere commented on #183
not even a bug, just a "joke" directed at me

[2016-07-14 16:46] Techbot121 commented on #182
there is actually a convar for it
`outfitter_dbg 0/1`

[2016-07-17 17:46] MSReporter opened #185 "UTime with cross-server causes doubling"
pl._crossutimes_sum returns the player's total UTime
pl:GetUTimeTotalTime() takes the total UTime and adds on pl._crossutimes_sum
When this happens the times are doubled causing !playtime to report higher numbers than it should
Scoreboard unaffected.

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-07-17 17:51] Cynosphere commented on #185
Playtime report:
![](https://flexbox.xyz/ShareX/2016/07/hl2_2016-07-17_10-47-31.png)

That divided by 2 gives 2931.75, my possible server 1 hours

What scoreboard reports:
![](https://flexbox.xyz/ShareX/2016/07/hl2_2016-07-17_10-48-45.png)

2989 is what pl._crossutimes_sum/60/60 reports, which is server 2 hours added to server 1 hours, scoreboard reports 2990 because of rounding.

[2016-07-17 17:53] Cynosphere commented on #185
Scoreboard checks if UTimeTotalTime is valid but uses pl:GetUTime() + CurTime() - pl:GetUTimeStart()

[2016-07-17 17:56] MSReporter opened #186 "Prop protection owner overlay should use nicks and not original player names"
The prop protection overlay shows original player names and should either show nicknames or both so it's easier for devs to clean up people

Bug reported by '<color=0,150,130>Flex' (STEAM_0:0:58178275).

[2016-07-17 17:57] Cynosphere commented on #185
Fixed via srvaddons 12659 by Google

[2016-07-17 17:57] #185 closed, assigned to nobody

[2016-07-17 18:01] Cynosphere commented on #172
Left click vehicle exit has been removed for a while now

[2016-07-17 18:01] #172 closed, assigned to nobody

[2016-07-17 18:02] #126 closed, assigned to nobody

[2016-07-17 18:03] Cynosphere commented on #134
reopen if still valid

[2016-07-17 18:03] #134 closed, assigned to nobody

[2016-07-17 18:03] Cynosphere commented on #180
assuming this was fixed already

reopen if I'm wrong

[2016-07-17 18:03] #180 closed, assigned to nobody

[2016-07-17 18:05] Cynosphere commented on #165
There just doesn't seem to be a way to detect it because the chatprinted name change is a steam name change but it never shows with the nickname change if the player has a nickname already

[2016-07-18 00:06] ghost opened #187 "Too many RT cameras"
RT cameras can be can spammed past the prop limit.
http://i.imgur.com/GGLwZ4Q.jpg - 314 cameras. eek.
Also spams EPOE.

[2016-07-19 01:24] Cynosphere commented on #187
How do you know it spams EPOE? Care to explain that too?

[2016-07-19 09:34] ghost commented on #187
When you create an RT camera the spooky ppl with epoe know.

[2016-07-19 11:23] PotcFdk commented on #184
I'm sure most Garry's Mod players know what this is about, @LUModder.
If you don't, just try it out.

(Note: I don't know whether this should/needs to be worked on, but that's what should be decided, not "herp derp useless".)

[2016-07-19 12:05] knoxed commented on #186
Now shows nickname if there is one.
srvaddons rev 12674

[2016-07-19 12:05] #186 closed, assigned to nobody

[2016-07-19 16:01] Cynosphere commented on #187
Doesn't matter, I want to know how you have EPOE access

[2016-07-19 16:02] Cynosphere commented on #184
But it's not a bug, it's a feature of either CTP or something else.

[2016-07-20 12:51] ghost commented on #184
you misunderstood the bug report, if you have the context menu open while dancing the screen spazzes out

[2016-07-20 12:54] ghost commented on #187
**he doesn't**
people with epoe access him told him to stop spamming it

[2016-07-20 13:01] TW1STaL1CKY commented on #187
The only reason it was spamming EPOE was because he was using a script to do it.

[2016-07-22 22:14] MSReporter opened #188 "Local chat thingy still displays for gagged users"
![img](https://b.catgirlsare.sexy/MQI9.png)

Bug reported by 'Ghosty' (STEAM_0:0:62588856).

[2016-07-24 21:32] ghost commented on #187
You need to stop assuming things flex lol

[2016-08-03 15:24] TW1STaL1CKY opened #189 "MSAvehicles error when sitting in the crane"
Can't find the source file myself, so I'll post the error here.

Both occur when entering the crane:

[code]

For reference: the crane's vehicle entity name is "prop_vehicle_crane".

[2016-08-03 17:34] KabusDev commented on #107
I can create a 18+ room, it could be added to the lobby or as a televator area, depending on what people would like

[2016-08-03 22:39] KabusDev opened #190 "entity size causes players to be able to be pushed outside map"
any pac entity size of players that lower than 1 causes them to be able to be physgunned out of world space
https://dl.dropboxusercontent.com/u/92606679/ShareX/2016/08/2016-08-03_23-36-11.webm

29/10/16: webm unlocatable, issue isn't replicable for me anymore on meta, assuming its fixed

[2016-08-03 23:04] #189 closed, assigned to PotcFdk

[2016-08-05 19:38] TW1STaL1CKY opened #191 "KeyPress "autosit" hook fails when using the chair next to the vending machine"
I don't know what's happening in this file's line, so I'd rather not touch it myself  :s

![Image](http://i.imgur.com/IZqquSV.jpg)

On gm_construct_m_217, using the wooden chair next to the vending machine produces an error on both server and client:

[code]

[2016-08-20 00:22] ghost opened #192 "[LDS] Removed your E2s due high cpu usage."
What is this here for, there is already an extremely limiting ops limit in E2 already and if I thought my E2 was lagging the server I'd delete it. :expressionless: lol pun
http://i.imgur.com/5S9FoHw.jpg "my god what are you doing"

[2016-08-21 13:03] MSReporter opened #193 "Player kill display."
If people with the same nick kill each other it shows as a suicide, also killing multiple people with the same name only shows deaths for the first person with that name.

Bug reported by '<color=0,191,255>Not Mike' (STEAM_0:1:80004288).

[2016-08-22 16:38] #182 closed, assigned to nobody

[2016-08-22 21:14] TW1STaL1CKY opened #194 "Fishing Mod errors when players join, breaks fishing"
Each time a player spawns in, the server gives this error:

[code]

Trying to equip the fishing rod after does this and removes the rod

[code]

Python says "blame @PotcFdk"

[2016-08-23 20:21] PotcFdk commented on #194
Reverted the servers to the master branch for now. I'll investigate this bug, fix it, and move the server back onto the branch.

[2016-08-23 20:21] #194 closed, assigned to PotcFdk

[2016-08-28 21:17] MSReporter opened #195 "Failed to load sound "chatsounds\autoadd\...""
Somebody decided that it'd be a good idea to hardcode chatsounds filepaths in srvaddons code. This leads to errors such as this one:

`Failed to load sound "chatsounds\autoadd\lixquid\squiddistress\fescape2.ogg", file probably missing from disk/repository`

At least the following file is causing this type of errors: `srvaddons\KeyCode\lua\codes\woomy.lua`.

Bug reported by 'PotcFdk' (STEAM_0:1:304

[2016-09-01 16:45] TW1STaL1CKY commented on #195
@Lixquid wants his squids

[2016-09-03 10:57] Lixquid commented on #195
TODO: fix

[2016-09-14 21:09] MSReporter opened #196 "Wiremod"
repeater repeating replacing

Bug reported by '<color=36,0,130>holz' (STEAM_0:1:5897).

[2016-09-15 02:21] MSReporter opened #197 "just submitting a bug to get to the bug page"
just submitting a bug to get to the bug page

Bug reported by '<color=36,0,130>holz' (STEAM_0:1:5897).

[2016-09-15 11:57] Zeni44 commented on #197
banned

[2016-09-15 11:58] knoxed commented on #197
Not a valid issue. Closing it.

[2016-09-15 11:58] #197 closed, assigned to nobody

[2016-09-15 18:16] PotcFdk commented on #196
I... I don't follow you.

[2016-09-17 16:27] PotcFdk commented on #166
I've been doing some outfitter testing and I guess it's okay these days.

[2016-09-17 16:27] #166 closed, assigned to PotcFdk

[2016-09-18 16:05] TW1STaL1CKY commented on #196
He showed me this and I told him to report it, but he hasn't put much at all... I took a few screenshots before it was removed, but I wasn't able to look into detail how it was wired.

Here is what he had:
![Setup](https://dl.dropboxusercontent.com/u/204143210/ShareXScn/2016-09/2016-09-18_16-41-15.png)
If I remember correctly, it was 2 Repeat Wire Gates, a Replace Wite Gate, a constant string Wire

[2016-09-18 17:46] notcake commented on #196
it's a feature

[2016-09-23 13:47] ghost commented on #192
gone

[2016-09-23 13:47] #192 closed, assigned to nobody

[2016-10-18 22:04] EccentricManuals opened #198 "Outfitter cache loading failed"
Sorry if this isn't the right place to put this but I encountered a strange bug with outfitter. I was loading a playermodel with it when my game crashed. When I attempted to re-load it, I was met with a script error along with the console reporting that the cache file had failed to load. Here's some screenshots:
<a href="http://imgur.com/MYmHkcA"><img src="http://i.imgur.com/MYmHkcA.jpg?1" title="

[2016-10-19 15:32] MSReporter opened #199 "PAC - CTRL+E not working"
Control + e doesnt open the editor

Bug reported by 'holz' (STEAM_0:1:5897).

[2016-10-19 16:25] Zeni44 commented on #199
amazing

[2016-10-20 00:04] elijah-h-lgtm commented on #199
amazing

[2016-11-01 13:42] MSReporter opened #200 "Lua Screen Error: rnd3.lua: recursecomments (rnd3.lua:26: attempt to index a nil value)"
[ERROR] lua/lua_screens/screens/rnd3.lua:26: attempt to index a nil value
  1. recursecomments - lua/lua_screens/screens/rnd3.lua:26
   2. recursecomments - lua/lua_screens/screens/rnd3.lua:48
    3. recursecomments - lua/lua_screens/screens/rnd3.lua:48
     4. recursecomments - lua/lua_screens/screens/rnd3.lua:48
      5. recursecomments - lua/lua_screens/screens/rnd3.lua:48
       6. recursecomm

[2016-11-16 21:50] MSReporter opened #201 "Lua Screen - Steam Group Comments"
Sometimes it doesn't load.

[ERROR] lua/lua_screens/screens/rnd3.lua:26: attempt to index a nil value
  1. recursecomments - lua/lua_screens/screens/rnd3.lua:26
   2. recursecomments - lua/lua_screens/screens/rnd3.lua:48
    3. recursecomments - lua/lua_screens/screens/rnd3.lua:48
     4. recursecomments - lua/lua_screens/screens/rnd3.lua:48
      5. recursecomments - lua/lua_screens/screens/rnd3.

[2016-11-16 22:50] notcake commented on #201
you're holding it wrong

[2016-11-16 22:55] PotcFdk commented on #201
duplicate of #200

[2016-11-16 22:55] #201 closed, assigned to nobody

[2017-01-21 01:41] KabusDev opened #202 "logilock opens after one failed attempt"
this has been broken for like 2+ years

[2017-01-21 10:23] Noiwex commented on #202
it will be removed

On Sat, Jan 21, 2017 at 4:41 AM, James <notifications@github.com> wrote:

[2017-01-23 03:22] MSReporter opened #203 "NetObj '%s' received invalid id %d%s"
NetObj '%s' received invalid id %d%s

Bug reported by 'holz' (STEAM_0:1:5897).

[2017-01-23 03:22] MSReporter opened #204 "NetObj '%s' received invalid id %d%s"
NetObj '%s' received invalid id %d%s

Bug reported by 'holz' (STEAM_0:1:5897).

[2017-01-23 03:22] MSReporter opened #205 "NetObj '%s' received invalid id %d%s"
NetObj '%s' received invalid id %d%s

Bug reported by 'holz' (STEAM_0:1:5897).

[2017-01-23 03:22] MSReporter opened #206 "NetObj '%s' received invalid id %d%s"
NetObj '%s' received invalid id %d%s

Bug reported by 'holz' (STEAM_0:1:5897).

[2017-01-23 07:39] PotcFdk commented on #204
Duplicate of #203.

[2017-01-23 07:39] #204 closed, assigned to nobody

[2017-01-23 07:39] PotcFdk commented on #205
Duplicate of #203.

[2017-01-23 07:39] #205 closed, assigned to nobody

[2017-01-23 07:40] PotcFdk commented on #206
Duplicate of #203.

[2017-01-23 07:40] #206 closed, assigned to nobody

[2017-01-23 07:40] PotcFdk commented on #203
What exactly is this?

[2017-01-23 07:41] PotcFdk commented on #200
Should be fixed. Re-open if it isn't.

[2017-01-23 07:41] #200 closed, assigned to nobody

[2017-01-23 15:38] Zeni44 commented on #203
Did you really have to report the same issue 4 times.

[2017-01-23 16:21] #199 closed, assigned to nobody

[2017-01-23 16:32] Techbot121 commented on #191
doesn't seem to happen anymore

[2017-01-23 16:32] #191 closed, assigned to nobody

[2017-01-23 20:24] Noiwex commented on #203
probably pac related

[2017-02-15 00:10] MSReporter opened #207 "Outfitter: Remaining time display is wrong"
It just said
`[Outfitter] you need to wait before sending a new outfit (-2.265625 s remaining)`

There shouldn't be a negative time remaining. Either the calculation/logic or the display/message is off.

Bug reported by 'PotcFdk' (STEAM_0:1:30490065).

[2017-02-25 15:05] PotcFdk commented on #21
@ArcticFqx some videos (e.g. https://www.youtube.com/watch?v=2f1g6qsa05E) now fail to play inside PlayX, I think this is because the JWPlayer that we use is outdated. As it seems to be hosted on your box, can you perhaps see if you can get the .swf updated?

**update:** that's not the reason, I'll investigate this; as for this issue, I think we can close this based on [this explanation](https://gi

[2017-02-25 15:23] #21 closed

[2017-02-28 12:28] Noiwex commented on #21
mediaplayer works without flash

[2017-02-28 12:30] Noiwex commented on #125
What's the status on this?

[2017-02-28 12:32] Noiwex commented on #82
It won't be effective and it's not even worth the hassle. Everything that is sent to client is technically stolen already by GMod client.

[2017-02-28 12:32] #82 closed, assigned to nobody

[2017-02-28 12:33] Noiwex commented on #182
Why does this setting even exist to begin with.

[2017-04-05 09:50] KabusDev commented on #178
Fixed by changing certain props that are in large areas selectively by making them dynamic in hammer.

[2017-04-05 09:50] #178 closed, assigned to nobody

[2017-04-20 03:13] MSReporter opened #208 "E2 Rope Crash"
Roping an entity to yourself and then the entity to the chip causes a crash.

Bug reported by 'Peter' (STEAM_0:1:5897).

[2017-07-07 13:09] Python1320 opened #209 "[Regression] Christmas tree will spawn into fountain"

[2017-07-07 13:09] Python1320 opened #210 "[Regression] NPCs won't sit"

[2017-07-07 13:10] Python1320 opened #211 "[Regression] DOND location is wrong"

[2017-07-07 13:12] Python1320 commented on #203
you cannot get that error.
[code]

[2017-07-07 13:12] #203 closed, assigned to nobody

[2017-07-07 13:13] #207 closed, assigned to nobody

[2017-07-07 13:14] Python1320 commented on #149
should have been fixed long ago

[2017-07-07 13:14] #149 closed, assigned to nobody

[2017-07-07 13:24] Python1320 commented on #193
Normal Garry's Mod should have this problem too, see https://github.com/Facepunch/garrysmod/blob/784cd57576d85712fa13a7cea3a9523b4df966b0/garrysmod/gamemodes/base/gamemode/cl_deathnotice.lua#L142

[2017-07-07 13:24] #193 closed, assigned to nobody

[2017-07-07 13:25] #154 closed, assigned to Python1320

[2017-07-07 15:25] Python1320 opened #212 "adrenaline syringe gets you through msa blockage"

[2017-07-07 15:30] Python1320 commented on #196
Partially fixed by https://github.com/wiremod/wire/commit/4f3353461ed817f9b90636c395c198df961bbd14

[2017-07-07 15:30] #196 closed, assigned to nobody

[2017-07-07 15:31] Python1320 commented on #103
long hold undo to undo all, proper menu no one will bother

[2017-07-07 15:31] #103 closed, assigned to nobody

[2017-08-01 21:55] MSReporter opened #213 "potcfdk"
potcfdk likes anime.
FIX: NOW.

Bug reported by '<color=127,121,73>Egr^4On^12Wire' (STEAM_0:0:50050701).

[2017-08-01 21:55] MSReporter opened #214 "wwwwwwwwwwwwwwwwwwwwwww"
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww

Bug reported by 'Herbas' (STEAM_0:0:1076251).

[2017-08-01 21:56] PotcFdk commented on #214
Thanks.

[2017-08-01 21:56] #214 closed, assigned to nobody

[2017-08-01 21:56] #213 closed, assigned to nobody

[2017-09-02 22:43] MSReporter opened #215 "Your title is too short."
Your description is too short.

Bug reported by 'SpiralP' (STEAM_0:1:29289722).

[2017-09-02 22:44] MSReporter opened #216 "Getting up from Sit Anywhere causes crazy physics with equipped inventory"
Repro:
Equip something in inventory
Sit anywhere
Get up (Triggering crazy physics and losing the item)

Thank you for the fine server that is metastruct.
Glad to help.

Bug reported by 'PlNG' (STEAM_0:1:27456944).

[2017-09-02 23:25] Techbot121 commented on #215
Your Comment is too short.

[2017-09-03 04:03] SpiralP commented on #215
Closing for being too short.

[2017-09-03 04:03] #215 closed, assigned to nobody

[2017-10-29 18:19] Etothepowerof26 opened #217 "you can go to candies"
title says all
!goto sent_candy
.goto sent_candy
/goto sent_candy
!go sent_candy
.go sent_candy
/go sent_candy

[2017-10-29 18:20] Etothepowerof26 commented on #217
nevermind you cant now

[2017-10-29 18:20] #217 closed, assigned to nobody

[2017-11-04 16:38] Python1320 commented on #216
@Xerasin

[2017-11-04 16:38] #211 closed, assigned to nobody

[2017-11-05 00:15] MSReporter opened #218 "banni"
even tenrys banned me with the dumb reason "alt of bjoern90" i can still run luas with lua_openscripct_cl https://i.imgur.com/JSR3eO5.jpg also can i get unbanned from bug reporter on my real account?

Bug reported by '^7Shekel Man' (STEAM_0:0:147724421).

[2017-11-05 00:54] Tenrys commented on #218
no

[2017-11-06 13:44] KabusDev commented on #218
shoo

[2017-11-06 13:45] #190 closed, assigned to nobody

[2017-11-06 18:29] PotcFdk commented on #218
Can somebody explain what this means?

[2017-11-06 19:48] Tenrys commented on #218
bjoern wants his alt unbanned and to be able to report bugs on github with his real account again

[2017-11-07 21:25] PotcFdk commented on #218
Is that the entire purpose of this issue? There was something related to lua_openscript_cl, which was what I was referring to.

[2017-11-08 04:10] Tenrys commented on #218
I guess he's saying the issue is that he can still run clientside Lua when banned using lua_openscript_cl.

[2017-11-08 23:32] PotcFdk commented on #218
I'll deal with the blacklist thing,
@Python1320 review the Lua running issue (if it's okay to run Lua while banned, that's an acceptable resolution, too, but pls post one kthx)

[2017-11-09 09:27] PotcFdk commented on #218
Unblacklisted.

[2017-11-11 13:22] Etothepowerof26 commented on #218
i thought you could still run lua editor scripts while your banned
last time i tried was when i got banned from rtd

[2017-11-16 18:08] MSReporter opened #219 "bug about easylua and aowl, i guess"
so, basically if you goto #us using aowl, it says "AOWL: INTERNAL ERROR", no errors anywhere, easily reproducible. not too much of a important bug

Bug reported by '<color=177,64,64,196>loser' (STEAM_0:1:104332977).

[2017-11-20 15:01] MSReporter opened #220 "adding a item to backpack many times before its removed seems to duplicate the item"
[code]
to reproduce it

![and a gif of it working](https://my.mixtape.moe/dgkbsw.gif)

Bug reported by '<color=231,10,46,225>loser' (STEAM_0:1:104332977).

[2017-11-21 14:54] Myaats commented on #220
Should be fixed from the next server restart, feel free to reopen if the problem persists

[2017-11-21 14:54] #220 closed, assigned to nobody

[2017-11-21 15:03] Myaats commented on #219
This is not a bug, it's a feature

[2017-11-21 15:03] #219 closed, assigned to nobody

[2017-12-18 18:39] MSReporter opened #221 "e2ignore"
e2ignore #all errors

[Hook] ChatCommand -> "ignoree2" failed: lua/autorun/client/richtextx.lua:306: bad argument #3 to 'InsertColorChangeReal' (number expected, got function)

Bug reported by 'loser' (STEAM_0:1:104332977).

[2017-12-23 04:59] MSReporter opened #222 "rp goto"
meh we can't !goto rp it sends us somewhere else

Bug reported by '^7Bjoern90' (STEAM_0:1:42844056).

[2017-12-23 08:55] MSReporter opened #223 "scoreboard bug"
[ERROR] lua/scoreboard/modules/player_panel.lua:860: attempt to compare number with boolean
  1. unknown - lua/scoreboard/modules/player_panel.lua:860

when pressing tab

Bug reported by '^7Bjoern90' (STEAM_0:1:42844056).

[2017-12-23 09:08] Techbot121 commented on #223
this was already fixed the server just needs a restart.

[2017-12-23 09:08] #223 closed, assigned to nobody

[2017-12-23 09:24] Techbot121 commented on #222
fixed with rev 14281

[2017-12-23 09:24] #222 closed, assigned to nobody

[2017-12-26 19:41] Myaats commented on #209
fountain has been removed
closing

[2017-12-26 19:41] #209 closed, assigned to nobody

[2017-12-26 19:56] Myaats commented on #221
it's because #all resolves to a  metatable with __call with player's not e2 chips.
not a bug, it's a feature

[2017-12-26 19:56] #221 closed, assigned to nobody

[2017-12-28 14:24] Python1320 commented on #218
You are allowed to run lua while banned. Making it not possible is impossible as you could have added a command before, before being restricted, that runs lua.

[2017-12-28 14:24] #218 closed, assigned to Python1320

[2018-01-03 22:41] Tenrys commented on #202
is this still happening

[2018-01-03 22:43] Tenrys commented on #168
haha good luck with the current scoreboard structure, I have tried.

[2018-01-03 22:44] Tenrys commented on #102
I beleive that has bee done in an optional clientside addon now available

[2018-01-04 14:52] KabusDev commented on #202
yes

[2018-01-11 22:57] ghost opened #224 "Starfall under 1000 hours"
starfall is given out to anyone who wants it anyway, why bother with the whitelist?
other servers that have SF unrestricted are fine.
nooboids will instead have to use E2 which is slower.
only around 2 people know the remaining exploits asfarasiknow.exe.

servers that use sterfall unrestricted from starfallex discord:
FC 'n Northern Train Build, Modern Build Server, TheBox, Ozonic, WireBuild, Awes

[2018-01-11 23:02] ghost opened #225 "Strange entity lag from Starfall"
in other servers starfall can do o(n) gravity with applyForceCenter without much of a problem, but in meta it is laggy.

possible causes:
- debug.sethook infinite loop protection
- bad metatables on entities
- easylua doing strange things
- detours
- snakes
- c++ modules
- :cactus:
- meta using old sf code
- penetration testing (not the spooky kind)

[2018-01-12 01:10] ajloveslily14 commented on #225
My best guess is 🌵

[2018-01-12 06:49] EgrOnWire commented on #225
![cactus](http://onlycactus.ru/wp-content/uploads/2008/05/echinocactus_grus.jpg)

[2018-01-14 03:15] MSReporter opened #226 "MSA Garage Elevator is broken"
It doesn't have proper collision and you fall through.

Bug reported by 'PotcFdk' (STEAM_0:1:30490065).

[2018-01-17 13:02] KabusDev commented on #226
this was @Earu

[2018-01-17 14:06] Earu commented on #226
its not permanent

[2018-01-17 14:06] #226 closed, assigned to nobody

[2018-01-21 00:38] MSReporter opened #227 "f3 machine broken"
this shitty bug happed if i want to open my inv https://i.imgur.com/AToR3nl.png

Bug reported by '^7Bjoern90' (STEAM_0:1:42844056).

[2018-01-29 01:37] MSReporter opened #228 "Expression2 coin extension errors"
When you use moneyRequest() an error gets thrown, code used is here

    Player = owner()
    moneyRequest(Player,1)

error thrown is

    sv: Expression 2 (generic): entities/gmod_wire_expression2/core/custom/sv_moneyrequest_tylerb.lua:49: attempt to index global 'caller' (a nil value)

Note that every variation of the function errors, and requesting from other players also throws the error

Bug

[2018-01-29 14:37] Myaats commented on #228
I guess this is related to the cooldown feature added by @ToastyEngineer some days ago

[2018-01-29 14:37] Tenrys commented on #228
Yes

[2018-01-29 14:40] Myaats commented on #228
should be fixed after next rehash + server restart, re-open if the issue presists

[2018-01-29 14:40] #228 closed, assigned to nobody

[2018-01-30 15:51] MSReporter opened #229 "mining rocks"
the rocks can somehow be unfrozen? https://i.imgur.com/dTTFtsa.jpg

Bug reported by '^7Bjoern90' (STEAM_0:1:42844056).

[2018-02-03 20:08] ghost opened #230 "Ban abuse, ban length limit, restrict bans from ADMINS"
people are constantly getting banned for months and years for non serious things such as PAC stealing, exploits that didn't work and being misidentified as a troll.
500 hours is enough and should be considered harsh but some people are being banned for 2 years.
unban threads are being ignored and not even considered.
eventually, the only people left will be the people who get away with things by n

[2018-02-03 20:24] Zeni44 commented on #230
![thonk](https://user-images.githubusercontent.com/11852198/35771167-8cdf3f84-0928-11e8-8051-80ce6a23c6a0.png)

[2018-02-04 12:48] PotcFdk commented on #230
[Show me an unban request that has no comments](https://steamcommunity.com/groups/metastruct/discussions/1/).

[2018-02-04 20:25] AwfulRanger opened #231 "UndecorateNick doesn't remove "se" tags"
![image](https://user-images.githubusercontent.com/10349312/35781983-4b55fa0c-09bf-11e8-9c86-8b1918274ee6.png)

[2018-02-04 23:45] Zeni44 commented on #231
Fixed in latest commit

[2018-02-04 23:45] #231 closed, assigned to nobody

[2018-02-05 08:28] MSReporter opened #232 "Chatsounds throwing error when typing in chat"
[Hook] PostRenderVGUI -> "chatsounds_autocomplete" failed: lua/includes/enum/fontsex.lua:20: attempt to index local 'k' (a number value)
    stack traceback:
    lua/includes/enum/fontsex.lua:20: in function 'CreateFont'
    lua/chatsounds/capsadmins_font_cache_thing.lua:7: in function 'create_fonts'
    lua/chatsounds/capsadmins_font_cache_thing.lua:55: in function 'chatsounds_DrawPrettyText'

[2018-02-05 08:42] ajloveslily14 commented on #232
update: it seems to have to do with fonts alltogether

[code]

[2018-02-05 08:56] ajloveslily14 commented on #232
nevermind it turns out im retarded and just needed to relog

[2018-02-05 15:21] #232 closed, assigned to nobody

[2018-02-05 22:04] GalaxyOfWaffles commented on #230
no conclusions are being made by the people in charge.

[2018-02-05 22:09] ghost commented on #230
bans should need to be reviewed and talked about before they happen.
this is going nowhere.

[2018-02-05 22:09] #230 closed, assigned to nobody

[2018-02-06 03:57] MSReporter opened #233 "console spam"
i get those shit when i see a error model on a player https://i.imgur.com/vLjGZ1a.png maybe it's the updated coh that spams it?

Bug reported by '^7Bjoern90' (STEAM_0:1:42844056).

[2018-02-06 04:17] SpiralP commented on #233
fix

[2018-02-06 04:17] #233 closed, assigned to nobody

[2018-02-08 19:33] Vahinkolaukausosuma opened #234 "restrict bhop speed in rp like it was before rp temporary removal"

[2018-02-08 21:25] Tenrys commented on #234
blame SpiralP for this

[2018-02-08 21:54] ajloveslily14 commented on #234
I don't see why this is an issue, everyone can bhop there so it's an even playing field

[2018-02-08 22:04] Vahinkolaukausosuma commented on #234
The weapons in gmod are absolute shite, "most" of the hits dont register. More hits register if the target isn't going 9000 u/s

[2018-02-08 22:36] ajloveslily14 commented on #234
Sounds like an excuse for bad aim

[2018-02-08 22:41] Vahinkolaukausosuma commented on #234
your mom have gay

[2018-02-08 22:49] Tenrys commented on #234
I don't see how having players going around at lightspeed levels makes anything fun

[2018-02-08 22:50] aminpeck commented on #234
I suggest that bhopping speeds be restricted to something reasonable, instead of what we've had in the past.

[2018-02-08 22:58] ajloveslily14 commented on #234
I don't really see how anything matters everyone and their mother just uses an aimbot in rp anyways

[2018-02-09 05:37] h3xcat commented on #234
Should add CAC for RP area.

[2018-02-09 10:02] BlueCyro commented on #234
That would be a huge waste of time, nobody actually RP's in the RP area, it's a DM area with no rules.

[2018-02-09 15:46] Tenrys commented on #234
Someone can't detect sarcasm. In my opinion, I don't really see the point of having a DM area if everything is meant to frustrate you.

[2018-02-10 17:28] MSReporter opened #235 "Remove the HSV sin color (aka. rainbow)"
The problem is these rainbow names can be annoying to your eyes.
You can make the limit or remove the sin completely. Thanks in advance.

Bug reported by '<c=FFD777>innoJ' (STEAM_0:1:62957165).

[2018-02-10 17:30] ghost commented on #235
or make hsv names not appliable to nicks

[2018-02-10 17:34] Vahinkolaukausosuma commented on #235
chathud_markup_hsv 0

[2018-02-10 17:35] ghost commented on #235
ok thanks

[2018-02-10 17:35] Vahinkolaukausosuma commented on #235
h

[2018-02-10 19:29] Myaats commented on #235
Use the convar as already mentioned to disable it

[2018-02-10 19:29] #235 closed, assigned to nobody

[2018-02-11 13:52] MSReporter opened #236 ""rnd3" lua screen bug on #2"
[ERROR] lua/lua_screens/screens/rnd3.lua:26: attempt to index a nil value
  1. recursecomments - lua/lua_screens/screens/rnd3.lua:26
   2. recursecomments - lua/lua_screens/screens/rnd3.lua:48
    3. recursecomments - lua/lua_screens/screens/rnd3.lua:48
     4. recursecomments - lua/lua_screens/screens/rnd3.lua:48
      5. recursecomments - lua/lua_screens/screens/rnd3.lua:48
       6. recursecomm

[2018-02-11 13:54] bjoern90 commented on #236
cuz you're playing on old map

[2018-02-11 13:55] ghost commented on #236
Problem figured out, you can close the issue.

[2018-02-11 15:23] #236 closed, assigned to nobody

[2018-02-11 15:24] Myaats commented on #227
this should have been fixed by 14360, re-open if it still happens

[2018-02-11 15:24] #227 closed, assigned to nobody

[2018-02-11 15:53] Myaats commented on #216
fixed with Metastruct/Sit-Anywhere@ff5230abf5a3a068bad37c0e45f61f6df880f932

[2018-02-11 15:53] #216 closed, assigned to Python1320, Xerasin

[2018-02-11 17:08] Myaats commented on #202
should be fixed after the next server restart, re-open if the issue persists

[2018-02-11 17:08] #202 closed, assigned to nobody

[2018-02-11 17:20] Myaats commented on #132
3 lines of code later and this has been added :bullettrain_front:

[2018-02-11 17:20] #132 closed, assigned to nobody

[2018-02-11 17:21] Myaats commented on #175
a ratelimit has been added to the coin request system in general so it should not apply anymore

[2018-02-11 17:21] #175 closed, assigned to nobody

[2018-02-11 17:35] Myaats commented on #184
fixed after next server restart

[2018-02-11 17:35] #184 closed, assigned to nobody

[2018-02-12 14:21] Myaats commented on #187
should have been fixed with Metastruct/wire-extras@f64b09899df32ba9151babb6b9ceaf615ad1522c

[2018-02-12 14:21] #187 closed, assigned to nobody

[2018-02-12 14:26] #179 closed, assigned to nobody

[2018-02-13 03:09] MSReporter opened #237 "CMaterial::DrawElements: No bound shade"
CMaterial::PrecacheVars: error loading vmt file for sunabouzu/elevator_roof
CMaterial::PrecacheVars: error loading vmt file for sunabouzu/elevator_roof
CMaterial::PrecacheVars: error loading vmt file for sunabouzu/elevator_roof
CMaterial::PrecacheVars: error loading vmt file for sunabouzu/elevator_roof
CMaterial::PrecacheVars: error loading vmt file for sunabouzu/elevator_roof
CMaterial::PrecacheV

[2018-02-13 05:57] Myaats commented on #237
This is probably related to the material being packaged in the map file I guess

[2018-02-13 13:27] MSReporter opened #238 "the rainbows do disable on chathud, but..."
the rainbows do disable on chathud, but not on scoreboard deathmessages, nametags, etc.

make the convars or remove the tag.
https://i.imgur.com/wP6GOia.gif

Bug reported by '^11' (STEAM_0:1:62957165).

[2018-02-15 17:35] MSReporter opened #239 "starfall permission"
some reason i lost the sf permisson gib it back plox

Bug reported by '^7Bjoern90' (STEAM_0:1:42844056).

[2018-02-15 17:40] Earu commented on #239
Not an issue, time permission has been removed.

[2018-02-15 17:40] #239 closed, assigned to nobody

[2018-02-15 17:50] SpiralP commented on #239
so we no longer allow starfall on our server?

[2018-02-15 18:15] h3xcat commented on #239
Only through `sf_allow` pdata.

[2018-02-15 19:14] SpiralP commented on #239
I'm pretty sure our server is for having fun and coding; why was it removed?

[2018-02-15 19:21] EggrollWireson commented on #239
~exploits~

__moneh jewing__

[2018-02-16 00:11] Tenrys commented on #239
because only skids use it and you can exploit it to do stuff like giving yourself dev, so.

[2018-02-16 21:03] Python1320 commented on #234
People complain so there is demand. Our job is to figure out how to make it less frustrating.

My short term solution is to disable bunnyhop but maybe with some sort of powerup for temporary fastrun because the area is so big otherwise and running fast is fun crysis style.

Also another short term solution is to add voting to players whether they play fairly or not and boot those that get enough n

[2018-02-16 21:52] ajloveslily14 commented on #234
Depending on how bhopping is done could't we make it so if you're in rp you can only bhop to a certain speed? That's slower than mach 4 like normal?

[2018-02-16 23:16] Vahinkolaukausosuma commented on #234
autojump_speed

[2018-02-17 06:08] Tenrys commented on #234
Personally I can't be assed to deal with RP anymore, when something one meta changes it ends up breaking its flow one way or another. And I think it's unbalanced and unfun in general.

[2018-02-17 12:05] Myaats commented on #234
I suggest that we lower the max bhop speed in rp while still making it faster that you normally can, some kind of a compromise

[2018-02-17 13:25] BlueCyro commented on #225
You're gonna have to describe it better than just "laggy". It seems to work fine.

[2018-02-17 14:04] MSReporter opened #240 "sprayv2 is very buggy"
sometime i see this on the menu https://i.imgur.com/Ri3KzGY.png but the bird is my pic but the others is replaced for some reason... and the werid weegee should be a folder to lead other pics .-.

Bug reported by '^7Bjoern90' (STEAM_0:1:42844056).

[2018-02-17 17:22] Python1320 commented on #234
Maybe default sandbox bunnyhop where you can only bunnyhop backwards

[2018-02-17 17:24] AwfulRanger commented on #234
https://github.com/Facepunch/garrysmod/pull/984 not anymore you can't.

[2018-02-18 14:34] MSReporter opened #241 "masks is shit"
https://i.imgur.com/HJa8wxS.png the :stop: is the red stopsign but no "pinkguy" in chat and the trollface is like a steamicon maybe a fix could be gud

Bug reported by '^7Bjoern90' (STEAM_0:1:42844056).

[2018-02-18 14:34] bjoern90 commented on #241
the trollface looks like this in chat https://i.imgur.com/Iyekirc.png

[2018-02-19 20:41] PotcFdk commented on #165
This is probably not happening anymore. Re-open if it does.

[2018-02-19 20:41] #165 closed, assigned to nobody

[2018-02-19 20:43] PotcFdk commented on #67
They did.

[2018-02-19 20:43] #67 closed, assigned to nobody

[2018-02-19 20:45] PotcFdk commented on #90
@Python1320 / @Metastruct/mappers
What's the status on this?

[2018-02-19 20:46] PotcFdk commented on #97
Assuming fixed. If not, re-open or create a new issue.

[2018-02-19 20:46] #97 closed, assigned to nobody

[2018-02-19 20:48] #101 closed, assigned to nobody

[2018-02-19 20:51] #102 closed, assigned to nobody

[2018-02-19 20:52] PotcFdk commented on #107
@KabusIblis what's the status on the map side of things?

[2018-02-19 21:24] PotcFdk commented on #109
Idea: Could be realized similarly to the !bug command. A Metastruct GitHub user would create a Gist with the code and add an additional ACL file to allow the original author (and possibly more players as defined by the ACL) to edit/update the Gist.

[2018-02-19 21:56] PotcFdk opened #242 "Achievement: buggy doors"
The buggy doors achievement is buggy. Check if it has been removed and find out what to do with it if it hasn't.

[2018-02-19 21:57] PotcFdk opened #243 "Achievement: traveller"
Check the status of the traveller achievement and/or update the server list.

[2018-02-19 22:05] PotcFdk opened #244 "Make metastruct-specific MetaWorks code accessible to regular developers"
Metastruct-specific things like MetAchievement and Badge modules can profit from being accessible by regular Meta Construct developers.
Move them to srvaddons or a seperate Git repository and open access.

[2018-02-19 22:13] ajloveslily14 commented on #242
The achievement has been compleatly removed from the folder of achievements.

[2018-02-19 22:14] ajloveslily14 commented on #243
Currently the achievement requires you to have visited servers 1,2 and 3 which I believe doesn't exist.

[2018-02-19 22:16] PotcFdk commented on #242
Seems to be gone since 2015. I have no idea why people have mentioned it.

[2018-02-19 22:16] #242 closed, assigned to PotcFdk

[2018-02-19 22:22] KabusDev commented on #107
the nightclub I created was intended to be the 18+ room, I'll make it a televator room and re-add it to the map if thats acceptable

[2018-02-19 22:25] KabusDev commented on #90
No info hit nodes are present on the lobby map, it's beyond me how these work

[2018-02-19 22:36] ajloveslily14 opened #245 "Achievement: Grove Street Tag"
Doesn't seem to be catching people placing sprays between the cords, and on m3ta the cords are in the world to it can't be gotten

[2018-02-19 22:38] PotcFdk commented on #245
@Techbot121 didn't you change the coordinates recently? Maybe take a look at it if you want. You don't have to, though.

[2018-02-19 22:48] Techbot121 commented on #245
yea I was planning on using a landmark later though

[2018-02-20 00:08] ajloveslily14 commented on #107
There's a system in meta that pops up an "are you 18+" question box maybe that could be used too

[2018-02-20 19:02] Myaats commented on #241
can you please describe the issue properly, this just looks like a shitpost

[2018-02-20 19:43] ghost commented on #241
Well, he wants an "trollface" emote and "pinkguy" emote, because for some/most part of the emotes are from Steam.
(so sorry)

[2018-02-20 19:45] ghost commented on #243
3rd server exists.
http://sharex.wicop33.xyz/hl2_2018-02-20_22-45-35.png

[2018-02-20 19:46] ghost commented on #243
But I'm pretty sure it doesn't run code for achievements and other MetaWorks stuff.

[2018-02-20 20:40] aminpeck commented on #241
Essentially, what he's expecting is something like https://i.imgur.com/ErDhYfP.png (the Discord server emote) but he instead gets https://i.imgur.com/PlnSfsu.png (the standard Garry's Mod emote).

[2018-02-21 08:12] Myaats commented on #90
These are all in mapdata and need to be done manually, I can probably help Kabus find the right offset so we can make this map based @KabusIblis ?

[2018-02-21 08:13] Myaats commented on #210
Fixed

[2018-02-21 08:13] #210 closed, assigned to nobody

[2018-02-21 08:21] Myaats commented on #97
I remember I changed some of the inventory logic to avoid atleast one type of duplicaton, I hope it is the same

[2018-02-21 08:24] Myaats commented on #225
Metastruct has a lot of code detouring everything physics related for doing sanity checks. Do not expect this to get better any time soon

[2018-02-21 08:25] Myaats commented on #224
loud no

[2018-02-21 08:25] #224 closed, assigned to nobody

[2018-02-21 09:13] Tenrys commented on #241
The :trollface: mask is something I added a long time ago for some reason when I thought it was funny.
(and for some reason it's a thing on github?)

[2018-02-21 12:04] ghost commented on #241
tenrys isn't joking, that is a thing on github https://assets-cdn.github.com/images/icons/emoji/trollface.png

[2018-02-21 12:05] Tenrys commented on #241
![](https://tenrys.pw/ShareX/2018/Feb/2tJf.png)

[2018-02-22 03:57] KabusDev commented on #90
likely offsetting existing nodes would be easier than me placing nodes in hammer and praying they work

[2018-02-22 13:40] MSReporter opened #246 "inventory bug"
why do i see this when i do print table on my iventory
https://i.imgur.com/XnP14cU.png
when i see this as nothing at all?
https://i.imgur.com/tCLtcoa.png

why not just clean up when there's no such as item name?

Bug reported by '^7Bjoern90' (STEAM_0:1:42844056).

[2018-02-22 14:38] Myaats commented on #246
in case it was just a loading bug auto deleting non-existant inventory items is really risky, so this is not a bug

[2018-02-22 14:38] #246 closed, assigned to nobody

[2018-02-22 18:06] MSReporter opened #247 "map televator bug"
https://i.imgur.com/St2vL0e.png
Room: Management

Bug reported by '<color=225,70,95>zocyri' (STEAM_0:1:62957165).

[2018-02-24 02:52] MSReporter opened #248 "lua/entities/propellerengine/cl_init.lua:285: bad argument #1 to 'max' (number expected, got nil)"
[ERROR] lua/entities/propellerengine/cl_init.lua:285: bad argument #1 to 'max' (number expected, got nil)
  1. max - [C]:-1
   2. CalculateSounds - lua/entities/propellerengine/cl_init.lua:285
    3. unknown - lua/entities/propellerengine/cl_init.lua:328

Bug reported by 'SpiralP' (STEAM_0:1:29289722).

[2018-02-24 04:14] MSReporter opened #249 "[Hook] CanPlyGoto -> "ms" failed: lua/metastruct/logics/sv_restrictions.lua:6: attempt to index a string value with bad key ('IsValid' is not part of the string library)"
[Hook] CanPlyGoto -> "ms" failed: lua/metastruct/logics/sv_restrictions.lua:6: attempt to index a string value with bad key ('IsValid' is not part of the string library)
stack traceback:
        [C]: in function 'error'
        lua/includes/extensions/string.lua:297: in function '__index'
        lua/metastruct/logics/sv_restrictions.lua:6: in function 'func'
        lua/includes/modules/hook.lua:

[2018-02-25 12:26] Myaats commented on #247
![image](https://user-images.githubusercontent.com/6295090/36641417-681efaa0-1a2f-11e8-9406-6c3c36f553f4.png)
I guess you have to wait for the next map compile

[2018-02-25 12:26] #247 closed, assigned to KabusDev

[2018-02-25 12:40] Myaats commented on #241
fixed with revision 14462

[2018-02-25 12:40] #241 closed, assigned to nobody

[2018-02-25 12:52] Myaats commented on #195
That keycode file seems to have been removed, and there are no other mentions of the sound file anywhere in the repo. Closing

[2018-02-25 12:52] #195 closed, assigned to nobody

[2018-02-25 13:19] ghost commented on #238
It was fixed "years ago".

[2018-02-25 13:19] #238 closed, assigned to nobody

[2018-02-25 13:24] ghost opened #250 "Small-sized PAC's lets you get through the MSA room entrance"
How to:
1. Make a small-sized PAC. (size < 1)
2. Slowly walk to the entrance, so you'll stand next to the entrance.
3. Run and quickly `aowl tp`

[2018-02-27 02:49] MSReporter opened #251 "lua/msascripts/area_access_cards.lua:29: attempt to index local 'weapon' (a nil value)"
lua/msascripts/area_access_cards.lua:29: attempt to index local 'weapon' (a nil value)
  1. MSAHasAccess - lua/msascripts/area_access_cards.lua:29
   2. func - lua/metastruct/triggers/msa_area.lua:16
    3. unknown - lua/entities/lua_trigger_base/init.lua:290

Bug reported by 'SpiralP' (STEAM_0:1:29289722).

[2018-02-27 09:16] PotcFdk commented on #251
Should be fixed.

[2018-02-27 09:16] #251 closed, assigned to PotcFdk

[2018-02-28 19:25] ghost commented on #177
hey look it got changed http://sharex.wicop33.xyz/hl2_2018-02-28_22-25-53.png

[2018-02-28 19:29] #177 closed, assigned to nobody

[2018-02-28 19:45] MSReporter opened #252 "lua/entities/ent_fallingplat"
lua/entities/ent_fallingplatform/init.lua:370: attempt to index field 'GhostEnt' (a nil value)
  1. SPGhostOut - lua/entities/ent_fallingplatform/init.lua:370
   2. LosePlate - lua/entities/ent_fallingplatform/init.lua:436
    3. unknown - lua/entities/ent_fallingplatform/init.lua:399

Bug reported by 'noyesthat' (STEAM_0:1:62957165).

[2018-02-28 19:46] bjoern90 commented on #252
and remove this spam
Crazy origin on entity [-1][class C_BaseFlex]
	Origin:           [3577.468750, 2559.468750, -16389.818359]
	Angles:           [-67.891403, 32.018303, 329.997223]
	Velocity:         [0.000000, 0.000000, -1165.715088]
	Angular Velocity: [7.800922, 51.225674, -2.549795]
Defusing!
Removing!
 blame nak anyways

[2018-02-28 19:48] ghost commented on #252
Sorry, @bjoern90 , but your comment was removed, because the comment is not linked in any way to this issue.
Create an separate issue instead.

View the comment here: http://sharex.wicop33.xyz/chrome_2018-02-28_22-47-32.png

[2018-02-28 20:07] bjoern90 commented on #252
eugh k

[2018-03-01 01:00] MSReporter opened #253 "rp shit"
the advent thing still shows when gagging ppl https://i.imgur.com/zWZoaVR.png

Bug reported by '^7Bjoern90' (STEAM_0:1:42844056).

[2018-03-01 01:06] ajloveslily14 commented on #253
You can only advert and ooc once per session anyways, who cares. Instead of being petty, learn to ignore people. Most have for you.

[2018-03-01 01:12] bjoern90 commented on #253
salty as always

[2018-03-01 10:09] PotcFdk commented on #252
@Nak2

[2018-03-01 10:11] PotcFdk commented on #253
Well, if it's a bug/not intended, we should. If it is not, why not just close instead of `whiny-cunts`?

[2018-03-01 10:55] bjoern90 commented on #253
yes its a bug do you think its a shitpost?

[2018-03-01 11:07] ghost commented on #253
It's not a bug, neither shitpost.
Can you please learn how to ignore people?

[2018-03-01 11:08] bjoern90 commented on #253
how can i when they’re gagged?

[2018-03-01 11:10] bjoern90 commented on #253
#DevsDontGiveAFuckAboutBugs

[2018-03-01 11:11] aminpeck commented on #253
I highly suggest that this issue be closed, as this is not considered a bug, plus the conversation has **spiralled out of control.**

[2018-03-01 12:39] #253 closed, assigned to nobody

[2018-03-02 10:51] MSReporter opened #254 "[NET] poll: lua/includes/extensions/net.lua:249: net.ReadType: Couldn't read type 83"
[NET] poll: lua/includes/extensions/net.lua:249: net.ReadType: Couldn't read type 83
stack traceback:
	[C]: in function 'error'
	lua/includes/extensions/net.lua:249: in function 'ReadType'
	lua/includes/extensions/net.lua:190: in function 'ReadTable'
	lua/lua_screens/screens/poll.lua:511: in function <lua/lua_screens/screens/poll.lua:508>
	[C]: in function 'xpcall'
	lua/includes/extensions/net.lua

[2018-03-02 13:12] Myaats commented on #254
@Tenrys

[2018-03-02 14:48] azephiris commented on #254
self.author = nil when loading polls that doesn't have author nick

[2018-03-02 17:00] Tenrys commented on #254
i bet the server didn't even restart

[2018-03-02 17:08] ghost commented on #254
fixed with revision 3599

[2018-03-02 17:08] #254 closed, assigned to nobody

[2018-03-02 19:39] Nak2 commented on #252
I'll take a look at it. Atm I think its best to remove the minigame, as it isn't the only bug reported and I kinda burned out on StormFox support. I'll look at it in this weekend.

[2018-03-03 17:37] MSReporter opened #255 "spamming scap bind and exiting scap will cause screen to "stick""
having a key bound to "scap" and spamming the bind while also exiting scap will cause the screen brought up by scap to stick; disconnect to fix

Bug reported by '<color=51,0,221>homonovus' (STEAM_0:0:41908082).

[2018-03-05 01:22] MSReporter opened #256 "Players that are actively banni are still able to get metachievements"
one's ive noticed are rehash, lag, and path of the righteous man

Bug reported by 'Some_Beach' (STEAM_0:1:55684109).

[2018-03-05 13:45] aminpeck commented on #256
This has been around for a good few years, so it's pretty likely it isn't a bug, although it is **entirely possible** banned players could be prohibited from getting achievements in the future.

[2018-03-05 15:06] MSReporter opened #257 "goto locations are messed up"
when i go to the "fish", instead of sending me to the fishing area, it sends me somewhere in the lobby.
when i type fully "fishing", it sends me to random player??

Bug reported by ':you:' (STEAM_0:1:62957165).

[2018-03-05 15:08] bjoern90 commented on #257
cuz there's no fishing area on m3ta map https://i.imgur.com/TfZHTzQ.png

[2018-03-05 15:17] bjoern90 commented on #257
https://i.imgur.com/nZGJcgG.png knew it there's no goto fish marks

[2018-03-05 17:16] Myaats commented on #257
Bjoern is right

[2018-03-05 17:16] #257 closed, assigned to nobody

[2018-03-05 21:20] ajloveslily14 commented on #256
It used to be that if you were banni once you got blacklisted from the cheevo system but that was changed because of false bans or something

[2018-03-06 10:21] PotcFdk commented on #256
I personally think that it's not a big deal if banned players can get achievements.
There are two ways of changing the current behavior that would make sense to me:

1. Preventing all unlocks while a player is banned.
2. Preventing only the escape-from-hell one, because a ban kinda pushes you in that direction (i.e. helps you to unlock it), and I'm generally trying to avoid these things (e.g. gett

[2018-03-06 11:39] aminpeck commented on #256
From my POV, I think light restrictions on achievements for banned players are the way to go, so I'm going with option 2.

[2018-03-06 22:09] ajloveslily14 commented on #256
Yeah number 2 seems good.

[2018-03-07 01:08] MSReporter opened #258 "Screen error (Entity [1973][lua_screen], rnd1): (ERR) lua/demomen/captcha.lua:7: attempt to call global 'PrecacheArc' (a nil value)"
Screen error (Entity [1973][lua_screen], rnd1): (ERR) lua/demomen/captcha.lua:7: attempt to call global 'PrecacheArc' (a nil value)

Bug reported by 'Some_Beach' (STEAM_0:1:55684109).

[2018-03-07 20:45] MSReporter opened #259 "FOV Bug."
When you ever do the FOV command. It resets when you equip any SWEP (switch from weapons)

Bug reported by '<hsv=[time()*1e6]>Kai' (STEAM_0:0:37634106).

[2018-03-07 20:46] loserVEVO commented on #259
Literally unplayable, this fix resolves all issues and fixes uptime.

[2018-03-07 20:50] loserVEVO commented on #250
Literally unplayable, this fix resolves all issues and fixes uptime.

[2018-03-07 20:51] Techbot121 commented on #259
whatever,

Only fix I can see for this is by checking for the fov override in sh_visuals.lua

[2018-03-07 22:46] Techbot121 opened #260 "game.MountGMA not following specifications"
see mountgmahack.lua

which results in errors when PAC tries to mount the gma's.

[2018-03-08 19:17] PotcFdk commented on #256
Fixed in metastruct r3622

[2018-03-08 19:17] #256 closed, assigned to PotcFdk

[2018-03-08 19:20] PotcFdk commented on #243
Apparently that achievement module just uses MetaWorks' server list, which has recently been updated/fixed.

[2018-03-08 19:20] #243 closed, assigned to nobody

[2018-03-08 19:35] PotcFdk opened #261 "Mine entry hole visleafs"
When you're high enough, it looks like this, which is fine I guess
![grafik](https://user-images.githubusercontent.com/3160048/37171988-d68e9c78-230f-11e8-99fe-468e1d679c04.png)
but further down, it turns invisibru
![grafik](https://user-images.githubusercontent.com/3160048/37172028-f481f1a8-230f-11e8-966f-673e08765fb6.png)
\<engage mode="project manager"\>I'm not a mapper, but can't you get that

[2018-03-09 21:47] #260 closed, assigned to nobody

[2018-03-10 18:08] PotcFdk commented on #244
Done. It's now in the Meta Construct team at the threekelvin GitLab.

[2018-03-10 18:08] #244 closed, assigned to PotcFdk

[2018-03-11 16:20] aminpeck opened #262 "Banned players are capable of votekicking other players."
It has recently come to my attention that banned players are capable of votekicking other players, **despite the fact that they are clearly banned**. Bug or not, this is something that should be fully addressed and patched if possible.

[2018-03-11 16:22] ajloveslily14 commented on #262
I'll fix it as soon as my game loads lol

[2018-03-11 16:41] ajloveslily14 commented on #262
Seems to already be in, not sure wtf happened

[2018-03-11 16:42] aminpeck commented on #262
Considering this closed until the bug arises again.

[2018-03-11 16:42] #262 closed, assigned to nobody

[2018-03-12 15:13] MSReporter opened #263 "Bouncing back while bhopping"
Lately I've noticed that you get pushed/bounced back while bhopping, seemingly randomly.
Is this a bug or a feature?
If it's a feature, provide an option to revert back to the old behavior.

Bug reported by 'PotcFdk' (STEAM_0:1:30490065).

[2018-03-12 15:41] ghost commented on #263
I'm pretty sure the issue was causing SpiralP's persistent lua script.
Check EPOE logs when the player spawns.

[2018-03-12 17:39] Myaats commented on #263
I think this is the double jump script, iirc someone removed the sound from it

[2018-03-12 18:02] ajloveslily14 commented on #263
It's been like this for a while now, it plays the sound as if you were looking straight down.

[2018-03-12 21:38] homonovus commented on #263
this has been a thing since i first came on in like, 2016
the only thing that's changed is its sensitivity when hitting walls

[2018-03-12 23:33] PotcFdk commented on #263
This has definitely not been the case in 2016 @homonovus
@WicopeeDot ugh, good point, that's plausible.
@SpiralP was that you?

[2018-03-13 08:31] Techbot121 commented on #263
no this did happen before, only when autobhop was disabled and you pressed space right when you were about to hit a wall. But yeah it seems as if it's behaving the same as on the PAC server.

[2018-03-14 11:04] PotcFdk commented on #263
I wonder why I never noticed this before, then. Weird. Must be some kind of extreme case of the mandala effect.

[2018-03-14 11:04] #263 closed, assigned to nobody

[2018-03-17 04:18] MSReporter opened #264 "coin(to those who cares about it)"
there's no auto coin spawn witch sera added it for a week ago and now there's none..
someone fix it?

Bug reported by '^7Bjoern90' (STEAM_0:1:42844056).

[2018-03-17 08:51] loserVEVO commented on #264
very detailed, thanks for the issue. will be fixed in the next couple decades.

[2018-03-17 11:07] Tenrys commented on #264
What does that mean in English?

[2018-03-17 13:01] #264 closed, assigned to nobody

[2018-03-17 13:09] Zeni44 commented on #264
From what I've seen in the commits, random coin spawning hasn't been touched in a longer while.
Whatever Sera ran wasn't pushed to the repository unless I missed something.

If you mean something else then I can't make out what you mean.

[2018-03-18 02:47] bjoern90 commented on #264
yep toasty is right

[2018-03-19 11:21] MSReporter opened #265 "seen command should output SteamID"
title says it

Bug reported by 'ï»¿' (STEAM_0:1:104332977).

[2018-03-19 11:34] PotcFdk opened #266 "SQL db could use some vacuuming"
But `VACUUM` results in a syntax error, as does `PRAGMA`.
@Python1320 do you know if the server uses a much, much older and/or restricted version of sqlite compared to clients (where `PRAGMA` works)?
Might need to vacuum out-of-band. Not sure if the bang per buck is high enough to bother.

[2018-03-19 11:48] PotcFdk commented on #266
Update: tried it locally, reduced from 66M down to 58M, I guess it's not really worth the hassle at the moment.

[2018-03-19 13:41] ajloveslily14 commented on #265
That's a good idea tbqhwyf

[2018-03-19 14:13] bjoern90 commented on #265
we had it before and it got removed for some reason

[2018-03-19 14:18] ghost commented on #265
added with revision 14623,14624

[2018-03-19 14:18] #265 closed, assigned to ajloveslily14

[2018-03-19 18:19] MSReporter opened #267 "cooldown for #rnode on goto command"
when you spam "goto #rnode", the server lags very hard

Bug reported by 'loser' (STEAM_0:1:104332977).

[2018-03-25 18:07] MSReporter opened #268 "players spawning in areas dont have variables set on client"
setting password to `GO:area` causes variables to not be set
such as when spawning in zen causes ply.in_zen to not be set

Bug reported by '<color=51,0,221>homonovus' (STEAM_0:0:41908082).

[2018-03-25 18:08] bjoern90 commented on #268
im using the GO:build and it works fine for me

[2018-03-25 18:15] ajloveslily14 commented on #268
you don't understand what the issue is bjoern

[2018-03-25 19:05] Tenrys commented on #268
i'll look into it

On Mar 25, 2018 20:07, Meta Construct Issue Submitter <notifications@github.com> wrote:

setting password to GO:area causes variables to not be set
such as when spawning in zen causes ply.in_zen to not be set

Bug reported by '<color=51,0,221>homonovus' (STEAM_0:0:41908082).

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view i

[2018-03-25 19:08] Python1320 commented on #268
probably LocalPlayer not being valid when the lua_trigger hook gets called.

[2018-03-26 02:06] Tenrys commented on #268
If we're speaking clientside, those values aren't even supposed to be set, as far as I know. It seems to work fine serverside. Only tested with zen.

[2018-03-26 02:11] Tenrys commented on #268
Scratch that.

[2018-03-26 16:52] MSReporter opened #269 "test"
if this works, we are doomed

Bug reported by 'Zeni' (STEAM_0:1:29543208).

[2018-03-26 16:52] #269 closed, assigned to nobody

[2018-03-26 20:47] PotcFdk commented on #269
Note to future visitors: If you do this, you get banned.

[2018-03-26 20:49] Zeni44 commented on #269
Was net messages stuff which you could spam but has been resolved now

[2018-04-01 21:30] ajloveslily14 commented on #245
Seems fixed, at least on the original meta map. Not on M3 though.

[2018-04-02 04:47] ajloveslily14 commented on #36
Done.

[2018-04-02 04:47] #36 closed

[2018-04-02 21:06] PotcFdk commented on #245
Shouldn't this be open, then? M3 is considered the main thing now, isn't it?

[2018-04-03 00:42] ajloveslily14 commented on #245
I am not sure, from what I understand M3 is the beta map

[2018-04-05 09:22] PotcFdk commented on #245
Reopening until somebody (could be me) confirms it works like you'd expect it to work.

[2018-04-09 12:38] MSReporter opened #270 "togglegoto works on banned users"
title literally says it

Bug reported by 'YOU JUST LOST THE GAME' (STEAM_0:1:104332977).

[2018-04-10 08:29] PotcFdk opened #271 "New playtime badge levels"
Currently, we have these:

[code]

TODO:

- [x] Figure out what the currently existing playtime records are
- [ ] Figure out how many (and which) new levels would make sense.
- [ ] Make new icons for these new levels (**help wanted**)

[2018-04-10 12:22] Tenrys commented on #271
I don't see anything wrong with the current ranks, why change?

[2018-04-10 17:05] PotcFdk commented on #271
Because there are players with way more hours. Currently 2000 hours is the maximum level, we could add some more? This has been requested in the past, at least..

[2018-04-11 03:48] Cynosphere commented on #271
I propose at least two

5000 - Time Waster, No Life or something of that nature
10000 - Python1320, as he has the most hours out of everyone and surpassed 10k a while ago

[2018-04-11 10:33] PotcFdk commented on #271
That sounds good so far. Perhaps a 7500 one wouldn't hurt, too.
Suggestions for alternative naming? -> post here
Want to create icons? post here or private message me

[2018-04-12 01:07] MSReporter opened #272 "theatre cubemaps"
reflections in theatre relate to corridoor outside theatre and the televator, add a cubemap for theatre

Bug reported by '<color=255,100,255>kabus' (STEAM_0:1:39423581).

[2018-04-15 21:39] MSReporter opened #273 "Banned players can local (team?) chat"
`15:35 - (TEAM) (Local) cat boy: noo`
![](https://irl.braixen.club/mnh6uyuo.png)

Bug reported by '<color=192,128,255>Cynthia' (STEAM_0:0:58178275).

[2018-04-15 21:40] EggrollWireson commented on #273
It's a feature!:tm:

[2018-04-15 21:40] Zeni44 commented on #273
not a bug

[2018-04-15 21:40] #273 closed, assigned to nobody

[2018-04-26 23:21] ajloveslily14 commented on #261
I think that's because it's an area portal

[2018-04-26 23:24] ajloveslily14 commented on #258
no error anymore but it doesn't render so..

[2018-04-26 23:25] ajloveslily14 commented on #229
Fixed

[2018-04-26 23:25] #229 closed, assigned to nobody

[2018-04-27 00:44] ajloveslily14 commented on #188
I am assuming you mean you can still see messages from people you've gagged, which is no longer the case.

[2018-04-27 00:44] #188 closed, assigned to nobody

[2018-04-27 00:48] ajloveslily14 commented on #141
seems fixed

[2018-04-27 00:48] #141 closed, assigned to nobody

[2018-04-27 00:59] ajloveslily14 commented on #79
Seems fixed

[2018-04-27 00:59] #79 closed, assigned to nobody

[2018-04-27 01:06] ajloveslily14 commented on #198
cannot reproduce, assuming fixed

[2018-04-27 01:06] #198 closed, assigned to Python1320

[2018-04-27 01:09] Cynosphere commented on #255
Can confirm for all the following:
- SCAP bind spam
- imgur bind spam
- SCAP + viewflip
- imgur + viewflip

Issue: RenderScene hook not going away on exit properly

(also you dont need to reconnect to fix, just remove RenderScene.scap and/or RenderScene.imgur)

Undoing hook breaks the following RenderScene hooks:
- RenderScene.highperf: lua/chatbox/tab_lua.lua: 70-114

[2018-04-27 01:11] ajloveslily14 commented on #31
can't reproduce, assuming fixed

[2018-04-27 01:11] #31 closed

[2018-04-27 01:14] ajloveslily14 commented on #270
Fixed

[2018-04-27 01:14] #270 closed, assigned to nobody

[2018-04-27 01:29] ajloveslily14 commented on #250
seems fixed

[2018-04-27 01:29] #250 closed, assigned to nobody

[2018-04-27 01:34] Cynosphere opened #274 "Remove RP nodes from goto #rnode"
You can instantly get on top of the building if you're lucky.

[2018-04-28 20:08] MSReporter opened #275 "newlines are allowed in nicknames"
how could one man have slipped through your forces fingers time and time again how is it possible this is not some agent provocateur or highly trained assassin we are discussing gordon freeman is a theoretical physicist who had hardly earned the distinction of his phd at the time of the black mesa incident i have good reason to believe that in the intervening years he was in a state that precluded

[2018-04-28 20:19] Zeni44 commented on #275
Fixed

[2018-04-28 20:19] #275 closed, assigned to nobody

[2018-05-01 11:43] MSReporter opened #276 "rp chat shits bypasses the gag"
ppl can still send me messages with rp occ/ads n shit https://i.imgur.com/0PMo2fe.png getting triggered how loser wont stop leaving me alone for some reason.

Bug reported by '<color=255,255,255><se=coin20cent>^7Bjoern⁹⁰' (STEAM_0:1:42844056).

[2018-05-01 11:43] loserVEVO commented on #276
how do engles yes

[2018-05-01 11:47] jule14 commented on #276
Why does /ooc or /advert even exist

[2018-05-01 11:50] aminpeck opened #277 "Bhop contrail size."
I've noticed that at certain points, bhop contrail sizes tend to glitch out (i.e. getting bigger until it vanishes). I'm uncertain as to what is causing this, but it may be relating to clientside lag.

Screenshots: https://i.imgur.com/6DsGYjq.png https://i.imgur.com/Zmr5Inv.png

EDIT: Issue was (hopefully) fixed by Python1320, this issue is closed until it arises again.

[2018-05-01 22:06] #277 closed, assigned to nobody

[2018-05-01 22:40] ajloveslily14 commented on #276
I feel like this is the second time you've posted this. /ooc and /advert can only be used once per login anyways, stop being so petty and get over it.

[2018-05-02 04:56] bjoern90 commented on #276
but how did loser spam it? :thonk:

[2018-05-02 19:52] Etothepowerof26 commented on #276
6

[2018-05-03 06:31] ajloveslily14 commented on #276
he was able to spam because the command was changed temporarily

[2018-05-03 06:31] #276 closed, assigned to nobody

[2018-06-08 22:06] ajloveslily14 commented on #208
Seems fixed to me/can't reproduce.

[2018-06-08 22:06] #208 closed, assigned to nobody

[2018-06-17 09:51] ajloveslily14 opened #278 "NPC lobby ragdoll colors not retaining after they're killed"
I am not sure if this can even be fixed, maybe with sub materials?

[2018-07-11 15:24] MSReporter opened #279 "coin(whoever cares)"
https://i.imgur.com/aZNcmUu.png coins is a error now

Bug reported by '^7StillJew Bjoern90' (STEAM_0:1:42844056).

[2018-07-11 15:42] Myaats commented on #279
should be fixed after the next server restart

[2018-07-11 15:42] #279 closed, assigned to nobody

[2018-07-21 09:32] MSReporter opened #280 "hoverbike messes up your arm and leg angles sometimes?"
hoverbike messes up your arm and leg angles sometimes?

Bug reported by 'SpiralP' (STEAM_0:1:29289722).

[2018-07-21 09:33] SpiralP commented on #280
http://put.nu/files/CQ0G3YV.png

[2018-07-21 09:33] SpiralP commented on #280
![2018-07-21_02-32-52](https://user-images.githubusercontent.com/2898730/43034275-6e0702ec-8c8e-11e8-8d15-9ce4ba048500.png)

[2018-07-22 02:41] MSReporter opened #281 "lua/autorun/server/penicillium.lua:15: attempt to call method 'SetAllowBuild' (a nil value"
when not on a metastruct map

[code]

`SetAllowBuild` is at lua/metastruct/logics/sh_restrictions.lua:421

@Python1320

Bug reported by 'SpiralP' (STEAM_0:1:29289722).

[2018-07-22 02:53] MSReporter opened #282 "you can't put balloons or other toolgun tools on "surfable" props"
@Python1320

Bug reported by 'SpiralP' (STEAM_0:1:29289722).

[2018-07-22 11:54] Earu commented on #280
Should not happen anymore now, if it keeps doing it blame pac3.

[2018-07-22 11:54] #280 closed, assigned to nobody

[2018-07-22 21:01] SpiralP commented on #282
[code]

[2018-07-22 21:01] #282 closed, assigned to nobody

[2018-07-22 21:08] MSReporter opened #283 "ERR: NextThink: lua/includes/extensions/entity.lua:104: attempt to index local 'mytable' (a nil value)"
Player [1][combine unicorn:D] ERR: NextThink: lua/includes/extensions/entity.lua:104: attempt to index local 'mytable' (a nil value)
stack traceback:
	lua/includes/extensions/entity.lua:104: in function 'CallOnRemove'
	lua/starfall/sflib.lua:52: in function '__newindex'
	lua/starfall/sflib.lua:52: in function <lua/starfall/sflib.lua:52>
	[C]: in function 'xpcall'
	lua/includes/modules/hookextras.l

[2018-07-23 01:11] MSReporter opened #284 "discord relay reconnects every few seconds"
something to due with the timer at `fast_addons/server/discord.lua:191`, the socket state is sometimes CLOSED

something else that's weird is that it says "Ending websocket connection: closed" more than once but it breaks the loop right after one print so??

[code]

Bug reported by 'SpiralP' (STEAM_0:1:29289722).

[2018-07-23 06:48] MSReporter opened #285 "bunny hop bounce back trace hits players sitting on you and other non-solid things"
Your description is too short.

Bug reported by 'SpiralP' (STEAM_0:1:29289722).

[2018-07-23 09:33] ajloveslily14 commented on #285
I'm not even sure why this feature is even in tbh, it's super unreliable and seems to go off randomly and when not wanted

[2018-07-23 09:45] Techbot121 commented on #284
I tried fixing/redoing that part yesterday, but copas didn't want to be friends with me and I gave up after 2 hours of trying.

[2018-07-23 21:22] SpiralP commented on #284
[code]

then doing
`!l for k=1,100 do s:send("hi") end` a bunch, you will see an error about yielding without a coroutine (this will not cause the socket to close)

if we wrap the s:send() in a copas.addthread() coroutine
`!l for k=1,100 do copas.addthread(function() s:send("hi") end) end`
it will not error and it will go down the weird math.random() logic at
https://github.com/Metastruct/copas/bl

[2018-07-23 21:50] SpiralP commented on #284
eh, I just removed the logic, we shouldn't have anything doing "high throughput" in gmod anyways, and if we did it would temporary

https://github.com/Metastruct/copas/commit/25e4c0a4aed621619f47a5112d1e437584b7c1ad

[2018-07-23 21:50] #284 closed, assigned to nobody

[2018-07-24 15:49] MSReporter opened #286 "Party mode can allow the dog's quote button to be moved"
https://i.imgur.com/W0fGtDn.png

When party mode was disabled, I was able to use the gravity gun, transport the button to the televator, and then to the secret build area.

Bug reported by 'twentysix' (STEAM_0:0:70542806).

[2018-07-24 16:10] Etothepowerof26 commented on #286
Close this as it has been fixed.

[2018-07-24 16:10] #286 closed, assigned to nobody

[2018-07-25 01:38] MSReporter opened #287 "add a !tod off command"
asdfffffffffffffffffff

Bug reported by 'SpiralP' (STEAM_0:1:29289722).

[2018-07-25 02:14] SpiralP commented on #287
maybe make it clientside?

[2018-07-25 09:17] bjoern90 commented on #287
many wanted to make tod clinetside and maybe make a tod reset? cuz many devs keeps setting the tod and wont resst when they leave or something.. it triggers me

[2018-07-25 16:27] Zeni44 commented on #287
Clientside tod won't be possible due to the serverside only function `engine.LightStyle`.
It might be possible with a module? Or workarounds such as messing with the rendering?

[2018-07-25 17:03] Etothepowerof26 commented on #287
¯\\_(ツ)_/¯

[2018-07-25 21:40] MSReporter opened #288 "gm_construct_flatgrass_v6-2 (Client's map differs from the server's)"
people say it's different than the workshop one?

Bug reported by 'SpiralP' (STEAM_0:1:29289722).

[2018-07-26 02:58] seagullmania commented on #288
Anyone subscribed to this map will get the error
https://steamcommunity.com/sharedfiles/filedetails/?id=104468359

[2018-07-26 20:58] MSReporter opened #289 "advdupe2 can only paste effects if you're admin"
also happens with normal Duplicator

`!p scripted_ents.GetStored'prop_effect'.t.Spawnable = false` to simulate this bug before a bad temporary fix

Bug reported by 'SpiralP' (STEAM_0:1:29289722).

[2018-08-04 14:42] MSReporter opened #290 "Gilch Killer"
Who did do this

Bug reported by 'Walki' (STEAM_0:0:430502747).

[2018-08-04 14:42] Etothepowerof26 commented on #290
bjoern style comedy

[2018-08-04 14:42] Zeni44 commented on #290
???

[2018-08-04 14:43] Etothepowerof26 commented on #290
lol I'll post the issue they were trying to say

[2018-08-04 14:44] MSReporter opened #291 "Buddha glitch with coil nailgun"
If you are low on health and someone kills you with coil nailgun, you will start spawning a whole bunch of ragdolls, to the point that the server is tanking fps.

Bug reported by 'twentysix' (STEAM_0:0:70542806).

[2018-08-04 14:44] Etothepowerof26 commented on #291
This is what Walki was talking about.

[2018-08-04 14:44] Zeni44 commented on #290
-> #291

[2018-08-04 14:44] #290 closed, assigned to nobody

[2018-08-04 14:47] Etothepowerof26 commented on #291
https://i.imgur.com/GQPZlqe.png

[2018-08-04 14:48] Etothepowerof26 commented on #291
Also prevents you from respawning untill about 300 ragdolls have spawned or that you spammed revive

[2018-08-04 14:50] Zeni44 commented on #291
aren't those only clientside ragdolls

[2018-08-05 02:05] Etothepowerof26 commented on #291
From what it looks like, it has been fixed.

[2018-08-09 22:29] MSReporter opened #292 "can't change map if the server crashes on changelevel"
we could game.SetNextMap, but that's for fallbacks which we can't tell if the next map is going to break or not

Bug reported by 'SpiralP' (STEAM_0:1:29289722).

[2018-08-16 02:43] MSReporter opened #293 "lua editor auto save broke"
[Hook] Think -> "lua_editor_autosave_fave song tables" failed: lua/includes/modules/luacheck.check.lua:133: attempt to index local 'overwriting_node' (a boolean value)
stack traceback:
	lua/includes/modules/luacheck.utils.lua:186: in function '__index'
	lua/includes/modules/luacheck.check.lua:133: in function 'warn_unused_value'
	lua/includes/modules/luacheck.analyze.lua:393: in function 'check_un

[2018-08-16 06:12] ajloveslily14 commented on #293
@SpiralP I believe was the last one to change this

[2018-08-19 11:39] MSReporter opened #294 "epoe.print is buggy"
when doing stuff like epoe.print(UndecorateNick(joff:Name())) it returns this:
Joff 101 158 255 255, !#4, meta ) Joff
what a shitty bug

Bug reported by '^7Bjoern90' (STEAM_0:1:42844056).

[2018-08-19 11:44] bjoern90 commented on #294
just found out it's the UndecorateNick() that's broken

[2018-08-19 11:46] Myaats commented on #294
the UndecorateNick() function is behaving correctly, it is just returning multiple arguments. So please fix your buggy code.

[2018-08-19 11:46] #294 closed, assigned to nobody

[2018-08-26 07:58] #258 closed, assigned to nobody

[2018-08-29 15:00] MSReporter opened #295 "coins on #2"
coins arent synced with server #1 and #2

Bug reported by '^7Bjoern90' (STEAM_0:1:42844056).

[2018-08-29 16:58] ghost commented on #295
that is normal, each of the servers have their own databases, containing player's info about coins, playtime, etc.

that's my theory though,  I don't know how this stuff works

[2018-08-29 18:24] bjoern90 commented on #295
hm they was synced before but ok

[2018-08-30 06:14] ajloveslily14 commented on #295
I think it's because require is still broke on #2

[2018-08-30 06:19] ajloveslily14 commented on #69
Seems pretty fixed to me

[2018-08-30 06:19] #69 closed, assigned to nobody

[2018-08-30 06:20] #70 closed, assigned to notcake

[2018-08-30 16:37] MSReporter opened #296 "area controller"
when you're stuck in a area you can't goto build or lobby or kys the console keeps saying
aowl:
aowl:
aowl:
aowl:
aowl:
when trying !goto build or goto players via scoreboard

Bug reported by '^7Bjoern90' (STEAM_0:1:42844056).

[2018-08-30 16:50] Zeni44 commented on #296
You do realise there is a anti goto option in the area controller right

[2018-08-30 16:53] bjoern90 commented on #296
yeah but what if other users wont remove it?

[2018-08-30 16:54] ghost commented on #296
report or votekick.

[2018-08-30 16:54] bjoern90 commented on #296
well fuck you i can't votekick.

[2018-08-30 21:08] bjoern90 commented on #295
:hype: just fixed it.. close this pplease

[2018-08-30 21:11] #295 closed, assigned to nobody

[2018-08-31 23:07] danielga commented on #295
This happened because the keys that connected the servers between each other were revoked, making them unable to connect and synchronize data. New keys were created and everything's ok now.

[2018-09-01 20:21] Etothepowerof26 commented on #291
After some further testing (not client side ragdolls) it has not been fixed, reopen???

The way I found out how to get out of this state is by clicking a lot to respawn until this effect stops

[2018-09-01 20:22] MSReporter opened #297 "lua/autorun/server/physics_reinit.lua:6: Tried to use a NULL entity!"
lua/autorun/server/physics_reinit.lua:6: Tried to use a NULL entity!
  1. GetPhysicsObject - [C]:-1
   2. CheckSilent - lua/autorun/server/physics_reinit.lua:6
    3. Remove - lua/autorun/server/physics_reinit.lua:46
     4. unknown - lua/weapons/weapon_coilgun.lua:368

Bug reported by '<color=50,50,50>Uniworst' (STEAM_0:1:62957165).

[2018-09-12 08:26] ajloveslily14 commented on #296
Sounds like a personal problem. Maybe you shouldn't have abused it.

[2018-09-12 08:26] #296 closed, assigned to nobody

[2018-09-12 08:27] ajloveslily14 commented on #297
this is part of #291

[2018-09-12 08:30] MSReporter opened #298 "msitems SetColor not working"
for whatever reason the items always endup pink

Bug reported by '<color=207, 110, 90>Some_Beach' (STEAM_0:1:55684109).

[2018-09-12 08:33] ajloveslily14 commented on #278
I think this is basically fixed because the wanderers don't spawn with random colors anymore

[2018-09-12 08:35] #278 closed, assigned to nobody

[2018-09-12 08:43] ajloveslily14 commented on #274
I think this is fixed because you can't use goto while in rp

[2018-09-12 08:43] #274 closed, assigned to nobody

[2018-09-14 15:49] propguardiandarkcide opened #300 "crap server crashes *nix players"
ya ur shit server is people using the *nix ports of gmod
get off ur soyboy normie shit w10 and fix it losers

btw these are the datamining addons im talking about DUMBASS

https://pastebin.com/u/HOOBWHOMSTEALSFILES

[2018-09-14 15:56] Tenrys commented on #300
Get off your high horses nerd

[2018-09-14 15:56] #300 closed

[2018-09-14 16:03] propguardiandarkcide commented on #300
nice degenerate avatar

[2018-09-18 09:38] MSReporter opened #301 "custom emoutes"
well zeni did a temporay fix and he wanted python to fix it but he didnt do it yet https://i.imgur.com/2zhwsGA.png

Bug reported by '^7Bjoern90' (STEAM_0:1:42844056).

[2018-09-18 09:59] Zeni44 commented on #301
For more Info:
Python made the 3dsmileys use URLImage instead of FastDL. Chathud still uses the FastDL version but they never get downloaded anymore

[2018-09-18 13:37] MSReporter opened #302 "Broken Mediaplayer"
Yesterday, mediaplayer has been working properly. Now, it just doesn't want to show videos from Youtube at all. It doesn't say anything, it just says that "this browser doesn't support html5"..

Bug reported by '<hsv=[10+(20*sin(t()*12))]>Max<color=0,0,0>Spec' (STEAM_0:1:61600180).

[2018-09-18 15:07] ghost commented on #302
MediaPlayer related, not Metastruct issue.

Create an issue here: https://github.com/samuelmaddock/gm-mediaplayer